@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.addDrawerAnimationWrapper {
  height: 100%;
  animation: slideIn 150ms forwards;
}
