@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles,
.plasmic_default_styles:where(.global_chrome_override),
.plasmic_default_styles:where(.global_googleSource_override),
.plasmic_default_styles:where(.global_buttonType_dashed) {
  --mixin-qlfCr6Oy-UMZ_font-family: "Inter", sans-serif;
  --mixin-qlfCr6Oy-UMZ_font-size: 14px;
  --mixin-qlfCr6Oy-UMZ_font-weight: 400;
  --mixin-qlfCr6Oy-UMZ_font-style: normal;
  --mixin-qlfCr6Oy-UMZ_color: #535353;
  --mixin-qlfCr6Oy-UMZ_text-align: left;
  --mixin-qlfCr6Oy-UMZ_text-transform: none;
  --mixin-qlfCr6Oy-UMZ_line-height: 1.5;
  --mixin-qlfCr6Oy-UMZ_letter-spacing: normal;
  --mixin-qlfCr6Oy-UMZ_white-space: pre-wrap;
  --mixin-qlfCr6Oy-UMZ_user-select: text;
  --mixin-qlfCr6Oy-UMZ_text-decoration-line: none;
  --mixin-qlfCr6Oy-UMZ_text-overflow: clip;
  --mixin-2MQUhdev0JeZ_color: #000000;
  --mixin-2MQUhdev0JeZ_font-weight: 600;
  --mixin-2MQUhdev0JeZ_font-size: 40px;
  --mixin-2MQUhdev0JeZ_line-height: 1;
  --mixin-2MQUhdev0JeZ_letter-spacing: -1px;
  --mixin-2MQUhdev0JeZ_white-space: pre-wrap;
  --mixin-KD_OJbthxDpC_color: #000000;
  --mixin-KD_OJbthxDpC_font-size: 30px;
  --mixin-KD_OJbthxDpC_font-weight: 600;
  --mixin-KD_OJbthxDpC_line-height: 1.1;
  --mixin-KD_OJbthxDpC_white-space: pre-wrap;
  --mixin-qdWfxXceV9UM_color: #0070f3;
  --mixin-qdWfxXceV9UM_white-space: pre-wrap;
  --mixin-Ewvw-aUJYZQe_color: #000000;
  --mixin-Ewvw-aUJYZQe_font-size: 24px;
  --mixin-Ewvw-aUJYZQe_font-weight: 600;
  --mixin-Ewvw-aUJYZQe_line-height: 1.2;
  --mixin-Ewvw-aUJYZQe_white-space: pre-wrap;
  --mixin-p-uiUb7dShpW_color: #000000;
  --mixin-p-uiUb7dShpW_font-size: 20px;
  --mixin-p-uiUb7dShpW_font-weight: 600;
  --mixin-p-uiUb7dShpW_line-height: 1.3;
  --mixin-p-uiUb7dShpW_white-space: pre-wrap;
  --mixin-ZtMDzaxY2aqw_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-ZtMDzaxY2aqw_border-bottom-color: #dddddd;
  --mixin-ZtMDzaxY2aqw_border-bottom-style: solid;
  --mixin-ZtMDzaxY2aqw_border-bottom-width: 1px;
  --mixin-ZtMDzaxY2aqw_border-left-color: #dddddd;
  --mixin-ZtMDzaxY2aqw_border-left-style: solid;
  --mixin-ZtMDzaxY2aqw_border-left-width: 1px;
  --mixin-ZtMDzaxY2aqw_border-right-color: #dddddd;
  --mixin-ZtMDzaxY2aqw_border-right-style: solid;
  --mixin-ZtMDzaxY2aqw_border-right-width: 1px;
  --mixin-ZtMDzaxY2aqw_border-top-color: #dddddd;
  --mixin-ZtMDzaxY2aqw_border-top-style: solid;
  --mixin-ZtMDzaxY2aqw_border-top-width: 1px;
  --mixin-ZtMDzaxY2aqw_border-bottom-left-radius: 3px;
  --mixin-ZtMDzaxY2aqw_border-bottom-right-radius: 3px;
  --mixin-ZtMDzaxY2aqw_border-top-left-radius: 3px;
  --mixin-ZtMDzaxY2aqw_border-top-right-radius: 3px;
  --mixin-ZtMDzaxY2aqw_font-family: "Inconsolata";
  --mixin-ZtMDzaxY2aqw_padding-bottom: 1px;
  --mixin-ZtMDzaxY2aqw_padding-left: 4px;
  --mixin-ZtMDzaxY2aqw_padding-right: 4px;
  --mixin-ZtMDzaxY2aqw_padding-top: 1px;
  --mixin-ZtMDzaxY2aqw_white-space: pre-wrap;
  --mixin-ZFmuKfi_OxI9_border-left-color: #dddddd;
  --mixin-ZFmuKfi_OxI9_border-left-style: solid;
  --mixin-ZFmuKfi_OxI9_border-left-width: 3px;
  --mixin-ZFmuKfi_OxI9_color: #888888;
  --mixin-ZFmuKfi_OxI9_padding-left: 10px;
  --mixin-ZFmuKfi_OxI9_white-space: pre-wrap;
  --mixin-Y8SH7FkVoDsh_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-Y8SH7FkVoDsh_border-bottom-color: #dddddd;
  --mixin-Y8SH7FkVoDsh_border-bottom-style: solid;
  --mixin-Y8SH7FkVoDsh_border-bottom-width: 1px;
  --mixin-Y8SH7FkVoDsh_border-left-color: #dddddd;
  --mixin-Y8SH7FkVoDsh_border-left-style: solid;
  --mixin-Y8SH7FkVoDsh_border-left-width: 1px;
  --mixin-Y8SH7FkVoDsh_border-right-color: #dddddd;
  --mixin-Y8SH7FkVoDsh_border-right-style: solid;
  --mixin-Y8SH7FkVoDsh_border-right-width: 1px;
  --mixin-Y8SH7FkVoDsh_border-top-color: #dddddd;
  --mixin-Y8SH7FkVoDsh_border-top-style: solid;
  --mixin-Y8SH7FkVoDsh_border-top-width: 1px;
  --mixin-Y8SH7FkVoDsh_border-bottom-left-radius: 3px;
  --mixin-Y8SH7FkVoDsh_border-bottom-right-radius: 3px;
  --mixin-Y8SH7FkVoDsh_border-top-left-radius: 3px;
  --mixin-Y8SH7FkVoDsh_border-top-right-radius: 3px;
  --mixin-Y8SH7FkVoDsh_font-family: "Inconsolata";
  --mixin-Y8SH7FkVoDsh_padding-bottom: 3px;
  --mixin-Y8SH7FkVoDsh_padding-left: 6px;
  --mixin-Y8SH7FkVoDsh_padding-right: 6px;
  --mixin-Y8SH7FkVoDsh_padding-top: 3px;
  --mixin-Y8SH7FkVoDsh_white-space: pre-wrap;
  --mixin-VnT1s3ycREMO_display: flex;
  --mixin-VnT1s3ycREMO_flex-direction: column;
  --mixin-VnT1s3ycREMO_align-items: stretch;
  --mixin-VnT1s3ycREMO_justify-content: flex-start;
  --mixin-VnT1s3ycREMO_list-style-position: outside;
  --mixin-VnT1s3ycREMO_padding-left: 40px;
  --mixin-VnT1s3ycREMO_position: relative;
  --mixin-VnT1s3ycREMO_list-style-type: disc;
  --mixin-VnT1s3ycREMO_white-space: pre-wrap;
  --mixin-7Vi49R6urOQD_display: flex;
  --mixin-7Vi49R6urOQD_flex-direction: column;
  --mixin-7Vi49R6urOQD_align-items: stretch;
  --mixin-7Vi49R6urOQD_justify-content: flex-start;
  --mixin-7Vi49R6urOQD_list-style-position: outside;
  --mixin-7Vi49R6urOQD_padding-left: 40px;
  --mixin-7Vi49R6urOQD_position: relative;
  --mixin-7Vi49R6urOQD_list-style-type: decimal;
  --mixin-7Vi49R6urOQD_white-space: pre-wrap;
  --mixin-tR8uPhroXpEP_color: #000000;
  --mixin-tR8uPhroXpEP_font-size: 16px;
  --mixin-tR8uPhroXpEP_font-weight: 600;
  --mixin-tR8uPhroXpEP_line-height: 1.5;
  --mixin-tR8uPhroXpEP_white-space: pre-wrap;
  --mixin-QDrSL-a3v5He_color: #000000;
  --mixin-QDrSL-a3v5He_font-size: 14px;
  --mixin-QDrSL-a3v5He_font-weight: 600;
  --mixin-QDrSL-a3v5He_line-height: 1.5;
  --mixin-QDrSL-a3v5He_white-space: pre-wrap;
  --mixin-mJgBcHMPWagr_color: #3291ff;
  --mixin-mJgBcHMPWagr_white-space: pre-wrap;
  --mixin-PsAD114ENQyY_white-space: pre-wrap;
  --mixin-7UtkoE_A-7tI_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-qlfCr6Oy-UMZ_font-family);
  font-size: var(--mixin-qlfCr6Oy-UMZ_font-size);
  font-weight: var(--mixin-qlfCr6Oy-UMZ_font-weight);
  font-style: var(--mixin-qlfCr6Oy-UMZ_font-style);
  color: var(--mixin-qlfCr6Oy-UMZ_color);
  text-align: var(--mixin-qlfCr6Oy-UMZ_text-align);
  text-transform: var(--mixin-qlfCr6Oy-UMZ_text-transform);
  line-height: var(--mixin-qlfCr6Oy-UMZ_line-height);
  letter-spacing: var(--mixin-qlfCr6Oy-UMZ_letter-spacing);
  white-space: var(--mixin-qlfCr6Oy-UMZ_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-2MQUhdev0JeZ_color);
  font-weight: var(--mixin-2MQUhdev0JeZ_font-weight);
  font-size: var(--mixin-2MQUhdev0JeZ_font-size);
  line-height: var(--mixin-2MQUhdev0JeZ_line-height);
  letter-spacing: var(--mixin-2MQUhdev0JeZ_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-KD_OJbthxDpC_color);
  font-size: var(--mixin-KD_OJbthxDpC_font-size);
  font-weight: var(--mixin-KD_OJbthxDpC_font-weight);
  line-height: var(--mixin-KD_OJbthxDpC_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-qdWfxXceV9UM_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-Ewvw-aUJYZQe_color);
  font-size: var(--mixin-Ewvw-aUJYZQe_font-size);
  font-weight: var(--mixin-Ewvw-aUJYZQe_font-weight);
  line-height: var(--mixin-Ewvw-aUJYZQe_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-p-uiUb7dShpW_color);
  font-size: var(--mixin-p-uiUb7dShpW_font-size);
  font-weight: var(--mixin-p-uiUb7dShpW_font-weight);
  line-height: var(--mixin-p-uiUb7dShpW_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-ZtMDzaxY2aqw_font-family);
  border-radius: var(--mixin-ZtMDzaxY2aqw_border-top-left-radius)
    var(--mixin-ZtMDzaxY2aqw_border-top-right-radius)
    var(--mixin-ZtMDzaxY2aqw_border-bottom-right-radius)
    var(--mixin-ZtMDzaxY2aqw_border-bottom-left-radius);
  padding: var(--mixin-ZtMDzaxY2aqw_padding-top)
    var(--mixin-ZtMDzaxY2aqw_padding-right)
    var(--mixin-ZtMDzaxY2aqw_padding-bottom)
    var(--mixin-ZtMDzaxY2aqw_padding-left);
  border-top: var(--mixin-ZtMDzaxY2aqw_border-top-width)
    var(--mixin-ZtMDzaxY2aqw_border-top-style)
    var(--mixin-ZtMDzaxY2aqw_border-top-color);
  border-right: var(--mixin-ZtMDzaxY2aqw_border-right-width)
    var(--mixin-ZtMDzaxY2aqw_border-right-style)
    var(--mixin-ZtMDzaxY2aqw_border-right-color);
  border-bottom: var(--mixin-ZtMDzaxY2aqw_border-bottom-width)
    var(--mixin-ZtMDzaxY2aqw_border-bottom-style)
    var(--mixin-ZtMDzaxY2aqw_border-bottom-color);
  border-left: var(--mixin-ZtMDzaxY2aqw_border-left-width)
    var(--mixin-ZtMDzaxY2aqw_border-left-style)
    var(--mixin-ZtMDzaxY2aqw_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-ZFmuKfi_OxI9_color);
  padding-left: var(--mixin-ZFmuKfi_OxI9_padding-left);
  border-left: var(--mixin-ZFmuKfi_OxI9_border-left-width)
    var(--mixin-ZFmuKfi_OxI9_border-left-style)
    var(--mixin-ZFmuKfi_OxI9_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-Y8SH7FkVoDsh_font-family);
  border-radius: var(--mixin-Y8SH7FkVoDsh_border-top-left-radius)
    var(--mixin-Y8SH7FkVoDsh_border-top-right-radius)
    var(--mixin-Y8SH7FkVoDsh_border-bottom-right-radius)
    var(--mixin-Y8SH7FkVoDsh_border-bottom-left-radius);
  padding: var(--mixin-Y8SH7FkVoDsh_padding-top)
    var(--mixin-Y8SH7FkVoDsh_padding-right)
    var(--mixin-Y8SH7FkVoDsh_padding-bottom)
    var(--mixin-Y8SH7FkVoDsh_padding-left);
  border-top: var(--mixin-Y8SH7FkVoDsh_border-top-width)
    var(--mixin-Y8SH7FkVoDsh_border-top-style)
    var(--mixin-Y8SH7FkVoDsh_border-top-color);
  border-right: var(--mixin-Y8SH7FkVoDsh_border-right-width)
    var(--mixin-Y8SH7FkVoDsh_border-right-style)
    var(--mixin-Y8SH7FkVoDsh_border-right-color);
  border-bottom: var(--mixin-Y8SH7FkVoDsh_border-bottom-width)
    var(--mixin-Y8SH7FkVoDsh_border-bottom-style)
    var(--mixin-Y8SH7FkVoDsh_border-bottom-color);
  border-left: var(--mixin-Y8SH7FkVoDsh_border-left-width)
    var(--mixin-Y8SH7FkVoDsh_border-left-style)
    var(--mixin-Y8SH7FkVoDsh_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-VnT1s3ycREMO_display);
  flex-direction: var(--mixin-VnT1s3ycREMO_flex-direction);
  align-items: var(--mixin-VnT1s3ycREMO_align-items);
  justify-content: var(--mixin-VnT1s3ycREMO_justify-content);
  list-style-position: var(--mixin-VnT1s3ycREMO_list-style-position);
  padding-left: var(--mixin-VnT1s3ycREMO_padding-left);
  position: var(--mixin-VnT1s3ycREMO_position);
  list-style-type: var(--mixin-VnT1s3ycREMO_list-style-type);
  flex-column-gap: var(--mixin-VnT1s3ycREMO_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-7Vi49R6urOQD_display);
  flex-direction: var(--mixin-7Vi49R6urOQD_flex-direction);
  align-items: var(--mixin-7Vi49R6urOQD_align-items);
  justify-content: var(--mixin-7Vi49R6urOQD_justify-content);
  list-style-position: var(--mixin-7Vi49R6urOQD_list-style-position);
  padding-left: var(--mixin-7Vi49R6urOQD_padding-left);
  position: var(--mixin-7Vi49R6urOQD_position);
  list-style-type: var(--mixin-7Vi49R6urOQD_list-style-type);
  flex-column-gap: var(--mixin-7Vi49R6urOQD_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-tR8uPhroXpEP_color);
  font-size: var(--mixin-tR8uPhroXpEP_font-size);
  font-weight: var(--mixin-tR8uPhroXpEP_font-weight);
  line-height: var(--mixin-tR8uPhroXpEP_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-QDrSL-a3v5He_color);
  font-size: var(--mixin-QDrSL-a3v5He_font-size);
  font-weight: var(--mixin-QDrSL-a3v5He_font-weight);
  line-height: var(--mixin-QDrSL-a3v5He_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-mJgBcHMPWagr_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
