.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 16px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 8px;
}
.text {
  font-size: 16px;
  font-weight: 700;
}
.search:global(.__wab_instance) {
  position: relative;
}
.svg__punuy {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.svg___4Ijuc {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.freeBox {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  align-content: flex-start;
  min-width: 0;
  min-height: 0;
}
.rest:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img___9Swz3 {
  position: relative;
  object-fit: cover;
  width: 151px;
  height: 58px;
}
.img___9Swz3 > picture > img {
  object-fit: cover;
}
.img___9Swz3 > .__wab_img-spacer > img {
  object-fit: cover;
}
.graphql:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__p8OtE {
  position: relative;
  object-fit: cover;
  width: 174px;
  height: 61px;
}
.img__p8OtE > picture > img {
  object-fit: cover;
}
.img__p8OtE > .__wab_img-spacer > img {
  object-fit: cover;
}
.airtable:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__qVSkW {
  position: relative;
  object-fit: cover;
  width: 160px;
  height: 36px;
}
.img__qVSkW > picture > img {
  object-fit: cover;
}
.img__qVSkW > .__wab_img-spacer > img {
  object-fit: cover;
}
.bigcommerce:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img___2TQkm {
  position: relative;
  object-fit: cover;
  width: 223px;
  height: 51px;
}
.img___2TQkm > picture > img {
  object-fit: cover;
}
.img___2TQkm > .__wab_img-spacer > img {
  object-fit: cover;
}
.contentful:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__rsNbX {
  position: relative;
  object-fit: cover;
  width: 209px;
  height: 72px;
}
.img__rsNbX > picture > img {
  object-fit: cover;
}
.img__rsNbX > .__wab_img-spacer > img {
  object-fit: cover;
}
.github:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__rpvqz {
  position: relative;
  object-fit: cover;
  width: 144px;
  height: 53px;
}
.img__rpvqz > picture > img {
  object-fit: cover;
}
.img__rpvqz > .__wab_img-spacer > img {
  object-fit: cover;
}
.sheets:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__f3E1H {
  position: relative;
  object-fit: cover;
  width: 139px;
  height: 66px;
}
.img__f3E1H > picture > img {
  object-fit: cover;
}
.img__f3E1H > .__wab_img-spacer > img {
  object-fit: cover;
}
.hn:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__hdNh3 {
  position: relative;
  object-fit: cover;
  width: 211px;
  height: 46px;
}
.img__hdNh3 > picture > img {
  object-fit: cover;
}
.img__hdNh3 > .__wab_img-spacer > img {
  object-fit: cover;
}
.mysql:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__lswIp {
  position: relative;
  object-fit: cover;
  width: 139px;
  height: 92px;
}
.img__lswIp > picture > img {
  object-fit: cover;
}
.img__lswIp > .__wab_img-spacer > img {
  object-fit: cover;
}
.postgresql:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__actOc {
  position: relative;
  object-fit: cover;
  width: 165px;
  height: 76px;
}
.img__actOc > picture > img {
  object-fit: cover;
}
.img__actOc > .__wab_img-spacer > img {
  object-fit: cover;
}
.salesforce:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__xdcv0 {
  position: relative;
  object-fit: cover;
  width: 131px;
  height: 93px;
}
.img__xdcv0 > picture > img {
  object-fit: cover;
}
.img__xdcv0 > .__wab_img-spacer > img {
  object-fit: cover;
}
.sanity:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__g1Rbp {
  position: relative;
  object-fit: cover;
  width: 145px;
  height: 29px;
}
.img__g1Rbp > picture > img {
  object-fit: cover;
}
.img__g1Rbp > .__wab_img-spacer > img {
  object-fit: cover;
}
.shopify:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__s4Go7 {
  position: relative;
  object-fit: cover;
  width: 138px;
  height: 86px;
}
.img__s4Go7 > picture > img {
  object-fit: cover;
}
.img__s4Go7 > .__wab_img-spacer > img {
  object-fit: cover;
}
.sqlServer:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__ygbvf {
  position: relative;
  object-fit: cover;
  width: 169px;
  height: 43px;
}
.img__ygbvf > picture > img {
  object-fit: cover;
}
.img__ygbvf > .__wab_img-spacer > img {
  object-fit: cover;
}
.wordpress:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__nPcBc {
  object-fit: cover;
  width: 211px;
  height: 72px;
}
.img__nPcBc > picture > img {
  object-fit: cover;
}
.img__nPcBc > .__wab_img-spacer > img {
  object-fit: cover;
}
.wordpressDotCom:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img___7PF8S {
  position: relative;
  object-fit: cover;
  width: 214px;
  height: 45px;
}
.img___7PF8S > picture > img {
  object-fit: cover;
}
.img___7PF8S > .__wab_img-spacer > img {
  object-fit: cover;
}
