.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  min-height: 28px;
  width: 100%;
  min-width: 0;
}
.keyValueRow:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
