.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  min-width: 0;
}
.modal:global(.__wab_instance) {
  position: relative;
}
.title {
  font-size: 16px;
  font-weight: 700;
}
.instruction {
  position: relative;
}
.keyInput:global(.__wab_instance) {
  position: relative;
}
.svg__fdl9P {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.svg__mZYxA {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.picker:global(.__wab_instance) {
  position: relative;
}
.option__awCzq:global(.__wab_instance) {
  position: relative;
}
.option__k3LbT:global(.__wab_instance) {
  position: relative;
}
.cancelButton:global(.__wab_instance) {
  position: relative;
}
.svg__cwvqw {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.svg___5G2Sd {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.nextButton:global(.__wab_instance) {
  position: relative;
}
.svg__mVw8J {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.svg__lcGbe {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
