.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-qP8a3gYPq7fd);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-O2OprmOFWLju);
  font-family: var(--token-NQPeu56hWEVO);
  font-size: var(--token-y-e1zIVKHJyd);
  line-height: var(--token-wCNdq3-87nVE);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-CyMxORMQ0iY7);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-vhXSTyxt_gU9);
  outline-offset: 1px;
  outline-color: var(--token-qP8a3gYPq7fd);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-Hw7k5Z8h3fym);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-1yZ4iP8JM_qY);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-8jpX_EM5efeC);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-7jp_etkt0vzn);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-Le11TVejD2x2);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.roottype_clear:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-ND9WWUwuMDcO);
  font-size: var(--token-XviUmtZ5j0iF);
  column-gap: var(--token-vhXSTyxt_gU9);
  row-gap: 0px;
  border-radius: var(--token-YwPV7bN0RvD8);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-XviUmtZ5j0iF);
  line-height: var(--token-ND9WWUwuMDcO);
  column-gap: var(--token-YwPV7bN0RvD8);
  row-gap: 0px;
  border-radius: var(--token-YwPV7bN0RvD8);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-UgD7DVJpT4oO);
  line-height: var(--token-ArhjzHzow-J7);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-UgD7DVJpT4oO);
  line-height: var(--token-ArhjzHzow-J7);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-8MEyDjsqznQc);
  border-radius: var(--token-CyMxORMQ0iY7);
}
.softBackgroundcolor_neutral {
  background: var(--token-XEO_r628N6_d);
}
.softBackgroundcolor_muted {
  background: var(--token-iCBCh1BQyu-W);
}
.softBackgroundcolor_success {
  background: var(--token-4mCd-gWqqsQ8);
}
.softBackgroundcolor_warning {
  background: var(--token-EkvAIUHn8RM1);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-iDYSCk74HNX3);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-CyMxORMQ0iY7);
  border: 0px solid var(--token-pXBQsVxA1Dpw);
}
.bordercolor_neutral {
  border-color: var(--token-JpKJ41ZaDWOC);
}
.bordercolor_muted {
  border-color: var(--token-wYC23OmDKq8S);
}
.bordercolor_success {
  border-color: var(--token-A85r_SSHRqL9);
}
.bordercolor_warning {
  border-color: var(--token-ZBGX7iAwODRl);
}
.bordercolor_errorDestructive {
  border-color: var(--token-ZzZPVo16MDIk);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-CyMxORMQ0iY7);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-HqN0ftKKGFre);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-lzUd2yT9mONr);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-OpqgFV3u3Ad_);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__sFawT {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  column-gap: var(--token-CyMxORMQ0iY7);
  min-width: 0;
  min-height: 0;
  padding: var(--token-CyMxORMQ0iY7) var(--token-5RiZyijnOOJx);
}
.freeBoxsize_extraSmall__sFawTj7K3K {
  padding: var(--token-YwPV7bN0RvD8) var(--token-CyMxORMQ0iY7);
}
.freeBoxsize_small__sFawTj8ICn {
  padding: var(--token-CyMxORMQ0iY7) var(--token-O2OprmOFWLju);
}
.freeBoxsize_large__sFawTpRrQv {
  padding-top: var(--token-YwPV7bN0RvD8);
  padding-bottom: var(--token-YwPV7bN0RvD8);
}
.freeBoxsize_extraLarge__sFawTbAsUt {
  padding-left: var(--token-XnnXV8YSKg9w);
  padding-right: var(--token-XnnXV8YSKg9w);
}
.freeBoxroundedFull__sFawToRhgd {
  padding-right: var(--token-XnnXV8YSKg9w);
  padding-left: var(--token-XnnXV8YSKg9w);
}
.freeBox__yCk3F {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__yCk3FxXwgG {
  display: flex;
}
.slotTargetStart {
  color: var(--token-sVzFDRV7ByQj);
}
.slotTargetStartcolor_neutral {
  color: var(--token-9DPE9saBArps);
}
.slotTargetStartcolor_muted {
  color: var(--token-aQ6DNRLuvD-u);
}
.slotTargetStartcolor_success {
  color: var(--token-Yqmgneul1IpY);
}
.slotTargetStartcolor_warning {
  color: var(--token-wY6pUTGZH-gG);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-3r_KlvRSQfTH);
}
.slotTargetStarttype_soft {
  color: var(--token-mwrqWBxg1aja);
}
.slotTargetStarttype_bordered {
  color: var(--token-mwrqWBxg1aja);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-XviUmtZ5j0iF);
}
.slotTargetStartsize_small {
  font-size: var(--token-XviUmtZ5j0iF);
}
.slotTargetStartsize_large {
  font-size: var(--token-UgD7DVJpT4oO);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-UgD7DVJpT4oO);
}
.slotTargetStarttype_soft_color_neutral {
  color: var(--token-DlB9CLEHEK7G);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-DlB9CLEHEK7G);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-d_rM8tZD1AWX);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-d_rM8tZD1AWX);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-mN0b9x1xxRPK);
}
.slotTargetStarttype_clear_color_neutral {
  color: var(--token-DlB9CLEHEK7G);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token-mN0b9x1xxRPK);
}
.slotTargetStarttype_soft_color_warning {
  color: var(--token-v_vgSZpIboN-);
}
.slotTargetStarttype_clear_color_muted {
  color: var(--token-d_rM8tZD1AWX);
}
.slotTargetStartcolor_warning_type_bordered {
  color: var(--token-v_vgSZpIboN-);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token-2ziDTor6aAuH);
}
.slotTargetStarttype_clear_color_success {
  color: var(--token-mN0b9x1xxRPK);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-2ziDTor6aAuH);
}
.slotTargetStartcolor_warning_type_clear {
  color: var(--token-v_vgSZpIboN-);
}
.slotTargetStarttype_clear_color_errorDestructive {
  color: var(--token-2ziDTor6aAuH);
}
.svg__urs43 {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-sVzFDRV7ByQj);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-9DPE9saBArps);
}
.slotTargetLabelcolor_muted {
  color: var(--token-aQ6DNRLuvD-u);
}
.slotTargetLabelcolor_success {
  color: var(--token-Yqmgneul1IpY);
}
.slotTargetLabelcolor_warning {
  color: var(--token-wY6pUTGZH-gG);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-3r_KlvRSQfTH);
}
.slotTargetLabeltype_soft {
  color: var(--token-mwrqWBxg1aja);
}
.slotTargetLabeltype_bordered {
  color: var(--token-mwrqWBxg1aja);
}
.slotTargetLabeltype_clear {
  color: var(--token-DlB9CLEHEK7G);
}
.slotTargetLabeltype_soft_color_neutral {
  color: var(--token-DlB9CLEHEK7G);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-d_rM8tZD1AWX);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-DlB9CLEHEK7G);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token-mN0b9x1xxRPK);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-d_rM8tZD1AWX);
}
.slotTargetLabeltype_soft_color_warning {
  color: var(--token-v_vgSZpIboN-);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token-mN0b9x1xxRPK);
}
.slotTargetLabeltype_clear_color_muted {
  color: var(--token-d_rM8tZD1AWX);
}
.slotTargetLabeltype_soft_color_errorDestructive {
  color: var(--token-2ziDTor6aAuH);
}
.slotTargetLabelcolor_warning_type_bordered {
  color: var(--token-v_vgSZpIboN-);
}
.slotTargetLabeltype_clear_color_success {
  color: var(--token-mN0b9x1xxRPK);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-2ziDTor6aAuH);
}
.slotTargetLabelcolor_warning_type_clear {
  color: var(--token-v_vgSZpIboN-);
}
.slotTargetLabeltype_clear_color_errorDestructive {
  color: var(--token-2ziDTor6aAuH);
}
.text__umbvB {
  white-space: pre;
}
.freeBox__w5P1T {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__w5P1TqqRls {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-sVzFDRV7ByQj);
}
.slotTargetEndcolor_neutral {
  color: var(--token-9DPE9saBArps);
}
.slotTargetEndcolor_muted {
  color: var(--token-aQ6DNRLuvD-u);
}
.slotTargetEndcolor_success {
  color: var(--token-Yqmgneul1IpY);
}
.slotTargetEndcolor_warning {
  color: var(--token-wY6pUTGZH-gG);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-3r_KlvRSQfTH);
}
.slotTargetEndtype_soft {
  color: var(--token-mwrqWBxg1aja);
}
.slotTargetEndtype_bordered {
  color: var(--token-mwrqWBxg1aja);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-XviUmtZ5j0iF);
}
.slotTargetEndsize_small {
  font-size: var(--token-XviUmtZ5j0iF);
}
.slotTargetEndsize_large {
  font-size: var(--token-UgD7DVJpT4oO);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-UgD7DVJpT4oO);
}
.slotTargetEndtype_soft_color_neutral {
  color: var(--token-DlB9CLEHEK7G);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-DlB9CLEHEK7G);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-d_rM8tZD1AWX);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-d_rM8tZD1AWX);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-mN0b9x1xxRPK);
}
.slotTargetEndtype_clear_color_neutral {
  color: var(--token-DlB9CLEHEK7G);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token-mN0b9x1xxRPK);
}
.slotTargetEndtype_soft_color_warning {
  color: var(--token-v_vgSZpIboN-);
}
.slotTargetEndtype_clear_color_muted {
  color: var(--token-d_rM8tZD1AWX);
}
.slotTargetEndcolor_warning_type_bordered {
  color: var(--token-v_vgSZpIboN-);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token-2ziDTor6aAuH);
}
.slotTargetEndtype_clear_color_success {
  color: var(--token-mN0b9x1xxRPK);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-2ziDTor6aAuH);
}
.slotTargetEndcolor_warning_type_clear {
  color: var(--token-v_vgSZpIboN-);
}
.slotTargetEndtype_clear_color_errorDestructive {
  color: var(--token-2ziDTor6aAuH);
}
.svg__qI2Ih {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
