.root:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.svg {
  color: var(--token-rqQDmopteQdV);
  width: 10px;
  height: 10px;
  transform: translateX(0px) translateY(3px) translateZ(0px);
}
.root[data-placement="top"] .svg {
  transform: translateX(0px) translateY(-3px) translateZ(0px) rotateX(0deg)
    rotateY(0deg) rotateZ(180deg);
}
.root[data-placement="left"] .svg {
  transform: translateX(-3px) translateY(0px) translateZ(0px) rotateX(0deg)
    rotateY(0deg) rotateZ(90deg);
}
.root[data-placement="right"] .svg {
  transform: translateX(3px) translateY(0px) translateZ(0px) rotateX(0deg)
    rotateY(0deg) rotateZ(-90deg);
}
.svgdark {
  color: var(--token-7ojREB1C2lcs);
}
