.ariaInput:global(.__wab_instance) {
  box-sizing: border-box;
  box-shadow: inset 0px 0px 0px 1px var(--token-CE-OiWjNhspe);
  color: var(--token-dED0FYPw-qtp);
  font-family: var(--token-NQPeu56hWEVO);
  font-size: var(--token-y-e1zIVKHJyd);
  line-height: var(--token-wCNdq3-87nVE);
  width: 100%;
  position: relative;
  transition-property: box-shadow;
  transition-duration: 0.5s;
  min-height: 32px;
  min-width: 0;
  -webkit-transition-property: box-shadow;
  -webkit-transition-duration: 0.5s;
  border-radius: var(--token-CyMxORMQ0iY7);
  padding: var(--token-CyMxORMQ0iY7) var(--token-5RiZyijnOOJx);
  border-style: none;
}
.ariaInput[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.ariaInput[data-hovered]:global(.__wab_instance) {
  box-shadow: inset 0px 0px 0px 1px #2ec0ff;
}
.ariaInput[data-focused]:global(.__wab_instance) {
  box-shadow: inset 0px 0px 0px 1px #2ec0ff;
}
.ariaInputtype_soft:global(.__wab_instance) {
  background: var(--token-iCBCh1BQyu-W);
  box-shadow: none;
}
.ariaInputtype_soft[data-hovered]:global(.__wab_instance) {
  background: var(--token-11LpBV8ry6Ok);
}
.ariaInputtype_plain:global(.__wab_instance) {
  box-shadow: none;
}
.ariaInputtype_plain[data-hovered]:global(.__wab_instance) {
  background: var(--token-iCBCh1BQyu-W);
}
.ariaInputflat_top:global(.__wab_instance) {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
.ariaInputflat_right:global(.__wab_instance) {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.ariaInputflat_bottom:global(.__wab_instance) {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.ariaInputflat_left:global(.__wab_instance) {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.ariaInputpadded_left:global(.__wab_instance) {
  padding-left: var(--token-CVkj_k5wv-Vl);
}
.ariaInputpadded_right:global(.__wab_instance) {
  padding-right: var(--token-CVkj_k5wv-Vl);
}
