.root {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  padding-top: 2px;
  padding-bottom: 2px;
  position: relative;
  justify-self: flex-start;
  width: 100%;
  column-gap: 8px;
  min-width: 0;
}
.freeBox__d5Rgg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetName {
  color: #1c2024;
}
.freeBox___1Swij {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  row-gap: 4px;
  min-width: 0;
}
.text {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #60646c;
  min-width: 0;
}
