.root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 300px;
  height: auto;
  max-width: 100%;
  position: relative;
  background: #ffffff;
  row-gap: 8px;
}
.freeBox__njtN0 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBoxisPreviewing__njtN0ZvkP {
  max-height: 300px;
  overflow: auto;
}
.bodyInputisPreviewing:global(.__wab_instance):global(.__wab_instance) {
  display: none;
}
.svg__rUygq {
  position: relative;
  height: 1em;
}
.svg__ixVwL {
  position: relative;
  height: 1em;
}
.body {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: var(--token-uzWT6AFCY);
}
.bodyisPreviewing {
  display: block;
}
.freeBox__ekXz {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBoxisEditing__ekXzZsQtK {
  justify-content: flex-end;
  align-items: center;
}
.freeBox__rndZx {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.mentionIcon:global(.__wab_instance) {
  max-width: 100%;
}
.svg__wnixe {
  object-fit: cover;
  max-width: 100%;
  color: #60646c;
  height: 1em;
}
.svg__zOdnc {
  display: flex;
  position: relative;
  object-fit: cover;
  height: 1em;
}
.shareProjectIcon:global(.__wab_instance) {
  max-width: 100%;
}
.shareProjectIconisEditing:global(.__wab_instance) {
  display: none;
}
.svg__t3Ip6 {
  object-fit: cover;
  max-width: 100%;
  color: #60646c;
  height: 1em;
}
.svg__r593 {
  display: flex;
  position: relative;
  object-fit: cover;
  height: 1em;
}
.markdownHintsIcon:global(.__wab_instance) {
  max-width: 100%;
}
.markdownHintsIconisEditing:global(.__wab_instance) {
  display: none;
}
.svg__kDvAo {
  object-fit: cover;
  max-width: 100%;
  color: #60646c;
  height: 1em;
}
.svg__idGpz {
  display: flex;
  position: relative;
  object-fit: cover;
  height: 1em;
}
.freeBox__jbqOp {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  column-gap: var(--token-uzWT6AFCY);
}
.previewButton:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__svkqR {
  position: relative;
  height: 1em;
}
.text__geIt {
  white-space: pre;
  padding-right: 0px;
}
.svg__sDn7J {
  position: relative;
  height: 1em;
}
.cancelButton:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
.cancelButtonisEditing:global(.__wab_instance):global(.__wab_instance) {
  display: flex;
}
.svg___8DFnt {
  position: relative;
  height: 1em;
}
.text___9U10X {
  white-space: pre;
}
.svg__zTjOb {
  position: relative;
  height: 1em;
}
.svg__ockdp {
  position: relative;
  height: 1em;
}
.text__zljgi {
  white-space: pre;
}
.svg__i9Yd7 {
  position: relative;
  height: 1em;
}
