.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 8px 2px;
}
.rootthread {
  padding: var(--token-8b4HJYZr1yuK);
}
.roothoverBox {
  box-shadow: 0px 12px 60px 0px #00000026, 0px 12px 32px -16px #0009321f;
  background: var(--token-rqQDmopteQdV);
  max-width: 300px;
  border-radius: var(--token-XnnXV8YSKg9w);
  padding: var(--token-XnnXV8YSKg9w);
  border: 1px solid var(--token-JpKJ41ZaDWOC);
}
.root:hover {
  background: var(--token-9jh0BkCENS);
}
.rootthread:hover {
  background: var(--token-G18pc1ITl);
  cursor: pointer;
}
.freeBox__sfn9I {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__sfn9I > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__sfn9I > :global(.__wab_flex-container) > *,
.freeBox__sfn9I > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sfn9I > :global(.__wab_flex-container) > picture > img,
.freeBox__sfn9I
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.avatarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 32px;
  height: auto;
  max-width: 100%;
  flex-shrink: 0;
  padding: 0px;
}
.avatarContainerhoverBox {
  display: none;
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.img > picture > img {
  object-fit: cover;
}
.freeBox___079IS {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  min-width: 0;
}
.userFullName {
  font-weight: 700;
}
.timestamp {
  color: var(--token-PTyaboLP9ZK);
}
.actions {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.actionsisDeleted {
  display: none;
}
.actionshoverBox {
  display: none;
}
.btnMore:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  opacity: 0;
  flex-shrink: 0;
}
.btnMorethread:global(.__wab_instance):global(.__wab_instance) {
  flex-shrink: 0;
  display: none;
}
.btnMoreisDeleted:global(.__wab_instance):global(.__wab_instance) {
  flex-shrink: 0;
}
.btnMorehoverBox:global(.__wab_instance):global(.__wab_instance) {
  flex-shrink: 0;
}
.root:hover .btnMore:global(.__wab_instance):global(.__wab_instance) {
  opacity: 1;
  flex-shrink: 0;
}
.rootthread:hover
  .btnMorethread:global(.__wab_instance):global(.__wab_instance) {
  flex-shrink: 0;
}
.threadHistoryStatus:global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
  display: none;
}
.threadHistoryStatusthread:global(.__wab_instance) {
  flex-shrink: 0;
  display: none;
}
.threadHistoryStatuscanUpdateHistory:global(.__wab_instance) {
  flex-shrink: 0;
  display: flex;
}
.freeBox___5UHnq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 0px 0px 40px;
}
.freeBoxisEditing___5UHnquz8Vl {
  padding-left: 0px;
}
.freeBoxhoverBox___5UHnqbLDov {
  padding-left: 0px;
}
.subjectLabel {
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.subjectLabelthread {
  color: var(--token-qKhMu66CwSx);
}
.freeBox__dc1JV {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBoxthread__dc1JVkhQ {
  margin-top: 8px;
}
.freeBoxisEditing__dc1JVuz8Vl {
  display: none;
}
.freeBoxhoverBox__dc1JVbLDov {
  max-height: 200px;
  overflow: auto;
}
.body {
  width: 100%;
  height: auto;
  min-width: 0;
}
.bodyisDeleted {
  color: var(--token-RTPypKCJE4bm);
}
.reactionsContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-YwPV7bN0RvD8) 0px 0px;
}
.reactionsContainer > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
  min-width: 0;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.reactionsContainer > :global(.__wab_flex-container) > *,
.reactionsContainer > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.reactionsContainer > :global(.__wab_flex-container) > picture > img,
.reactionsContainer
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
  margin-top: 4px;
}
.reactionsContainerisEditing {
  display: none;
}
.reactionsContainerisDeleted {
  display: none;
}
.reactionsContainerhoverBox {
  display: none;
}
.reactionButton__cMbVc:global(.__wab_instance) {
  position: relative;
}
.reactionButton__fahBu:global(.__wab_instance) {
  position: relative;
}
.reactionButton__oy7Cy:global(.__wab_instance) {
  position: relative;
}
.reactionButton__lNxki:global(.__wab_instance) {
  position: relative;
}
.reactionButton__yxwte:global(.__wab_instance) {
  position: relative;
}
.reactionButton__nAY7:global(.__wab_instance) {
  position: relative;
}
.btnAddReaction:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  opacity: 0;
  flex-shrink: 0;
}
.root:hover .btnAddReaction:global(.__wab_instance) {
  opacity: 1;
  flex-shrink: 0;
}
.svg {
  display: flex;
  position: relative;
  object-fit: cover;
  height: 1em;
}
.svg__qD4K {
  display: flex;
  position: relative;
  object-fit: cover;
  height: 1em;
}
.commentPostForm:global(.__wab_instance) {
  margin-top: 12px;
}
.commentPostFormisEditing:global(.__wab_instance) {
  display: flex;
}
.repliesLink:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-end;
  margin-top: 8px;
  display: none;
}
.repliesLinkthread:global(.__wab_instance) {
  display: flex;
}
.repliesLinkhoverBox:global(.__wab_instance) {
  align-self: flex-start;
  display: flex;
}
.svg__qz8Gb {
  display: flex;
  position: relative;
  object-fit: cover;
  height: 1em;
}
.texthoverBox {
  color: var(--token-RTPypKCJE4bm);
}
.svg___82GjE {
  display: flex;
  position: relative;
  object-fit: cover;
  height: 1em;
}
