.commentsDialogHead:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.commentsDialogHeadhover:global(.__wab_instance):global(.__wab_instance) {
  display: none;
}
.freeBox__aLeEa {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  padding-right: var(--token-8b4HJYZr1yuK);
  padding-left: var(--token-8b4HJYZr1yuK);
}
.threadComments:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox___3WKao {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  padding: var(--token-O2OprmOFWLju) var(--token-8b4HJYZr1yuK);
}
.freeBoxhover___3WKaojKoXe {
  padding-top: 0px;
}
.replyForm:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.replyFormhover:global(.__wab_instance) {
  flex-shrink: 0;
  display: none;
}
