.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.rootnoComments {
  padding-bottom: var(--token-8b4HJYZr1yuK);
  padding-right: var(--token-8b4HJYZr1yuK);
  padding-left: var(--token-8b4HJYZr1yuK);
}
.threads {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.threadsnoComments {
  display: none;
}
.noCommentsCard {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  row-gap: var(--token-YwPV7bN0RvD8);
  min-width: 0;
  border-radius: var(--token-NCc1lDy9R);
  padding: var(--token-8b4HJYZr1yuK) var(--token-XnnXV8YSKg9w);
  border: 1px solid var(--token-JpKJ41ZaDWOC);
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  color: var(--token-dED0FYPw-qtp);
  min-width: 0;
}
.freeBox {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.span__uO4IR {
  color: var(--token-dED0FYPw-qtp);
  padding-left: 0px;
}
.svg {
  object-fit: cover;
  height: var(--token-8b4HJYZr1yuK);
  width: var(--token-8b4HJYZr1yuK);
  flex-shrink: 0;
}
.span__bNrLu {
  color: var(--token-dED0FYPw-qtp);
}
