.commentsDialogHead:global(.__wab_instance) {
  max-width: 100%;
}
.commentsDialogHeadhover:global(.__wab_instance) {
  display: none;
}
.threadComments:global(.__wab_instance) {
  max-width: 100%;
}
.commentPosthover:global(.__wab_instance) {
  display: flex;
}
.freeBox {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  padding: var(--token-8b4HJYZr1yuK);
}
.freeBoxhover {
  padding-top: 0px;
}
.replyForm:global(.__wab_instance) {
  width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  position: sticky;
  min-width: 0;
}
.replyFormhover:global(.__wab_instance) {
  flex-shrink: 0;
  display: none;
}
