.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  min-height: 0;
}
.currentSelectionSection {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__uwLXj {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  padding: 16px 12px;
  border-bottom: 1px solid var(--token-Ik3bdE1e1Uy);
}
.filterButton:global(.__wab_instance) {
  max-width: 100%;
}
.svg__yeBkz {
  display: flex;
  position: relative;
  object-fit: cover;
  height: 1em;
}
.svg__tbr0E {
  display: flex;
  position: relative;
  object-fit: cover;
  color: var(--token-0IloF6TmFvF);
  height: 1em;
}
.notificationsButton:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-end;
}
.svg__ahZlw {
  display: flex;
  position: relative;
  object-fit: cover;
  height: 1em;
}
.svg__vlq5B {
  object-fit: cover;
  max-width: 100%;
  width: 16px;
  height: 16px;
}
.svg__yKhX {
  display: flex;
  position: relative;
  object-fit: cover;
  height: 1em;
}
.listSectionSeparator___22T7:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
.freeBox__vqCBj {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  min-width: 0;
  padding: var(--token-8b4HJYZr1yuK);
}
.currentHeader:global(.__wab_instance) {
  max-width: 100%;
}
.currentThreads:global(.__wab_instance) {
  position: relative;
}
.listSectionSeparator__dYZeC:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
.freeBox__kdUo2 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  min-width: 0;
  padding: var(--token-8b4HJYZr1yuK);
}
.restHeader:global(.__wab_instance) {
  max-width: 100%;
}
.restThreads:global(.__wab_instance) {
  max-width: 100%;
}
