.freeBox {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  padding: var(--token-O2OprmOFWLju) var(--token-8b4HJYZr1yuK);
}
.commentPostForm:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
