.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 8px 2px;
}
.freeBox__sIx5P {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.avatarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 32px;
  height: auto;
  max-width: 100%;
  flex-shrink: 0;
  padding: 0px;
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.img > picture > img {
  object-fit: cover;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.userFullName {
  font-weight: 700;
}
.timestamp {
  color: var(--token-PTyaboLP9ZK);
  padding: 0px 0px 0px 4px;
}
.freeBox__oEfDr {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 0px 0px 40px;
}
.freeBox___8OEcy {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.body {
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-RTPypKCJE4bm);
  min-width: 0;
}
