.icon:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
  height: auto;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: column;
  background: var(--token-D666zt2IZPL);
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  border-radius: var(--token-YwPV7bN0RvD8);
}
.svg {
  display: flex;
  position: relative;
  object-fit: cover;
  color: var(--token-rqQDmopteQdV);
  left: auto;
  top: auto;
  height: 1em;
  flex-shrink: 0;
}
.svg__edNvh {
  display: flex;
  position: relative;
  object-fit: cover;
  height: 1em;
}
