.root:global(.__wab_instance):global(.__wab_instance) {
  min-width: 300px;
}
.commentsDialogHead:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__aLeEa {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  padding-right: var(--token-8b4HJYZr1yuK);
  padding-left: var(--token-8b4HJYZr1yuK);
}
.threadComments:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox___3WKao {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  padding: var(--token-O2OprmOFWLju) var(--token-8b4HJYZr1yuK);
}
.replyForm:global(.__wab_instance) {
  position: relative;
}
