.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  min-height: 0;
}
.currentSelectionSection {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  padding: 16px 12px;
  border-bottom: 1px solid var(--token-Ik3bdE1e1Uy);
}
.filterButton:global(.__wab_instance) {
  max-width: 100%;
}
.svg___2F7Kh {
  display: flex;
  position: relative;
  object-fit: cover;
  height: 1em;
}
.svg__tbr0E {
  display: flex;
  position: relative;
  object-fit: cover;
  color: var(--token-0IloF6TmFvF);
  height: 1em;
}
.notificationsButton:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-end;
}
.svg__uuw9F {
  display: flex;
  position: relative;
  object-fit: cover;
  height: 1em;
}
.svg__vlq5B {
  object-fit: cover;
  max-width: 100%;
  width: 16px;
  height: 16px;
}
.svg__hXayz {
  display: flex;
  position: relative;
  object-fit: cover;
  height: 1em;
}
.currentlySelectedTitle {
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 14px;
  min-width: 0;
  padding: 16px;
  border-bottom: 1px solid var(--token-Ik3bdE1e1Uy);
}
.currentlySelectedSubject {
  font-weight: 700;
}
.currentThreadsList {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px var(--token-YwPV7bN0RvD8);
}
.commentPost__oqqsp:global(.__wab_instance) {
  position: relative;
}
.commentPost__au5Ht:global(.__wab_instance) {
  position: relative;
}
.listSectionSeparator:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
.restThreadsSection {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 16px;
  min-width: 0;
  padding: 16px;
}
.textemptySelection {
  display: none;
}
.restThreadsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px var(--token-YwPV7bN0RvD8);
}
.restThreadsListemptySelection {
  padding-top: 10px;
}
.commentPost__gvH2I:global(.__wab_instance) {
  position: relative;
}
.commentPost__nOsP5:global(.__wab_instance) {
  position: relative;
}
