.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  min-width: 0;
}
.name {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  line-height: var(--token-wCNdq3-87nVE);
  letter-spacing: normal;
  align-self: center;
  position: relative;
  min-width: 0;
}
.type {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-RTPypKCJE4bm);
  min-width: 0;
}
