.root {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  padding: 5px 15px;
}
.slotTargetChildren {
  text-transform: capitalize;
  color: var(--token-nxRkvMlWri);
}
