.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 480px;
  height: auto;
  overflow: hidden;
  background: var(--token-iv-M1hAwV);
  border-radius: 8px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 1px);
  height: calc(100% + 1px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 1px;
}
.freeBox__w2So6 {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 24px;
}
.freeBox__w2So6 > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__w2So6 > :global(.__wab_flex-container) > *,
.freeBox__w2So6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__w2So6 > :global(.__wab_flex-container) > picture > img,
.freeBox__w2So6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__oumws {
  display: flex;
  border-radius: 6px;
  border: 1px solid var(--token-eBt2ZgqRUCz);
}
.newRepoButton:global(.__wab_instance) {
  position: relative;
  width: 50%;
}
.svg__cQkfv {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.svg__o2NZu {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 1em;
}
.existingRepoButton:global(.__wab_instance) {
  position: relative;
  width: 50%;
}
.svg__vRUjJ {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.text__xmTPi {
  color: var(--token-t68i-MG5Bw);
}
.textview_existingRepo__xmTPieHbf9 {
  color: var(--token-pCMcQv3xBc);
}
.svg__mtq1H {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 1em;
}
.newBox {
  display: flex;
  position: relative;
  flex-direction: column;
}
.newBox > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.newBox > :global(.__wab_flex-container) > *,
.newBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.newBox > :global(.__wab_flex-container) > picture > img,
.newBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.orgBox {
  display: flex;
}
.orgBox > :global(.__wab_flex-container) {
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.orgBox > :global(.__wab_flex-container) > *,
.orgBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.orgBox > :global(.__wab_flex-container) > picture > img,
.orgBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text__ymKi2 {
  color: var(--token-UunsGa2Y3t3);
  white-space: pre;
  padding-top: 8px;
  padding-bottom: 8px;
  min-width: 33.33%;
}
.org:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.option__xTgxo:global(.__wab_instance) {
  position: relative;
}
.option__c4O9E:global(.__wab_instance) {
  position: relative;
}
.optionGroup__rG0Ac:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.option__v3ORh:global(.__wab_instance) {
  position: relative;
}
.option__nQmGi:global(.__wab_instance) {
  position: relative;
}
.optionGroup___1Fbnm:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.option__by7V7:global(.__wab_instance) {
  position: relative;
}
.option__edccs:global(.__wab_instance) {
  position: relative;
}
.option__oGeJk:global(.__wab_instance) {
  position: relative;
}
.svg__f2Dnc {
  position: relative;
  object-fit: cover;
  min-width: 16px;
  min-height: 16px;
  width: 16px;
  height: 16px;
}
.freeBox__eK0Co {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__eK0Co > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__eK0Co > :global(.__wab_flex-container) > *,
.freeBox__eK0Co > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eK0Co > :global(.__wab_flex-container) > picture > img,
.freeBox__eK0Co
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__bFvxf {
  display: block;
  position: relative;
  min-width: 33.33%;
  height: 12px;
}
.freeBox__m8Hum {
  display: flex;
  flex-direction: row;
}
.freeBox__m8Hum > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox__m8Hum > :global(.__wab_flex-container) > *,
.freeBox__m8Hum > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__m8Hum > :global(.__wab_flex-container) > picture > img,
.freeBox__m8Hum
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.text__vlXbk {
  font-size: 11px;
  line-height: 1.5;
  white-space: pre;
  height: auto;
  color: var(--token-UunsGa2Y3t3);
}
.missingOrg:global(.__wab_instance) {
  position: relative;
}
.svg__nB3Rq {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.text__n1Zsy {
  font-size: 11px;
  line-height: 1.5;
  text-decoration-line: underline !important;
  color: var(--token-UunsGa2Y3t3);
}
.svg__qlN9J {
  display: flex;
  position: relative;
  object-fit: cover;
  height: 1em;
}
.nameBox {
  display: flex;
  position: relative;
}
.nameBox > :global(.__wab_flex-container) {
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.nameBox > :global(.__wab_flex-container) > *,
.nameBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.nameBox > :global(.__wab_flex-container) > picture > img,
.nameBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text__fuuks {
  color: var(--token-UunsGa2Y3t3);
  white-space: pre;
  padding-top: 8px;
  padding-bottom: 8px;
  min-width: 33.33%;
}
.name {
  position: relative;
  width: 100%;
  box-shadow: inset 0px 0px 0px 1px var(--token-0vHxN11ixM);
  min-width: 0;
  border-radius: 4px;
  padding: 8px;
  border-width: 0px;
}
.nameerrors_name {
  border-color: var(--token-590x3zVVS2z);
}
.root .name:focus {
  box-shadow: inset 0px 0px 0px 2px var(--token-XH9PcvIOG8Q);
  outline: none;
}
.root .name::placeholder {
  color: var(--token-t68i-MG5Bw);
}
.freeBox__rQeIv {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__rQeIv > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBoxerrors_name__rQeIVnelV0 > :global(.__wab_flex-container) {
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBoxerrors_name__rQeIVnelV0 > :global(.__wab_flex-container) > *,
.freeBoxerrors_name__rQeIVnelV0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.freeBoxerrors_name__rQeIVnelV0
  > :global(.__wab_flex-container)
  > picture
  > img,
.freeBoxerrors_name__rQeIVnelV0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
  margin-top: 0px;
}
.freeBox__ydj1G {
  display: block;
  position: relative;
  height: 32px;
  min-width: 33.33%;
}
.nameError {
  display: flex;
  flex-direction: row;
  background: var(--token-qYuX4XAEbRt);
  padding: 8px;
}
.nameError > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.nameError > :global(.__wab_flex-container) > *,
.nameError > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.nameError > :global(.__wab_flex-container) > picture > img,
.nameError
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.nameErrorerrors_name {
  border-radius: 4px;
}
.text__stAqz {
  color: var(--token-Y2CWh0ci95a);
  font-size: 10px;
  line-height: 12px;
}
.privateBox {
  display: flex;
  position: relative;
  flex-direction: row;
}
.privateBox > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.privateBox > :global(.__wab_flex-container) > *,
.privateBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.privateBox > :global(.__wab_flex-container) > picture > img,
.privateBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text__ozQaX {
  color: var(--token-UunsGa2Y3t3);
  white-space: pre;
  padding-top: 8px;
  padding-bottom: 8px;
  min-width: 33.33%;
}
.freeBox__um2Rp {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 32px;
  min-width: 0;
}
.privateRepo:global(.__wab_instance) {
  position: relative;
}
.freeBox__nkvAb {
  display: block;
  position: relative;
  width: 92px;
  height: 32px;
  background: rgba(68, 192, 255, 0.2);
  flex-shrink: 0;
}
.existingBox {
  display: flex;
  position: relative;
  flex-direction: column;
}
.existingBox > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.existingBox > :global(.__wab_flex-container) > *,
.existingBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.existingBox > :global(.__wab_flex-container) > picture > img,
.existingBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.repositoryBox {
  display: flex;
  flex-direction: row;
}
.repositoryBox > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.repositoryBox > :global(.__wab_flex-container) > *,
.repositoryBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.repositoryBox > :global(.__wab_flex-container) > picture > img,
.repositoryBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.text__ftyWh {
  color: var(--token-t68i-MG5Bw);
  white-space: pre;
  font-size: 11px;
  line-height: 16px;
  min-width: 33.33%;
}
.textview_existingRepo__ftyWheHbf9 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.repository:global(.__wab_instance) {
  position: relative;
}
.option__bpNxy:global(.__wab_instance) {
  position: relative;
}
.option__tm4K8:global(.__wab_instance) {
  position: relative;
}
.optionGroup__rCoy:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.option___2ZVUj:global(.__wab_instance) {
  position: relative;
}
.option__d4NIu:global(.__wab_instance) {
  position: relative;
}
.optionGroup__jsyau:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.option__j0VgT:global(.__wab_instance) {
  position: relative;
}
.option___5JDv6:global(.__wab_instance) {
  position: relative;
}
.option__kXwRz:global(.__wab_instance) {
  position: relative;
}
.svg__gJtww {
  position: relative;
  object-fit: cover;
  min-width: 16px;
  min-height: 16px;
  width: 16px;
  height: 16px;
}
.freeBox__u1Ph5 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__u1Ph5 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__u1Ph5 > :global(.__wab_flex-container) > *,
.freeBox__u1Ph5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__u1Ph5 > :global(.__wab_flex-container) > picture > img,
.freeBox__u1Ph5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__mdZzO {
  display: block;
  position: relative;
  min-width: 33.33%;
  height: 12px;
}
.freeBox___49QEf {
  display: flex;
  flex-direction: row;
}
.freeBox___49QEf > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox___49QEf > :global(.__wab_flex-container) > *,
.freeBox___49QEf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___49QEf > :global(.__wab_flex-container) > picture > img,
.freeBox___49QEf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.text__ov096 {
  color: var(--token-tqZN8CQTuKc);
  white-space: pre;
  font-size: 10px;
  line-height: 12px;
}
.missingRepo:global(.__wab_instance) {
  position: relative;
}
.svg__muAjE {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.text__ywqDb {
  font-size: 10px;
  line-height: 12px;
  color: var(--token-tqZN8CQTuKc);
  text-decoration-line: underline !important;
}
.svg__s35A {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 12px;
  height: 12px;
}
.branchBox {
  display: flex;
  position: relative;
  flex-direction: row;
}
.branchBox > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.branchBox > :global(.__wab_flex-container) > *,
.branchBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.branchBox > :global(.__wab_flex-container) > picture > img,
.branchBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.text__voExp {
  position: relative;
  color: var(--token-t68i-MG5Bw);
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 11px;
  line-height: 16px;
  min-width: 33.33%;
}
.branch:global(.__wab_instance) {
  position: relative;
}
.option___4Al1U:global(.__wab_instance) {
  position: relative;
}
.option__rwzAb:global(.__wab_instance) {
  position: relative;
}
.optionGroup__ffyOw:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.option__wSLpi:global(.__wab_instance) {
  position: relative;
}
.option__b1F:global(.__wab_instance) {
  position: relative;
}
.optionGroup__zBuA:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.option__uvbUs:global(.__wab_instance) {
  position: relative;
}
.option__n9WIb:global(.__wab_instance) {
  position: relative;
}
.option___8C0X:global(.__wab_instance) {
  position: relative;
}
.svg__z1BTl {
  position: relative;
  object-fit: cover;
  min-width: 16px;
  min-height: 16px;
  width: 16px;
  height: 16px;
}
.directoryBox {
  display: flex;
  position: relative;
  flex-direction: row;
}
.directoryBox > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.directoryBox > :global(.__wab_flex-container) > *,
.directoryBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.directoryBox > :global(.__wab_flex-container) > picture > img,
.directoryBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text__mEoV {
  color: var(--token-t68i-MG5Bw);
  white-space: pre;
  font-size: 11px;
  line-height: 16px;
  min-width: 33.33%;
}
.textview_existingRepo__mEoVeHbf9 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.directory {
  position: relative;
  width: 100%;
  font-size: 11px;
  line-height: 14px;
  min-width: 0;
  border-radius: 4px;
  padding: 8px;
  border: 1px solid var(--token-0vHxN11ixM);
}
.directoryerrors_directory {
  border-color: var(--token-590x3zVVS2z);
}
.directoryError {
  display: flex;
  position: relative;
  flex-direction: row;
  background: var(--token-QMdL41TrGn5);
  padding: 8px;
}
.directoryError > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.directoryError > :global(.__wab_flex-container) > *,
.directoryError > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.directoryError > :global(.__wab_flex-container) > picture > img,
.directoryError
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.text__dA8Xr {
  color: var(--token-pCMcQv3xBc);
  font-size: 10px;
  line-height: 12px;
}
.freeBox__w6Skl {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  background: var(--token-hoA5qaM-91G);
  min-width: 0;
  flex-shrink: 0;
}
.opts {
  display: flex;
  position: relative;
  flex-direction: column;
  left: auto;
  top: auto;
}
.opts > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.opts > :global(.__wab_flex-container) > *,
.opts > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.opts > :global(.__wab_flex-container) > picture > img,
.opts > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 12px;
}
.optsview_existingRepo {
  left: auto;
  top: auto;
}
.frameworkBox {
  display: flex;
  position: relative;
  flex-direction: row;
}
.frameworkBox > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.frameworkBox > :global(.__wab_flex-container) > *,
.frameworkBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frameworkBox > :global(.__wab_flex-container) > picture > img,
.frameworkBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text__kPvKu {
  color: var(--token-UunsGa2Y3t3);
  white-space: pre;
  padding-top: 8px;
  padding-bottom: 8px;
  min-width: 33.33%;
}
.framework:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.option__eoLtA:global(.__wab_instance) {
  position: relative;
}
.option__t93F3:global(.__wab_instance) {
  position: relative;
}
.optionGroup___9NtS5:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.option___0ILd0:global(.__wab_instance) {
  position: relative;
}
.option__xf9Jl:global(.__wab_instance) {
  position: relative;
}
.optionGroup__pd5Oz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.option__s9XNj:global(.__wab_instance) {
  position: relative;
}
.option__njNug:global(.__wab_instance) {
  position: relative;
}
.option___97DN:global(.__wab_instance) {
  position: relative;
}
.svg__hDmgh {
  position: relative;
  object-fit: cover;
  min-width: 16px;
  min-height: 16px;
  width: 16px;
  height: 16px;
}
.languageBox {
  display: flex;
  flex-direction: row;
}
.languageBox > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.languageBox > :global(.__wab_flex-container) > *,
.languageBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.languageBox > :global(.__wab_flex-container) > picture > img,
.languageBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text__qGPa {
  color: var(--token-UunsGa2Y3t3);
  white-space: pre;
  padding-bottom: 8px;
  padding-top: 8px;
  min-width: 33.33%;
}
.language:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.option__tr4OO:global(.__wab_instance) {
  position: relative;
}
.option___2Mu:global(.__wab_instance) {
  position: relative;
}
.optionGroup__vTyA5:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.option___4E5Gt:global(.__wab_instance) {
  position: relative;
}
.option__rOuqY:global(.__wab_instance) {
  position: relative;
}
.optionGroup__shCk:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.option__u5NN5:global(.__wab_instance) {
  position: relative;
}
.option___2Uw2G:global(.__wab_instance) {
  position: relative;
}
.option__vrTvq:global(.__wab_instance) {
  position: relative;
}
.svg__xjZUh {
  position: relative;
  object-fit: cover;
  min-width: 16px;
  min-height: 16px;
  width: 16px;
  height: 16px;
}
.modeBox {
  display: flex;
  flex-direction: row;
}
.modeBox > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.modeBox > :global(.__wab_flex-container) > *,
.modeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.modeBox > :global(.__wab_flex-container) > picture > img,
.modeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__gdLb {
  display: flex;
  position: relative;
  flex-direction: row;
  padding-top: 8px;
  padding-bottom: 8px;
  min-width: 33.33%;
}
.freeBox__gdLb > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 2px);
  width: calc(100% + 2px);
}
.freeBox__gdLb > :global(.__wab_flex-container) > *,
.freeBox__gdLb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gdLb > :global(.__wab_flex-container) > picture > img,
.freeBox__gdLb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 2px;
}
.text__bcbhS {
  color: var(--token-UunsGa2Y3t3);
  white-space: pre;
  font-size: 11px;
  line-height: 16px;
}
.modeInfo {
  position: relative;
  object-fit: cover;
  color: var(--token-fVn5vRhXJxQ);
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
}
.mode:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.option__kKxod:global(.__wab_instance) {
  position: relative;
}
.option__x4XnR:global(.__wab_instance) {
  position: relative;
}
.optionGroup__qXq18:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.option__yDgA:global(.__wab_instance) {
  position: relative;
}
.option__jknJb:global(.__wab_instance) {
  position: relative;
}
.optionGroup___9Ix2M:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.option__qn4D:global(.__wab_instance) {
  position: relative;
}
.option__ebbOi:global(.__wab_instance) {
  position: relative;
}
.option__tGxYz:global(.__wab_instance) {
  position: relative;
}
.svg__tSnk0 {
  position: relative;
  object-fit: cover;
  min-width: 16px;
  min-height: 16px;
  width: 16px;
  height: 16px;
}
.actionBox {
  display: flex;
  position: relative;
  flex-direction: row;
}
.actionBox > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.actionBox > :global(.__wab_flex-container) > *,
.actionBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.actionBox > :global(.__wab_flex-container) > picture > img,
.actionBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__krCQj {
  display: flex;
  position: relative;
  flex-direction: row;
  padding-top: 8px;
  padding-bottom: 8px;
  min-width: 33.33%;
}
.freeBox__krCQj > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 2px);
  width: calc(100% + 2px);
}
.freeBox__krCQj > :global(.__wab_flex-container) > *,
.freeBox__krCQj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__krCQj > :global(.__wab_flex-container) > picture > img,
.freeBox__krCQj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 2px;
}
.text__pOa9G {
  color: var(--token-UunsGa2Y3t3);
  white-space: pre;
  font-size: 11px;
  line-height: 16px;
}
.actionInfo {
  position: relative;
  object-fit: cover;
  color: var(--token-fVn5vRhXJxQ);
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
}
.action:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.option__nzxfD:global(.__wab_instance) {
  position: relative;
}
.option___9Vds3:global(.__wab_instance) {
  position: relative;
}
.optionGroup__tM28I:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.option__ddyFv:global(.__wab_instance) {
  position: relative;
}
.option__k5Jq:global(.__wab_instance) {
  position: relative;
}
.optionGroup__mlw9X:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.option__n8HMu:global(.__wab_instance) {
  position: relative;
}
.option__nlDvD:global(.__wab_instance) {
  position: relative;
}
.option__p8DeY:global(.__wab_instance) {
  position: relative;
}
.svg___9AFcX {
  position: relative;
  object-fit: cover;
  min-width: 16px;
  min-height: 16px;
  width: 16px;
  height: 16px;
}
.freeBox__r6Rpm {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  background: var(--token-hoA5qaM-91G);
  min-width: 0;
  flex-shrink: 0;
}
.deployment {
  display: flex;
  position: relative;
  flex-direction: column;
  left: auto;
  top: auto;
}
.deployment > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.deployment > :global(.__wab_flex-container) > *,
.deployment > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.deployment > :global(.__wab_flex-container) > picture > img,
.deployment
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.deploymentview_existingRepo {
  left: auto;
  top: auto;
}
.deploymenthide_action {
  left: auto;
  top: auto;
}
.freeBox__xKatJ {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__xKatJ > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__xKatJ > :global(.__wab_flex-container) > *,
.freeBox__xKatJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xKatJ > :global(.__wab_flex-container) > picture > img,
.freeBox__xKatJ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.freeBox__uBi71 {
  display: flex;
}
.freeBox__uBi71 > :global(.__wab_flex-container) {
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__uBi71 > :global(.__wab_flex-container) > *,
.freeBox__uBi71 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uBi71 > :global(.__wab_flex-container) > picture > img,
.freeBox__uBi71
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.publishSiteLabel {
  color: var(--token-UunsGa2Y3t3);
  white-space: pre;
  padding-top: 8px;
  padding-bottom: 8px;
  min-width: 33.33%;
}
.freeBox__kvwzT {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: 32px;
  min-width: 0;
}
.freeBox__kvwzT > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__kvwzT > :global(.__wab_flex-container) > *,
.freeBox__kvwzT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kvwzT > :global(.__wab_flex-container) > picture > img,
.freeBox__kvwzT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.publishSite:global(.__wab_instance) {
  position: relative;
}
.publishSiteError:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.domainError2:global(.__wab_instance) {
  position: relative;
}
.freeBox__lofOa {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__lofOa > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__lofOa > :global(.__wab_flex-container) > *,
.freeBox__lofOa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lofOa > :global(.__wab_flex-container) > picture > img,
.freeBox__lofOa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.freeBoxisPublishingSite__lofOaQOy2M {
  display: flex;
}
.freeBox__uXh0V {
  display: flex;
  flex-direction: column;
}
.freeBox__uXh0V > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__uXh0V > :global(.__wab_flex-container) > *,
.freeBox__uXh0V > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uXh0V > :global(.__wab_flex-container) > picture > img,
.freeBox__uXh0V
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox___8QGx {
  display: flex;
  flex-direction: row;
}
.freeBox___8QGx > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___8QGx > :global(.__wab_flex-container) > *,
.freeBox___8QGx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8QGx > :global(.__wab_flex-container) > picture > img,
.freeBox___8QGx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text__u2Xdt {
  color: var(--token-t68i-MG5Bw);
  white-space: pre;
  width: 40%;
  height: auto;
  min-width: 33.33%;
}
.apparentSubdomainInput {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-right: 8px;
  width: 100%;
  cursor: text;
  min-width: 0;
  border-radius: 4px;
  border: 1px solid var(--token-0vHxN11ixM);
}
.apparentSubdomainInputerrors_missingDomain {
  border-color: var(--token-590x3zVVS2z);
}
.subdomainInput {
  position: relative;
  width: 100%;
  font-size: 11px;
  line-height: 14px;
  min-width: 0;
  border-radius: 4px;
  padding: 8px;
  border: 1px none var(--token-590x3zVVS2z);
}
.subdomainInputerrors_name {
  border-color: var(--token-590x3zVVS2z);
}
.text__hUstb {
  color: var(--token-CYqwMJchyYA);
}
.domainError:global(.__wab_instance) {
  position: relative;
}
.freeBox__yhpUs {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 32px;
  flex-shrink: 0;
}
.text__u5VXk {
  color: var(--token-UunsGa2Y3t3);
  white-space: pre;
  width: auto;
  height: auto;
}
.moreProvidersLink {
  position: relative;
  color: var(--token-VUsIDivgUss);
}
.text__tt3Dz {
  color: var(--token-t68i-MG5Bw);
  white-space: pre;
  width: auto;
  height: auto;
}
.freeBox__esjpg {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
  background: var(--token-p-rw5DRJTx);
  padding: 24px;
  border-top: 1px solid var(--token-hoA5qaM-91G);
}
.pushButton:global(.__wab_instance) {
  position: relative;
}
.svg__tmeWd {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.textloading_saving__cpLbdfB02 {
  height: auto;
}
.svg__r05Gv {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 1em;
}
