.root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  position: relative;
  width: 480px;
  height: auto;
  overflow: hidden;
  background: var(--token-iR8SeEwQZ);
  row-gap: 1px;
  border-radius: 8px;
}
.freeBox__w2So6 {
  display: flex;
  position: relative;
  flex-direction: column;
  row-gap: 16px;
  padding: 24px;
}
.freeBox__oumws {
  display: flex;
  border-radius: 6px;
  border: 1px solid var(--token-eBt2ZgqRUCz);
}
.newRepoButton:global(.__wab_instance) {
  position: relative;
  width: 50%;
}
.svg__cQkfv {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.svg__o2NZu {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 1em;
}
.existingRepoButton:global(.__wab_instance) {
  position: relative;
  width: 50%;
}
.svg__vRUjJ {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.text__xmTPi {
  color: var(--token-t68i-MG5Bw);
}
.textview_existingRepo__xmTPieHbf9 {
  color: var(--token-pCMcQv3xBc);
}
.svg__mtq1H {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 1em;
}
.newBox {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 12px;
}
.orgBox {
  display: flex;
  column-gap: 8px;
}
.text__ymKi2 {
  color: var(--token-UunsGa2Y3t3);
  white-space: pre;
  padding-top: 8px;
  padding-bottom: 8px;
  min-width: 33.33%;
}
.org:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.option__xmEoC:global(.__wab_instance) {
  position: relative;
}
.option___7FRLc:global(.__wab_instance) {
  position: relative;
}
.optionGroup__pabPr:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.option__pn8Kh:global(.__wab_instance) {
  position: relative;
}
.option__oKtFf:global(.__wab_instance) {
  position: relative;
}
.optionGroup__tcbA1:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.option__kbOgW:global(.__wab_instance) {
  position: relative;
}
.option___8WB3K:global(.__wab_instance) {
  position: relative;
}
.option__vdpuM:global(.__wab_instance) {
  position: relative;
}
.svg__f2Dnc {
  position: relative;
  object-fit: cover;
  min-width: 16px;
  min-height: 16px;
  width: 16px;
  height: 16px;
}
.freeBox__eK0Co {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 8px;
}
.freeBox__bFvxf {
  display: block;
  position: relative;
  min-width: 33.33%;
  height: 12px;
}
.freeBox__m8Hum {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 5px;
}
.text__vlXbk {
  font-size: 11px;
  line-height: 1.5;
  white-space: pre;
  height: auto;
  color: var(--token-UunsGa2Y3t3);
}
.missingOrg:global(.__wab_instance) {
  position: relative;
}
.svg__nB3Rq {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.text__n1Zsy {
  font-size: 11px;
  line-height: 1.5;
  text-decoration-line: underline !important;
  color: var(--token-UunsGa2Y3t3);
}
.svg__qlN9J {
  display: flex;
  position: relative;
  object-fit: cover;
  height: 1em;
}
.nameBox {
  display: flex;
  position: relative;
  column-gap: 8px;
}
.text__fuuks {
  color: var(--token-UunsGa2Y3t3);
  white-space: pre;
  padding-top: 8px;
  padding-bottom: 8px;
  min-width: 33.33%;
}
.name {
  position: relative;
  width: 100%;
  box-shadow: inset 0px 0px 0px 1px var(--token-0vHxN11ixM);
  min-width: 0;
  border-radius: 4px;
  padding: 8px;
  border-width: 0px;
}
.nameerrors_name {
  border-color: var(--token-590x3zVVS2z);
}
.root .name:focus {
  box-shadow: inset 0px 0px 0px 2px var(--token-XH9PcvIOG8Q);
  outline: none;
}
.root .name::placeholder {
  color: var(--token-t68i-MG5Bw);
}
.freeBox__rQeIv {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBoxerrors_name__rQeIVnelV0 {
  column-gap: 8px;
  row-gap: 0px;
}
.freeBox__ydj1G {
  display: block;
  position: relative;
  height: 32px;
  min-width: 33.33%;
}
.nameError {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: var(--token-qYuX4XAEbRt);
  column-gap: 5px;
  padding: 8px;
}
.nameErrorerrors_name {
  border-radius: 4px;
}
.text__stAqz {
  color: var(--token-Y2CWh0ci95a);
  font-size: 10px;
  line-height: 12px;
}
.privateBox {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  column-gap: 8px;
}
.text__ozQaX {
  color: var(--token-UunsGa2Y3t3);
  white-space: pre;
  padding-top: 8px;
  padding-bottom: 8px;
  min-width: 33.33%;
}
.freeBox__um2Rp {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 32px;
  min-width: 0;
}
.privateRepo:global(.__wab_instance) {
  position: relative;
}
.freeBox__nkvAb {
  display: block;
  position: relative;
  width: 92px;
  height: 32px;
  background: rgba(68, 192, 255, 0.2);
  flex-shrink: 0;
}
.existingBox {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 12px;
}
.repositoryBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 5px;
}
.text__ftyWh {
  color: var(--token-t68i-MG5Bw);
  white-space: pre;
  font-size: 11px;
  line-height: 16px;
  min-width: 33.33%;
}
.textview_existingRepo__ftyWheHbf9 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.repository:global(.__wab_instance) {
  position: relative;
}
.option__hxblz:global(.__wab_instance) {
  position: relative;
}
.option__c7G1H:global(.__wab_instance) {
  position: relative;
}
.optionGroup__g6Ivx:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.option___4CFmR:global(.__wab_instance) {
  position: relative;
}
.option__x5IeM:global(.__wab_instance) {
  position: relative;
}
.optionGroup__zlNo9:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.option__bfjIj:global(.__wab_instance) {
  position: relative;
}
.option___44Hr:global(.__wab_instance) {
  position: relative;
}
.option___4DhDh:global(.__wab_instance) {
  position: relative;
}
.svg__gJtww {
  position: relative;
  object-fit: cover;
  min-width: 16px;
  min-height: 16px;
  width: 16px;
  height: 16px;
}
.freeBox__u1Ph5 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 8px;
}
.freeBox__mdZzO {
  display: block;
  position: relative;
  min-width: 33.33%;
  height: 12px;
}
.freeBox___49QEf {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 5px;
}
.text__ov096 {
  color: var(--token-tqZN8CQTuKc);
  white-space: pre;
  font-size: 10px;
  line-height: 12px;
}
.missingRepo:global(.__wab_instance) {
  position: relative;
}
.svg__muAjE {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.text__ywqDb {
  font-size: 10px;
  line-height: 12px;
  color: var(--token-tqZN8CQTuKc);
  text-decoration-line: underline !important;
}
.svg__s35A {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 12px;
  height: 12px;
}
.branchBox {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  column-gap: 5px;
}
.text__voExp {
  position: relative;
  color: var(--token-t68i-MG5Bw);
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 11px;
  line-height: 16px;
  min-width: 33.33%;
}
.branch:global(.__wab_instance) {
  position: relative;
}
.option__hx9Zc:global(.__wab_instance) {
  position: relative;
}
.option__xw83O:global(.__wab_instance) {
  position: relative;
}
.optionGroup__ziwsd:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.option__phrcg:global(.__wab_instance) {
  position: relative;
}
.option__eo3Re:global(.__wab_instance) {
  position: relative;
}
.optionGroup__xN5U:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.option__sMxEv:global(.__wab_instance) {
  position: relative;
}
.option__h6UnM:global(.__wab_instance) {
  position: relative;
}
.option__eBu2:global(.__wab_instance) {
  position: relative;
}
.svg__z1BTl {
  position: relative;
  object-fit: cover;
  min-width: 16px;
  min-height: 16px;
  width: 16px;
  height: 16px;
}
.directoryBox {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  column-gap: 8px;
}
.text__mEoV {
  color: var(--token-t68i-MG5Bw);
  white-space: pre;
  font-size: 11px;
  line-height: 16px;
  min-width: 33.33%;
}
.textview_existingRepo__mEoVeHbf9 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.directory {
  position: relative;
  width: 100%;
  font-size: 11px;
  line-height: 14px;
  min-width: 0;
  border-radius: 4px;
  padding: 8px;
  border: 1px solid var(--token-0vHxN11ixM);
}
.directoryerrors_directory {
  border-color: var(--token-590x3zVVS2z);
}
.directoryError {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  background: var(--token-QMdL41TrGn5);
  column-gap: 5px;
  padding: 8px;
}
.text__dA8Xr {
  color: var(--token-pCMcQv3xBc);
  font-size: 10px;
  line-height: 12px;
}
.freeBox__w6Skl {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  background: var(--token-hoA5qaM-91G);
  min-width: 0;
  flex-shrink: 0;
}
.opts {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  left: auto;
  top: auto;
  row-gap: 12px;
}
.optsview_existingRepo {
  left: auto;
  top: auto;
}
.frameworkBox {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  column-gap: 8px;
}
.text__kPvKu {
  color: var(--token-UunsGa2Y3t3);
  white-space: pre;
  padding-top: 8px;
  padding-bottom: 8px;
  min-width: 33.33%;
}
.framework:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.option__qihXm:global(.__wab_instance) {
  position: relative;
}
.option___3NWab:global(.__wab_instance) {
  position: relative;
}
.optionGroup__uwJur:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.option__n5Wmv:global(.__wab_instance) {
  position: relative;
}
.option__sp81S:global(.__wab_instance) {
  position: relative;
}
.optionGroup__denQ1:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.option__cYXd:global(.__wab_instance) {
  position: relative;
}
.option__ndf89:global(.__wab_instance) {
  position: relative;
}
.option__egCdP:global(.__wab_instance) {
  position: relative;
}
.svg__hDmgh {
  position: relative;
  object-fit: cover;
  min-width: 16px;
  min-height: 16px;
  width: 16px;
  height: 16px;
}
.languageBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 8px;
}
.text__qGPa {
  color: var(--token-UunsGa2Y3t3);
  white-space: pre;
  padding-bottom: 8px;
  padding-top: 8px;
  min-width: 33.33%;
}
.language:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.option__op942:global(.__wab_instance) {
  position: relative;
}
.option___5UsUg:global(.__wab_instance) {
  position: relative;
}
.optionGroup__gFTjv:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.option__mEmV9:global(.__wab_instance) {
  position: relative;
}
.option__s1Ueu:global(.__wab_instance) {
  position: relative;
}
.optionGroup__tgQup:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.option__rf4U:global(.__wab_instance) {
  position: relative;
}
.option__sfWt:global(.__wab_instance) {
  position: relative;
}
.option__gfcPy:global(.__wab_instance) {
  position: relative;
}
.svg__xjZUh {
  position: relative;
  object-fit: cover;
  min-width: 16px;
  min-height: 16px;
  width: 16px;
  height: 16px;
}
.modeBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 8px;
}
.freeBox__gdLb {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-top: 8px;
  padding-bottom: 8px;
  min-width: 33.33%;
  column-gap: 2px;
}
.text__bcbhS {
  color: var(--token-UunsGa2Y3t3);
  white-space: pre;
  font-size: 11px;
  line-height: 16px;
}
.modeInfo {
  position: relative;
  object-fit: cover;
  color: var(--token-fVn5vRhXJxQ);
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
}
.mode:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.option__uaGgQ:global(.__wab_instance) {
  position: relative;
}
.option__q1Kp2:global(.__wab_instance) {
  position: relative;
}
.optionGroup__vIqyu:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.option__t9Gzv:global(.__wab_instance) {
  position: relative;
}
.option___3Aupo:global(.__wab_instance) {
  position: relative;
}
.optionGroup__wi5Bi:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.option___1NQr2:global(.__wab_instance) {
  position: relative;
}
.option__zlqX:global(.__wab_instance) {
  position: relative;
}
.option__leXt4:global(.__wab_instance) {
  position: relative;
}
.svg__tSnk0 {
  position: relative;
  object-fit: cover;
  min-width: 16px;
  min-height: 16px;
  width: 16px;
  height: 16px;
}
.actionBox {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  column-gap: 8px;
}
.freeBox__krCQj {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-top: 8px;
  padding-bottom: 8px;
  min-width: 33.33%;
  column-gap: 2px;
}
.text__pOa9G {
  color: var(--token-UunsGa2Y3t3);
  white-space: pre;
  font-size: 11px;
  line-height: 16px;
}
.actionInfo {
  position: relative;
  object-fit: cover;
  color: var(--token-fVn5vRhXJxQ);
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
}
.action:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.option__tszGa:global(.__wab_instance) {
  position: relative;
}
.option___9SoZ:global(.__wab_instance) {
  position: relative;
}
.optionGroup___0Up6B:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.option___2XZgT:global(.__wab_instance) {
  position: relative;
}
.option__rzMgH:global(.__wab_instance) {
  position: relative;
}
.optionGroup__ujGFl:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.option__qDHyd:global(.__wab_instance) {
  position: relative;
}
.option__l6G7D:global(.__wab_instance) {
  position: relative;
}
.option__nkY0G:global(.__wab_instance) {
  position: relative;
}
.svg___9AFcX {
  position: relative;
  object-fit: cover;
  min-width: 16px;
  min-height: 16px;
  width: 16px;
  height: 16px;
}
.freeBox__r6Rpm {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  background: var(--token-hoA5qaM-91G);
  min-width: 0;
  flex-shrink: 0;
}
.deployment {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  left: auto;
  top: auto;
  row-gap: 12px;
}
.deploymentview_existingRepo {
  left: auto;
  top: auto;
}
.deploymenthide_action {
  left: auto;
  top: auto;
}
.freeBox__xKatJ {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 0px;
}
.freeBox__uBi71 {
  display: flex;
  column-gap: 8px;
}
.publishSiteLabel {
  color: var(--token-UunsGa2Y3t3);
  white-space: pre;
  padding-top: 8px;
  padding-bottom: 8px;
  min-width: 33.33%;
}
.freeBox__kvwzT {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 32px;
  column-gap: 12px;
  min-width: 0;
}
.publishSite:global(.__wab_instance) {
  position: relative;
}
.publishSiteError:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.domainError2:global(.__wab_instance) {
  position: relative;
}
.freeBox__lofOa {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 12px;
}
.freeBoxisPublishingSite__lofOaQOy2M {
  display: flex;
}
.freeBox__uXh0V {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 8px;
}
.freeBox___8QGx {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 8px;
}
.text__u2Xdt {
  color: var(--token-t68i-MG5Bw);
  white-space: pre;
  width: 40%;
  height: auto;
  min-width: 33.33%;
}
.apparentSubdomainInput {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-right: 8px;
  width: 100%;
  cursor: text;
  min-width: 0;
  border-radius: 4px;
  border: 1px solid var(--token-0vHxN11ixM);
}
.apparentSubdomainInputerrors_missingDomain {
  border-color: var(--token-590x3zVVS2z);
}
.subdomainInput {
  position: relative;
  width: 100%;
  font-size: 11px;
  line-height: 14px;
  min-width: 0;
  border-radius: 4px;
  padding: 8px;
  border: 1px none var(--token-590x3zVVS2z);
}
.subdomainInputerrors_name {
  border-color: var(--token-590x3zVVS2z);
}
.text__hUstb {
  color: var(--token-CYqwMJchyYA);
}
.domainError:global(.__wab_instance) {
  position: relative;
}
.freeBox__yhpUs {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 32px;
  flex-shrink: 0;
}
.text__u5VXk {
  color: var(--token-UunsGa2Y3t3);
  white-space: pre;
  width: auto;
  height: auto;
}
.moreProvidersLink {
  position: relative;
  color: var(--token-VUsIDivgUss);
}
.text__tt3Dz {
  color: var(--token-t68i-MG5Bw);
  white-space: pre;
  width: auto;
  height: auto;
}
.freeBox__esjpg {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
  background: var(--token-p-rw5DRJTx);
  padding: 24px;
  border-top: 1px solid var(--token-hoA5qaM-91G);
}
.pushButton:global(.__wab_instance) {
  position: relative;
}
.svg__tmeWd {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.textloading_saving__cpLbdfB02 {
  height: auto;
}
.svg__r05Gv {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 1em;
}
