.__wab_flex-container {
  display: flex;
  flex: 1;
  align-self: stretch;
  pointer-events: none;
}

.__wab_flex-container > * {
  pointer-events: auto;
}

.__wab_slot {
  display: contents;
}

.__wab_slot-string-wrapper {
  position: relative;
}

.__wab_passthrough {
  display: contents;
}

.__wab_img-wrapper {
  position: relative;
  display: inherit;
  flex-direction: column;
  overflow: hidden;
  flex-shrink: 0;
}

.__wab_slot > .__wab_img-wrapper {
  display: block;
}

.__wab_passthrough > .__wab_img-wrapper {
  display: block;
}

.__wab_img-spacer-svg {
  display: block;
  margin: 0;
  border: none;
  padding: 0;
}

.__wab_img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0;
  border: none;
  display: block;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  box-sizing: border-box;
}

.__wab_picture {
  display: contents;
}
