.root {
  display: flex;
  position: relative;
}
.root > :global(.__wab_flex-container) {
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
}
.text {
  position: relative;
  color: var(--token-UunsGa2Y3t3);
  width: 118px;
  padding-top: 8px;
  padding-bottom: 8px;
  align-self: flex-start;
  flex-shrink: 0;
}
.freeBox__ynHvD {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__ynHvD > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__ynHvD > :global(.__wab_flex-container) > *,
.freeBox__ynHvD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ynHvD > :global(.__wab_flex-container) > picture > img,
.freeBox__ynHvD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.keyInput {
  border-radius: 4px;
  padding: 0.5rem;
  border: 1px solid var(--token-eBt2ZgqRUCz);
}
.root .keyInput:focus {
  box-shadow: 0px 0px 0px 2px #0091ff80;
  outline: none;
}
.root .keyInput::placeholder {
  color: var(--token-UunsGa2Y3t3);
}
.valueInput {
  border-radius: 4px;
  padding: 0.5rem;
  border: 1px solid var(--token-eBt2ZgqRUCz);
}
.root .valueInput:focus {
  box-shadow: 0px 0px 0px 2px #0091ff80;
  outline: none;
}
.root .valueInput::placeholder {
  color: var(--token-UunsGa2Y3t3);
}
.freeBox__pVez5 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__pVez5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__pVez5 > :global(.__wab_flex-container) > *,
.freeBox__pVez5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pVez5 > :global(.__wab_flex-container) > picture > img,
.freeBox__pVez5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.freeBoxshowAdd_hideDelete__pVez5RbWrKOQpov > :global(.__wab_flex-container) {
  justify-content: flex-start;
}
.addButton:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.addButtonshowAdd:global(.__wab_instance) {
  flex-shrink: 0;
}
.svg__wtQm {
  display: flex;
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__k0Jtn {
  display: flex;
  position: relative;
  object-fit: cover;
  color: var(--token-UunsGa2Y3t3);
  height: 1em;
}
.deleteButton:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.deleteButtonhideDelete:global(.__wab_instance) {
  flex-shrink: 0;
}
.deleteButtonshowAdd_hideDelete:global(.__wab_instance) {
  flex-shrink: 0;
}
.svg__jTAbX {
  display: flex;
  position: relative;
  object-fit: cover;
  height: 1em;
}
.root .svg__jTAbX:hover {
  color: var(--token-590x3zVVS2z);
}
.svg__sAyTq {
  display: flex;
  position: relative;
  object-fit: cover;
  color: var(--token-UunsGa2Y3t3);
  height: 1em;
}
