.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  row-gap: 16px;
  min-width: 0;
}
.freeBox__simNc {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  row-gap: 8px;
  min-width: 0;
}
.freeBox___0Jy6H {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 8px;
}
.freeBox__ptuDx {
  display: flex;
  position: relative;
  min-width: 118px;
  column-gap: 8px;
}
.checkbox:global(.__wab_instance) {
  position: relative;
}
.method:global(.__wab_instance) {
  position: relative;
}
.option__vQd3:global(.__wab_instance) {
  position: relative;
}
.option__k8RL:global(.__wab_instance) {
  position: relative;
}
.optionGroup__baTqW:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.option__cygnG:global(.__wab_instance) {
  position: relative;
}
.option__hwLmJ:global(.__wab_instance) {
  position: relative;
}
.optionGroup___8EbWc:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.option___5YgNo:global(.__wab_instance) {
  position: relative;
}
.option__utChq:global(.__wab_instance) {
  position: relative;
}
.option__cewjg:global(.__wab_instance) {
  position: relative;
}
.svg {
  position: relative;
  object-fit: cover;
  min-width: 16px;
  min-height: 16px;
  width: 16px;
  height: 16px;
}
.url {
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  border-radius: 4px;
  padding: 0.5rem;
  border: 1px solid var(--token-eBt2ZgqRUCz);
}
.root .url::placeholder {
  color: var(--token-UunsGa2Y3t3);
}
.root .url:focus {
  box-shadow: 0px 0px 0px 2px #0091ff80;
  outline: none;
}
.menuButton:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.expandedContent {
  display: flex;
  position: relative;
  flex-direction: column;
  row-gap: 8px;
}
.headerField {
  display: flex;
  position: relative;
  flex-direction: column;
  row-gap: 8px;
}
.payloadField {
  display: flex;
  position: relative;
  column-gap: 8px;
}
.text___0EkOd {
  position: relative;
  color: var(--token-UunsGa2Y3t3);
  width: 118px;
  padding-top: 8px;
  padding-bottom: 8px;
  flex-shrink: 0;
}
.payload {
  position: relative;
  font-family: "IBM Plex Mono";
  width: 100%;
  background: #ffffff;
  min-width: 0;
  border-radius: 4px;
  padding: 0.5rem;
  border: 1px solid var(--token-eBt2ZgqRUCz);
}
.root .payload::placeholder {
  color: var(--token-UunsGa2Y3t3);
}
.root .payload:focus {
  box-shadow: 0px 0px 0px 2px #0091ff80;
  outline: none;
}
.sendDataField {
  display: flex;
  position: relative;
  column-gap: 8px;
}
.freeBox___5X7VS {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 118px;
  height: auto;
  max-width: 100%;
  column-gap: 2px;
  flex-shrink: 0;
  padding: 8px 0px;
}
.text___1YZlP {
  color: var(--token-UunsGa2Y3t3);
}
.sendDataInfo {
  position: relative;
  object-fit: cover;
  color: var(--token-fVn5vRhXJxQ);
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
}
.sendPlasmicDataSwitch:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__uuv93 {
  display: block;
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  height: 1px;
  background: var(--token-hoA5qaM-91G);
  min-width: 0;
  flex-shrink: 0;
}
