.root {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
}
.freeBox {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  row-gap: 8px;
  min-width: 0;
}
.webhookEvent__pJWg:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.webhookEvent__uud5D:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.webhookEvent___3NnLk:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.webhookEvent___0QbD:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__yOarX {
  height: auto;
}
.text {
  position: relative;
}
.textloading {
  color: var(--token-UunsGa2Y3t3);
}
