.root {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  column-gap: 16px;
  min-width: 0;
  padding: 8px;
}
.permissions {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-size: 12px;
  color: var(--token-qKhMu66CwSx);
  cursor: pointer;
}
.permissionsselected_permissions {
  color: var(--token-0IloF6TmFvF);
  font-weight: 700;
}
.settings {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-size: 12px;
  color: var(--token-qKhMu66CwSx);
  cursor: pointer;
}
.settingsselected_settings {
  color: var(--token-0IloF6TmFvF);
  font-weight: 700;
}
.activity {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-size: 12px;
  color: var(--token-qKhMu66CwSx);
  cursor: pointer;
}
.activityselected_activity {
  color: var(--token-0IloF6TmFvF);
  font-weight: 700;
}
