.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  position: relative;
  min-width: 0;
  min-height: 0;
  padding: 16px;
}
.columns__kx3Gs {
  --plsmc-rc-col-gap: 0px;
}
.columns__kx3Gs {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  border-bottom: 1px solid var(--token-hoA5qaM-91G);
}
.columns__kx3Gs > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__kx3Gs > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 8 / 12);
}
.column__udGuw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.providerLabel {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 12px;
  font-weight: 700;
  min-width: 0;
}
.column__rW0DU {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.providerSelect:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.option__yl4Np:global(.__wab_instance) {
  position: relative;
}
.option__klmjC:global(.__wab_instance) {
  position: relative;
}
.freeBox__it4Pf {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-bottom: 1px solid var(--token-hoA5qaM-91G);
}
.columns__dm2Yt {
  --plsmc-rc-col-gap: 0px;
}
.columns__dm2Yt {
  display: flex;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
  border-bottom: 1px solid var(--token-hoA5qaM-91G);
}
.columns__dm2Yt > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__dm2Yt > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 8 / 12);
}
.column__oCxJ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.directoryLabel {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 700;
  font-size: 12px;
  min-width: 0;
}
.column__gHt5R {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.freeBox__j41Mv {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px;
}
.freeBox__j41Mv > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__j41Mv > :global(.__wab_flex-container) > *,
.freeBox__j41Mv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__j41Mv > :global(.__wab_flex-container) > picture > img,
.freeBox__j41Mv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.directorySelect:global(.__wab_instance) {
  max-width: 100%;
}
.manageBtn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___4EIy {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__o1Em8 {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.columns__xu0Xg {
  --plsmc-rc-col-gap: 0px;
}
.columns__xu0Xg {
  display: flex;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px 0px;
  border-bottom: 1px solid var(--token-hoA5qaM-91G);
}
.columns__xu0Xg > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__xu0Xg > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 7 / 12);
}
.columns__xu0Xg > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 1 / 12);
}
.column__b3BAv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.rolesLabel {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 700;
  font-size: 12px;
  min-width: 0;
}
.column__bdpF {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.freeBox__vp4T {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow: hidden;
  min-width: 0;
  border-radius: 8px;
  border: 1px solid var(--token-hoA5qaM-91G);
}
.column__m532O {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.addRoleBtn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___3Ya4W {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__qDk5 {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__kvqUw {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
  border-bottom: 1px solid var(--token-hoA5qaM-91G);
}
.roleNeededRow {
  --plsmc-rc-col-gap: 0px;
}
.roleNeededRow {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
}
.roleNeededRow > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.roleNeededRow > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 8 / 12);
}
.column__oO9R2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.defaultRoleLabel {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 12px;
  font-weight: 700;
  min-width: 0;
}
.column__f3Cki {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.roleSelect:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.option__rXb0:global(.__wab_instance) {
  position: relative;
}
.option___1GWuj:global(.__wab_instance) {
  position: relative;
}
