.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  row-gap: 8px;
  min-width: 0;
  padding: 8px;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.columns > :nth-child(3n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 9 / 12);
}
.columns > :nth-child(3n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns > :nth-child(3n + 3) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 1 / 12);
}
.column__vp43W {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.redirectsLabel {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 12px;
  font-weight: 700;
  min-width: 0;
}
.column__nsFLe {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 0px;
}
.saveBtn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__txmU {
  display: flex;
  position: relative;
  object-fit: cover;
  height: 1em;
}
.svg__qmGoV {
  display: flex;
  position: relative;
  object-fit: cover;
  height: 1em;
}
.column__zTZy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 0px;
}
.addBtn:global(.__wab_instance) {
  max-width: 100%;
}
.svg__dLtG2 {
  display: flex;
  position: relative;
  object-fit: cover;
  height: 1em;
}
.svg__gjmZl {
  display: flex;
  position: relative;
  object-fit: cover;
  height: 1em;
}
