.root {
  box-shadow: 0px 8px 32px -8px var(--token-XeFw4MGauXBT),
    0px 8px 20px -16px var(--token-JrjdlBU-a5Ju);
  display: inline-flex;
  width: auto;
  position: relative;
  flex-direction: row;
  overflow: hidden;
  background: var(--token-olzpv9Zfv0);
  justify-self: flex-start;
  border-radius: 12px;
  padding: 8px 16px;
  border: 1px solid #00002f42;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
}
.roottype_error {
  background: var(--token-M6q4nJev3CK);
  border-width: 0px;
}
.roottype_info {
  background: var(--token-5j3rDkMLTbx);
  border-width: 0px;
}
.rootsize_small {
  height: 32px;
}
.rootblock {
  width: 100%;
  min-width: 0;
}
.rootblock > :global(.__wab_flex-container) {
  min-width: 0;
}
.freeBox__xDsa {
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__xDsa > :global(.__wab_flex-container) {
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__xDsa > :global(.__wab_flex-container) > *,
.freeBox__xDsa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xDsa > :global(.__wab_flex-container) > picture > img,
.freeBox__xDsa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__qiaUx {
  display: flex;
}
.icon {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-RTPypKCJE4bm);
  flex-shrink: 0;
}
.icontype_error {
  color: var(--token-Hnmc63c6Fir5);
}
.icontype_info {
  color: var(--token-Hnmc63c6Fir5);
}
.freeBox__gl9VT {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__gl9VT > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.freeBox__gl9VT > :global(.__wab_flex-container) > *,
.freeBox__gl9VT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gl9VT > :global(.__wab_flex-container) > picture > img,
.freeBox__gl9VT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.text__wYq26 {
  font-weight: 500;
  width: auto;
  flex-shrink: 0;
  color: var(--token-RTPypKCJE4bm);
}
.texttype_error__wYq26AyvH7 {
  color: var(--token-Hnmc63c6Fir5);
}
.texttype_info__wYq26Cq87W {
  color: var(--token-Hnmc63c6Fir5);
}
.text___0Krq3 {
  font-weight: 400;
  color: var(--token-RTPypKCJE4bm);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
}
.texttype_error___0Krq3AyvH7 {
  color: var(--token-Hnmc63c6Fir5);
}
.texttype_info___0Krq3Cq87W {
  color: var(--token-Hnmc63c6Fir5);
}
.freeBox__fMtNr {
  display: flex;
  position: relative;
}
.freeBox__fMtNr > :global(.__wab_flex-container) {
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__fMtNr > :global(.__wab_flex-container) > *,
.freeBox__fMtNr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fMtNr > :global(.__wab_flex-container) > picture > img,
.freeBox__fMtNr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.action1Btn:global(.__wab_instance) {
  position: relative;
}
.svg__e7Ku3 {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
}
.visit2 {
  white-space: pre;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.svg__jmW69 {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 1em;
}
.svg__x9ZQe {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
}
.visit {
  white-space: pre;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.svg__hBfx5 {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 1em;
}
.dismissBtn {
  display: flex;
  position: relative;
  border-radius: 6px;
  padding: 4px;
}
.root .dismissBtn:hover {
  background: var(--token-lWbTO8z91an);
}
.root .dismissBtn:active {
  background: var(--token-ylE-Ax1KX19);
}
.svg__wSMfq {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-RTPypKCJE4bm);
  flex-shrink: 0;
}
.svgtype_error__wSMfqAyvH7 {
  color: var(--token-Hnmc63c6Fir5);
}
.svgtype_info__wSMfqCq87W {
  color: var(--token-Hnmc63c6Fir5);
}
