.rootContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  position: relative;
}
.sizerContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  max-width: 100%;
  height: 300px;
  flex-shrink: 0;
}
.sizerContainerstate_ready {
  width: auto;
  height: 300px;
  flex-shrink: 0;
}
.sizerContainertype_ui {
  height: auto;
}
.promptDialog {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 512px;
  height: auto;
  max-width: 100%;
  overflow: auto;
  background: #ffffff;
  max-height: 100%;
  row-gap: 8px;
  padding: 16px;
}
.headerContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.promptLabel {
  width: auto;
  height: auto;
  max-width: 100%;
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 50px;
}
.promptLabelstate_history {
  display: none;
}
.promptLabelstate_historyEmpty {
  display: none;
}
.history {
  width: auto;
  height: auto;
  max-width: 100%;
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 50px;
  display: none;
}
.historystate_history {
  display: block;
}
.historystate_historyEmpty {
  display: block;
}
.rightButtons {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.historyBtn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
.svg__yiwDt {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
}
.svgstate_history__yiwDtFmeFi {
  color: #1b1b18;
}
.svgstate_historyEmpty__yiwDtWeNsL {
  color: #1b1b18;
}
.svg__uadiG {
  display: flex;
  position: relative;
  object-fit: cover;
  height: 1em;
}
.cancelBtn:global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
.svg__w7MBv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
}
.svg__b2OKi {
  display: flex;
  position: relative;
  object-fit: cover;
  height: 1em;
}
.contents {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 8px;
  min-width: 0;
}
.contentsstate_history {
  max-height: 100%;
  overflow: auto;
}
.contentsstate_historyEmpty {
  max-height: 100%;
  overflow: auto;
}
.historyContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.historyContainerstate_history {
  max-height: 300px;
  display: flex;
}
.historyContainerstate_historyEmpty {
  display: flex;
}
.historyEmptyMsg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.historyEmptyMsgstate_history {
  display: none;
}
.historyEmptyMsgstate_historyEmpty {
  text-align: center;
}
.historyContents {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 8px;
  padding-left: 8px;
  row-gap: 16px;
  min-width: 0;
}
.historyContentsstate_history {
  display: flex;
}
.historyContentsstate_historyEmpty {
  display: none;
}
.copilotMsg__cScMq:global(.__wab_instance) {
  max-width: 100%;
}
.copilotMsg__kbV:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.copilotMsg__sfkbS:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.copilotMsg__yboe1:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.historyBottomDiv {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 0px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
.onLoadTrigger {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.onLoadTrigger > picture > img {
  object-fit: cover;
}
.onLoadTriggerstate_history {
  width: 1px;
  opacity: 0;
  height: 1px;
  flex-shrink: 0;
}
.onLoadTriggerstate_historyEmpty {
  width: 1px;
  opacity: 0;
  height: 1px;
  flex-shrink: 0;
}
.promptContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 8px;
  min-width: 0;
}
.promptContainerstate_ready {
  display: flex;
}
.promptContainerstate_history {
  display: none;
}
.promptContainerstate_historyEmpty {
  display: none;
}
.modelProviderOverrideInput:global(.__wab_instance) {
  display: none;
}
.modelProviderOverrideInputwithAdminOverrides:global(.__wab_instance) {
  display: flex;
}
.systemPromptInput:global(.__wab_instance) {
  display: none;
}
.systemPromptInputwithAdminOverrides:global(.__wab_instance) {
  display: flex;
}
.promptInput:global(.__wab_instance) {
  max-width: 100%;
}
.svg__qXcOj {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 64px;
  color: #8888881a;
  min-width: 0;
  flex-shrink: 0;
}
.svgstate_loading__qXcOj4AmlM {
  display: block;
}
.errorMessage {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
  display: none;
}
.errorMessagestate_error {
  display: block;
}
.quotaExceededMsg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.quotaExceededMsgstate_quotaExceeded {
  text-align: center;
  width: 100%;
  background: #fef2a4;
  margin-bottom: 12px;
  min-width: 0;
  display: block;
  border-radius: 12px;
  padding: 8px;
}
.reply:global(.__wab_instance) {
  position: relative;
  margin-bottom: 12px;
  display: none;
}
.replystate_ready:global(.__wab_instance) {
  display: flex;
}
.replystate_quotaExceeded:global(.__wab_instance) {
  margin-bottom: 12px;
}
