.root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  position: relative;
  background: none;
  row-gap: var(--token-O2OprmOFWLju);
  min-width: 0;
  border-radius: 4px;
}
.root:focus-within:focus-within {
  outline: none;
}
.modelOverrideInput:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  transform: none;
  max-height: 100px;
  min-width: 0;
  display: none;
}
.modelOverrideInputwithAdminOverrides:global(.__wab_instance):global(
    .__wab_instance
  ) {
  display: block;
}
.root:focus-within
  .modelOverrideInput:global(.__wab_instance):global(.__wab_instance) {
  outline: none;
}
.systemPromptInput:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  transform: none;
  max-height: 100px;
  min-width: 0;
  display: none;
}
.systemPromptInputwithAdminOverrides:global(.__wab_instance):global(
    .__wab_instance
  ) {
  display: block;
}
.root:focus-within
  .systemPromptInput:global(.__wab_instance):global(.__wab_instance) {
  outline: none;
}
.freeBox___1FAnc {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  box-shadow: inset 0px 0px 0px 1px var(--token-CE-OiWjNhspe);
  background: var(--token-rqQDmopteQdV);
  min-width: 0;
  border-radius: var(--token-CyMxORMQ0iY7);
  border-style: none;
}
.root:focus-within .freeBox___1FAnc {
  box-shadow: inset 0px 0px 0px 1px var(--token-WqsKGtAj1ZMI);
  outline: none;
}
.textAreaInput:global(.__wab_instance) {
  animation: none;
  box-sizing: border-box;
  object-fit: cover;
  position: relative;
  font-size: var(--token-y-e1zIVKHJyd);
  line-height: var(--token-wCNdq3-87nVE);
  width: 100%;
  outline-style: none;
  font-family: var(--token-NQPeu56hWEVO);
  background: var(--token-brSQU2ryS);
  max-width: 100%;
  max-height: 100px;
  min-width: 0;
  padding: var(--token-O2OprmOFWLju) var(--token-O2OprmOFWLju)
    var(--token-CVkj_k5wv-Vl);
  border-style: none;
}
.root:focus-within .textAreaInput:global(.__wab_instance) {
  outline: none;
}
.freeBox__ahFq {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  pointer-events: none;
  bottom: 0px;
  min-width: 0;
}
.root:focus-within .freeBox__ahFq {
  outline: none;
}
.freeBox__pzPNk {
  display: flex;
  position: relative;
  pointer-events: auto;
}
.imageUploadIcon:global(.__wab_instance) {
  flex-shrink: 0;
}
.imageUploadIconisLoading:global(.__wab_instance) {
  flex-shrink: 0;
}
.svg__iSr6 {
  display: flex;
  position: relative;
  object-fit: cover;
  color: var(--token-qP8a3gYPq7fd);
  height: 1em;
}
.svg___2Pd8M {
  display: flex;
  position: relative;
  object-fit: cover;
  height: 1em;
}
.freeBox__xruPv {
  display: flex;
  position: relative;
  pointer-events: auto;
}
.runPromptBtn:global(.__wab_instance) {
  flex-shrink: 0;
}
.runPromptBtnisLoading:global(.__wab_instance) {
  flex-shrink: 0;
}
.svg__qv73J {
  display: flex;
  position: relative;
  object-fit: cover;
  transform: rotate3d(0, 0, 1, 90deg);
  color: var(--token-qP8a3gYPq7fd);
  height: 1em;
}
.root:focus-within .svg__qv73J {
  outline: none;
}
.svg__mXkbp {
  display: flex;
  position: relative;
  object-fit: cover;
  height: 1em;
}
.dropOverlay {
  flex-direction: row;
  position: absolute;
  top: 0px;
  left: 0px;
  align-items: center;
  justify-content: center;
  column-gap: var(--token-O2OprmOFWLju);
  background: var(--token-8MEyDjsqznQc);
  right: 0px;
  bottom: 0px;
  color: var(--token-mwrqWBxg1aja);
  display: none;
  border-radius: var(--token-CyMxORMQ0iY7);
  border: 2px dashed var(--token-qP8a3gYPq7fd);
}
.dropOverlaydragState_dragstart {
  opacity: 0.75;
  display: flex;
}
.dropOverlaydragState_dragover {
  opacity: 1;
  display: flex;
  border-width: 3px;
}
.svg__yuVHz {
  object-fit: cover;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.imageUploadContainer {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: wrap;
  column-gap: var(--token-O2OprmOFWLju);
  row-gap: var(--token-O2OprmOFWLju);
  min-width: 0;
}
