.root {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  row-gap: 12px;
  min-width: 0;
}
.openCopilotBtn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__b9Ejo {
  display: flex;
  position: relative;
  object-fit: cover;
  height: 1em;
}
.freeBox {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.svg {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 18px;
  color: var(--token-N1gO6v-RIEn);
  flex-shrink: 0;
}
.svg___8GW4M {
  display: flex;
  position: relative;
  object-fit: cover;
  height: 1em;
}
