.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: center;
}
.modalWrapRepeatedElement {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background: #ffffff;
  cursor: default;
  row-gap: 16px;
  padding: 24px;
}
.frame28 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 8px;
  min-width: 0;
}
.text__qjHi {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.25;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text___6V3Kb {
  font-size: 12px;
  line-height: 1.25;
  position: relative;
  width: 100%;
  min-width: 0;
}
.frame27 {
  width: 520px;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  column-gap: 24px;
}
.wrapRepeatedElementOption__wiSrK:global(.__wab_instance) {
  position: relative;
}
.freeBox__hsMx {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  column-gap: 8px;
  border-radius: 5px;
}
.freeBox__uaJgz {
  background: var(--token-G18pc1ITl);
  box-shadow: inset 0px 0px 0px 1px var(--token-N3uwCfNqv);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  column-gap: 8px;
  padding: 8px;
}
.freeBox__erE1H {
  background: var(--token-N3uwCfNqv);
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 100px;
}
.freeBox__gjgQx {
  background: var(--token-G18pc1ITl);
  box-shadow: inset 0px 0px 0px 1px rgba(0, 144, 255, 1);
  opacity: 0.4;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  column-gap: 8px;
  padding: 8px;
}
.freeBox__gmyJi {
  background: var(--token-N3uwCfNqv);
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 100px;
}
.freeBox__rBl0J {
  background: var(--token-G18pc1ITl);
  box-shadow: inset 0px 0px 0px 1px rgba(0, 144, 255, 1);
  opacity: 0.4;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  column-gap: 8px;
  padding: 8px;
}
.freeBox__rbk {
  background: var(--token-N3uwCfNqv);
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 100px;
}
.wrapRepeatedElementOption__pePKo:global(.__wab_instance) {
  position: relative;
}
.frame25 {
  background: var(--token-G18pc1ITl);
  box-shadow: inset 0px 0px 0px 1px var(--token-N3uwCfNqv);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  column-gap: 8px;
  padding: 8px;
}
.rectangle16 {
  background: var(--token-N3uwCfNqv);
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 100px;
}
.rectangle17 {
  opacity: 0.3;
  background: var(--token-N3uwCfNqv);
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 100px;
}
.rectangle18 {
  opacity: 0.3;
  background: var(--token-N3uwCfNqv);
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 100px;
}
