.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: center;
}
.modalWrapRepeatedElement {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  cursor: default;
  padding: 24px;
}
.modalWrapRepeatedElement > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.modalWrapRepeatedElement > :global(.__wab_flex-container) > *,
.modalWrapRepeatedElement
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.modalWrapRepeatedElement > :global(.__wab_flex-container) > picture > img,
.modalWrapRepeatedElement
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.frame28 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  min-width: 0;
}
.frame28 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.frame28 > :global(.__wab_flex-container) > *,
.frame28 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame28 > :global(.__wab_flex-container) > picture > img,
.frame28
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__qjHi {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.25;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text___6V3Kb {
  font-size: 12px;
  line-height: 1.25;
  position: relative;
  width: 100%;
  min-width: 0;
}
.frame27 {
  width: 520px;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.frame27 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.frame27 > :global(.__wab_flex-container) > *,
.frame27 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame27 > :global(.__wab_flex-container) > picture > img,
.frame27
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.wrapRepeatedElementOption__wiSrK:global(.__wab_instance) {
  position: relative;
}
.freeBox__hsMx {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: row;
  border-radius: 5px;
}
.freeBox__hsMx > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__hsMx > :global(.__wab_flex-container) > *,
.freeBox__hsMx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hsMx > :global(.__wab_flex-container) > picture > img,
.freeBox__hsMx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__uaJgz {
  background: var(--token-G18pc1ITl);
  box-shadow: inset 0px 0px 0px 1px var(--token-N3uwCfNqv);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  padding: 8px;
}
.freeBox__uaJgz > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__uaJgz > :global(.__wab_flex-container) > *,
.freeBox__uaJgz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uaJgz > :global(.__wab_flex-container) > picture > img,
.freeBox__uaJgz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__erE1H {
  background: var(--token-N3uwCfNqv);
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 100px;
}
.freeBox__gjgQx {
  background: var(--token-G18pc1ITl);
  box-shadow: inset 0px 0px 0px 1px rgba(0, 144, 255, 1);
  opacity: 0.4;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  padding: 8px;
}
.freeBox__gjgQx > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__gjgQx > :global(.__wab_flex-container) > *,
.freeBox__gjgQx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gjgQx > :global(.__wab_flex-container) > picture > img,
.freeBox__gjgQx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__gmyJi {
  background: var(--token-N3uwCfNqv);
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 100px;
}
.freeBox__rBl0J {
  background: var(--token-G18pc1ITl);
  box-shadow: inset 0px 0px 0px 1px rgba(0, 144, 255, 1);
  opacity: 0.4;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  padding: 8px;
}
.freeBox__rBl0J > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__rBl0J > :global(.__wab_flex-container) > *,
.freeBox__rBl0J > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rBl0J > :global(.__wab_flex-container) > picture > img,
.freeBox__rBl0J
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__rbk {
  background: var(--token-N3uwCfNqv);
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 100px;
}
.wrapRepeatedElementOption__pePKo:global(.__wab_instance) {
  position: relative;
}
.frame25 {
  background: var(--token-G18pc1ITl);
  box-shadow: inset 0px 0px 0px 1px var(--token-N3uwCfNqv);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: row;
  padding: 8px;
}
.frame25 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.frame25 > :global(.__wab_flex-container) > *,
.frame25 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame25 > :global(.__wab_flex-container) > picture > img,
.frame25
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.rectangle16 {
  background: var(--token-N3uwCfNqv);
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 100px;
}
.rectangle17 {
  opacity: 0.3;
  background: var(--token-N3uwCfNqv);
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 100px;
}
.rectangle18 {
  opacity: 0.3;
  background: var(--token-N3uwCfNqv);
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 100px;
}
