.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  background: none;
  min-width: 0;
  border-radius: 4px;
}
.root:focus-within {
  outline: none;
}
.freeBox__oqfh7 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  row-gap: 8px;
  min-width: 0;
}
.freeBox__zrzJa {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  background: none;
  min-width: 0;
  border-radius: 4px;
  border: 1px solid var(--token-sBh7BFhgAybb);
}
.freeBoxwithAdminOverrides__zrzJAiKnp6 {
  display: flex;
}
.root:focus-within .freeBox__zrzJa {
  outline-color: var(--token-qP8a3gYPq7fd);
  outline-style: solid;
  outline-width: thin;
}
.modelOverrideInput:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  transform: none;
  max-height: 100px;
  min-width: 0;
}
.root:focus-within
  .modelOverrideInput:global(.__wab_instance):global(.__wab_instance) {
  outline: none;
}
.freeBox___7JsOd {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  background: none;
  min-width: 0;
  border-radius: 4px;
  border: 1px solid var(--token-sBh7BFhgAybb);
}
.freeBoxwithAdminOverrides___7JsODiKnp6 {
  display: flex;
}
.root:focus-within .freeBox___7JsOd {
  outline-color: var(--token-qP8a3gYPq7fd);
  outline-style: solid;
  outline-width: thin;
}
.systemPromptInput:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  transform: none;
  max-height: 100px;
  min-width: 0;
}
.root:focus-within
  .systemPromptInput:global(.__wab_instance):global(.__wab_instance) {
  outline: none;
}
.inputArea {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  background: none;
  min-width: 0;
  border-radius: 4px;
  border: 1px solid var(--token-sBh7BFhgAybb);
}
.root:focus-within .inputArea {
  outline-width: thin;
  outline-style: solid;
  outline-color: var(--token-qP8a3gYPq7fd);
}
.textAreaInput:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  transform: none;
  max-height: 100px;
  min-width: 0;
}
.root:focus-within
  .textAreaInput:global(.__wab_instance):global(.__wab_instance) {
  outline: none;
}
.freeBox__ahFq {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  background: none;
  min-width: 0;
  padding: var(--token-YwPV7bN0RvD8);
}
.freeBoxshowImageUpload__ahFQk6CI {
  justify-content: space-between;
}
.imageUploadIcon:global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
  display: none;
}
.imageUploadIconshowImageUpload:global(.__wab_instance) {
  flex-shrink: 0;
  display: flex;
}
.imageUploadIconisLoading:global(.__wab_instance) {
  flex-shrink: 0;
}
.svg__iSr6 {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
}
.svg__ns3Py {
  display: flex;
  position: relative;
  object-fit: cover;
  height: 1em;
}
.runPromptBtn:global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
  display: none;
}
.runPromptBtnisLoading:global(.__wab_instance) {
  flex-shrink: 0;
}
.runPromptBtnwithAction:global(.__wab_instance) {
  flex-shrink: 0;
  display: flex;
}
.svg__qv73J {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  transform: rotate3d(0, 0, 1, 90deg);
  color: var(--token-qP8a3gYPq7fd);
}
.root:focus-within .svg__qv73J {
  outline: none;
}
.svg__pjwG1 {
  display: flex;
  position: relative;
  object-fit: cover;
  height: 1em;
}
.imageUploadContainer {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: var(--token-YwPV7bN0RvD8);
  min-width: 0;
  display: none;
}
.imageUploadContainershowImageUpload {
  display: flex;
}
