.root {
  background: var(--token-p-rw5DRJTx);
  box-shadow: none;
  height: auto;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  cursor: pointer;
  row-gap: 16px;
  border-radius: 4px;
  padding: 16px;
  border: 1px solid var(--token-sBh7BFhgAybb);
}
.root:hover {
  background: var(--token-G18pc1ITl);
}
.wrapRepeatedContainer {
  background: #ffffff;
  box-shadow: none;
  width: 200px;
  height: 100px;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--token-sBh7BFhgAybb);
}
.freeBox__qa3Bj {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  column-gap: 8px;
  border-radius: 5px;
}
.freeBox___2BBgb {
  background: var(--token-G18pc1ITl);
  box-shadow: inset 0px 0px 0px 1px var(--token-N3uwCfNqv);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  column-gap: 8px;
  padding: 8px;
}
.freeBox__zhBrH {
  background: var(--token-N3uwCfNqv);
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 100px;
}
.freeBox__lOdVl {
  background: var(--token-G18pc1ITl);
  box-shadow: inset 0px 0px 0px 1px rgba(0, 144, 255, 1);
  opacity: 0.4;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  column-gap: 8px;
  padding: 8px;
}
.freeBox__osDk3 {
  background: var(--token-N3uwCfNqv);
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 100px;
}
.freeBox__jaWBc {
  background: var(--token-G18pc1ITl);
  box-shadow: inset 0px 0px 0px 1px rgba(0, 144, 255, 1);
  opacity: 0.4;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  column-gap: 8px;
  padding: 8px;
}
.freeBox__byr9R {
  background: var(--token-N3uwCfNqv);
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 100px;
}
.frame31 {
  width: 200px;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 4px;
}
.wrapAllItems {
  position: relative;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.freeBox__eorQg {
  display: flex;
  position: relative;
}
.slotTargetChildren {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.25;
  text-align: center;
}
.wrapAllTheRepeatedElementsInASingleWrapper {
  position: relative;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.freeBox___0DSaK {
  display: flex;
  position: relative;
}
.slotTargetSlot {
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
}
