.next/
.venv/
build/
build-server/
dist/
generated*/
node_modules/
playwright-report/
storybook-static/

/examples/hydrogen-*/
/packages/create-plasmic-app/cpa-out/
/packages/react-web/lib/**
/packages/**/api/
/platform/loader-tests/data/**/*.json
/platform/wab/deps/
/platform/wab/public/static/
/platform/wab/src/wab/server/__tests__/bundle-migrations/fixtures/
/platform/wab/src/wab/server/pkg-mgr/data/
