.root {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.leftSearchPanel:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.leftSearchPanelshowAlert:global(.__wab_instance) {
  flex-shrink: 0;
}
.versionsHeader:global(.__wab_instance) {
  position: relative;
}
.svg__g3KFb {
  display: flex;
  position: relative;
  object-fit: cover;
  height: 1em;
}
.svg__mRQha {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 1em;
}
.textWithInfo__jnif3:global(.__wab_instance) {
  max-width: 100%;
}
.text__pjbSf {
  font-weight: 600;
  font-size: 14px;
}
.content {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  overflow: hidden;
  min-width: 0;
  min-height: 0;
}
