.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 64px;
  height: 64px;
  align-content: unset;
  position: relative;
  opacity: 0.75;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  color: var(--token-0IloF6TmFvF);
  row-gap: 8px;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
  padding: 4px;
}
.rootactive {
  opacity: 1;
}
.root:hover:hover {
  opacity: 1;
}
.fixIconHeight {
  display: flex;
  filter: grayscale(100%);
  transition-property: all;
  transition-duration: 0.5s;
  height: 28px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
}
.fixIconHeightactive {
  filter: grayscale(0%);
}
.root:hover .fixIconHeight {
  filter: grayscale(0%);
}
.slotTargetName {
  text-align: center;
  font-size: 12px;
}
