
.__wab_flex-container {
  display: flex;
  flex: 1;
  align-self: stretch;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.__wab_flex-container > * {
  pointer-events: auto;
}

.__wab_slot {
  display: contents;
}

.__wab_slot-string-wrapper {
  position: relative;
}