.root {
  display: flex;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
  position: relative;
  flex-direction: column;
  width: 100%;
  row-gap: 32px;
  min-width: 0;
}
.freeBox__nOs6U {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: rgb(224, 62, 40);
  display: none;
  padding: 9px;
}
.freeBoxshowBillingError__nOs6UXmPkf {
  background: var(--token-M6q4nJev3CK);
  display: flex;
  border-radius: 8px;
}
.slotTargetBillingError {
  color: var(--token-MuSUbZOS_NL);
  font-weight: 600;
}
.freeBox__ftaU {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  padding-right: 32px;
}
.freeBox__xXxvr {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 32px;
}
.freeBox___7YcIa {
  display: flex;
  flex-direction: column;
}
.text___70ASv {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.25;
}
.freeBox___2PErC {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  column-gap: 4px;
}
.text__qCvxa {
  color: var(--token-UunsGa2Y3t3);
  height: auto;
}
.learnMore {
  position: relative;
}
.freeTrial:global(.__wab_instance) {
  position: relative;
  margin-top: 0px;
  align-self: flex-end;
}
.freeTrialtier_free:global(.__wab_instance) {
  display: flex;
}
.freeBox__fQ70J {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 8px;
  padding-top: 8px;
  row-gap: 4px;
}
.freeBoxtier_free__fQ70JXEnAp {
  display: none;
}
.freeBoxtier_enterprise__fQ70J5Ph4X {
  display: none;
}
.slotTargetCurrentBill {
  font-size: 1rem;
}
.text___4Yo4 {
  position: relative;
  height: auto;
  color: var(--token-UunsGa2Y3t3);
  margin-bottom: 0px;
}
.freeBox__mOmdD {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 8px;
  padding-bottom: 8px;
  row-gap: 4px;
}
.freeBox___2NKs {
  display: flex;
  position: relative;
  column-gap: 4px;
}
.slotTargetSeatsUsed {
  font-size: 1rem;
  font-weight: 500;
}
.text__gJjIm {
  position: relative;
  font-size: 1rem;
}
.slotTargetSeatsPurchased {
  font-size: 1rem;
}
.text__iz26I {
  font-size: 1rem;
  height: auto;
}
.text__ofLuw {
  position: relative;
  height: auto;
  color: var(--token-UunsGa2Y3t3);
}
.billingFrequencyToggle:global(.__wab_instance) {
  position: relative;
}
.text___0IM {
  font-size: 16px;
}
.priceTierPicker:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.premiumSections {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-right: 32px;
  row-gap: 32px;
}
.premiumSectionstier_free {
  display: none;
}
.freeBox__egD9R {
  display: flex;
  position: relative;
  flex-direction: column;
  row-gap: 16px;
  border-radius: 8px;
  padding: 24px;
  border: 1px solid var(--token-hoA5qaM-91G);
}
.freeBox__sDa4Q {
  display: flex;
  position: relative;
  align-items: flex-end;
  justify-content: space-between;
}
.freeBox__oz3Ad {
  display: flex;
  position: relative;
  flex-direction: column;
  row-gap: 8px;
}
.text__dsQj7 {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.25;
}
.freeBox___4WK2C {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  column-gap: 16px;
}
.billingEmail {
  width: 320px;
  height: 2rem;
  font-size: 14px;
  flex-shrink: 0;
  border-radius: 6px;
  padding: 8px;
  border: 1px solid var(--token-hoA5qaM-91G);
}
.updateBillingEmailButton:global(.__wab_instance) {
  position: relative;
  height: 2rem;
}
.svg__dEpin {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.text__vqNbp {
  font-size: 14px;
}
.svg__lL73 {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 1em;
}
.freeBox___2CSw {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: 2rem;
  position: relative;
  column-gap: 16px;
}
.freeBoxtier_enterprise___2CSw5Ph4X {
  display: none;
}
.changeSeatsButton:global(.__wab_instance) {
  position: relative;
}
.svg__zyBz8 {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.text__uzg1X {
  height: auto;
  font-size: 14px;
}
.svg__a4XtS {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 1em;
}
.changeCreditCardButton:global(.__wab_instance) {
  position: relative;
}
.svg__g7GmU {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.text__l6WqO {
  font-size: 14px;
}
.svg__bwN41 {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 1em;
}
.manageBilling:global(.__wab_instance) {
  position: relative;
}
.svg__bOkpg {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.text__k3Dt {
  font-size: 14px;
}
.svg___7TuH {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-0IloF6TmFvF);
  height: 1em;
}
.freeBox__ncYhG {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: flex-end;
}
.svg__opARg {
  display: flex;
  position: relative;
  object-fit: cover;
  height: 1em;
}
.text__iI7N {
  font-size: 14px;
}
.svg__nhgIz {
  display: flex;
  position: relative;
  object-fit: cover;
  height: 1em;
}
