.StarterGroup__root__zrWx {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
.StarterGroup__box__pv2In {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 15px;
  flex-shrink: 0;
}
.StarterGroup__box__vZxO3 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.StarterGroup__box__vZxO3 > .__wab_flex-container {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
}
.StarterGroup__box__vZxO3 > .__wab_flex-container > *,
.StarterGroup__box__vZxO3 > .__wab_flex-container > .__wab_slot > * {
  margin-left: 6px;
}
.StarterGroup__slotHeading__a1PNm {
  font-size: 16px;
  color: rgb(50, 52, 54) /* plasmic-token: xnFWCrqagOQg0 */;
}
.StarterGroup__infoIcon__eSQaf {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.StarterGroup__box__irp33 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.StarterGroup__box__irp33 > .__wab_flex-container {
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.StarterGroup__box__irp33 > .__wab_flex-container > *,
.StarterGroup__box__irp33 > .__wab_flex-container > .__wab_slot > * {
  margin-left: 16px;
}
.StarterGroup__viewDocs__di9Ii {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.StarterGroup__box__yaFwy {
  position: relative;
  color: rgb(122, 125, 130) /* plasmic-token: vFiVTQpaz0YHP */;
  font-size: 14px;
}
.StarterGroup__svg__jP4TM {
  position: relative;
  object-fit: cover;
  color: rgb(150, 153, 158) /* plasmic-token: exDXgkOG-ykrR */;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.StarterGroup__more__sWexC {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.StarterGroup__box__u1UnQ {
  position: relative;
  font-size: 14px;
  color: rgb(122, 125, 130) /* plasmic-token: vFiVTQpaz0YHP */;
}
.StarterGroup__svg__onk1U {
  position: relative;
  object-fit: cover;
  color: rgb(150, 153, 158) /* plasmic-token: exDXgkOG-ykrR */;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.StarterGroup__container__urec {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
}
.StarterGroup__container__urec > .__wab_flex-container {
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.StarterGroup__container__urec > .__wab_flex-container > *,
.StarterGroup__container__urec > .__wab_flex-container > .__wab_slot > * {
  margin-left: 8px;
}
.StarterGroup__preview2__bP7Ph {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}
.StarterGroup__starterProject__s5Vns.__wab_instance {
  position: relative;
}
.StarterGroup__preview3___9FOdj {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}
.StarterGroup__starterProject__ePlQh.__wab_instance {
  position: relative;
}
.StarterGroup__preview4__t5HU2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}
.StarterGroup__starterProject__u4I5U.__wab_instance {
  position: relative;
}
.StarterGroup__preview__zZNpy {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}
