.root {
  display: flex;
  position: relative;
  background: var(--token-iR8SeEwQZ);
  justify-self: flex-start;
  min-width: 200px;
  border-radius: 16px;
  padding: 24px;
}
.roottier_free {
  border: 1px solid var(--token-hoA5qaM-91G);
}
.roottier_starter {
  border: 1px solid var(--token-Izr3_jwKAp1);
}
.roottier_pro {
  border: 1px solid var(--token-Kkp266E0V7gX);
}
.roottier_team {
  border: 1px solid var(--token-D666zt2IZPL);
}
.roottier_enterprise {
  background: var(--token-jVXWDIdVvlt);
  border: 1px solid var(--token-0IloF6TmFvF);
}
.roottier_legacy {
  background: var(--token-9jh0BkCENS);
}
.freeBox__koLoz {
  display: flex;
  position: relative;
  flex-direction: row;
  cursor: pointer;
  border-radius: 6px;
  padding: 8px 12px;
}
.freeBox__koLoz > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: unset;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.freeBox__koLoz > :global(.__wab_flex-container) > *,
.freeBox__koLoz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__koLoz > :global(.__wab_flex-container) > picture > img,
.freeBox__koLoz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.freeBoxtier_free__koLozfRL2 {
  background: var(--token-Cr1odk81N3Y);
}
.freeBoxtier_starter__koLozOOmQh {
  background: var(--token-iDpByWoW0eF);
}
.freeBoxtier_pro__koLoztSbgN {
  background: var(--token-GEBK7U4Am62W);
}
.freeBoxtier_team__koLozXJez8 {
  background: var(--token-D666zt2IZPL);
}
.freeBoxtier_enterprise__koLozZe3H2 {
  background: var(--token-D666zt2IZPL);
}
.freeBoxtier_legacy__koLozZv0Uj {
  background: var(--token-O4S7RMTqZ3);
}
.freeBoxtier_grandfathered__koLozESn6K {
  background: var(--token-qYuX4XAEbRt);
}
.freeBoxtier_starter_status_freeTrialCurrent__koLozOOmQhQIfRh {
  background: none;
}
.freeBoxstatus_freeTrialCurrent_tier_team__koLozQIfRhXJez8 {
  align-self: center;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background: var(--token-JfSQu2FXX0v);
  display: none;
}
.freeBoxstatus_freeTrialCurrent_tier_enterprise__koLozQIfRhZe3H2 {
  align-self: center;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background: var(--token-JfSQu2FXX0v);
  display: none;
}
.roottier_free .freeBoxtier_free__koLozfRL2:hover {
  background: var(--token-oPrqrxbKHqk);
}
.roottier_starter .freeBoxtier_starter__koLozOOmQh:hover {
  background: var(--token-HKVCQ5ZKovK);
}
.roottier_pro .freeBoxtier_pro__koLoztSbgN:hover {
  background: var(--token-dv0BWWyaHl7H);
}
.roottier_team .freeBoxtier_team__koLozXJez8:hover {
  background: linear-gradient(
    180deg,
    var(--token-dqEx_KxIoYV) 0%,
    #e1f0ff 100%
  );
}
.roottier_enterprise .freeBoxtier_enterprise__koLozZe3H2:hover {
  background: var(--token-bV4cCeIniS6);
}
.roottier_enterprise .freeBoxtier_enterprise__koLozZe3H2:hover {
  background: linear-gradient(
    180deg,
    var(--token-dqEx_KxIoYV) 0%,
    #e1f0ff 100%
  );
}
.roottier_legacy .freeBoxtier_legacy__koLozZv0Uj:hover {
  background: var(--token-bV4cCeIniS6);
}
.roottier_grandfathered .freeBoxtier_grandfathered__koLozESn6K:hover {
  background: var(--token-HKVCQ5ZKovK);
}
.svg__eiDRg {
  position: relative;
  object-fit: cover;
  color: var(--token-UunsGa2Y3t3);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  display: none;
}
.svgstatus_unavailable__eiDRgZ3Cwc {
  display: none;
}
.svgstatus_current__eiDRg06BzN {
  display: none;
}
.svgstatus_goback__eiDRgnbTdh {
  display: block;
}
.svgtier_free__eiDRgfRL2 {
  color: var(--token-UCbZU41E8Mj);
}
.svgtier_starter__eiDRgOOmQh {
  color: var(--token-Y2CWh0ci95a);
}
.svgtier_pro__eiDRgtSbgN {
  color: var(--token-hIvqQBCxyWwX);
}
.svgtier_team__eiDRgXJez8 {
  color: var(--token-VUsIDivgUss);
}
.svgtier_enterprise__eiDRgZe3H2 {
  color: var(--token-VUsIDivgUss);
}
.svgtier_legacy__eiDRgZv0Uj {
  color: var(--token-UunsGa2Y3t3);
}
.svgtier_grandfathered__eiDRgESn6K {
  color: var(--token-Y2CWh0ci95a);
}
.text__eUTe {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.textstatus_goback__eUTenbTdh {
  padding-right: 0px;
}
.texttier_free__eUTefRL2 {
  color: var(--token-UCbZU41E8Mj);
}
.texttier_starter__eUTeOOmQh {
  color: var(--token-iR8SeEwQZ);
}
.texttier_pro__eUTetSbgN {
  color: var(--token-iR8SeEwQZ);
}
.texttier_team__eUTeXJez8 {
  color: var(--token-iR8SeEwQZ);
}
.texttier_enterprise__eUTeZe3H2 {
  color: var(--token-iR8SeEwQZ);
}
.texttier_grandfathered__eUTeESn6K {
  color: var(--token-Y2CWh0ci95a);
}
.texttier_starter_status_freeTrialCurrent__eUTeOOmQhQIfRh {
  color: var(--token-Y2CWh0ci95a);
}
.freeBox__quwcS {
  display: flex;
  position: relative;
  flex-direction: row;
  cursor: pointer;
  border-radius: 6px;
  padding: 8px 12px;
}
.freeBox__quwcS > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: unset;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.freeBox__quwcS > :global(.__wab_flex-container) > *,
.freeBox__quwcS > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__quwcS > :global(.__wab_flex-container) > picture > img,
.freeBox__quwcS
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.freeBoxstatus_freeTrialCurrent__quwcSqIfRh {
  display: none;
}
.freeBoxtier_free__quwcSfRL2 {
  background: var(--token-Cr1odk81N3Y);
}
.freeBoxtier_starter__quwcSoOmQh {
  background: var(--token-iDpByWoW0eF);
}
.freeBoxtier_pro__quwcStSbgN {
  background: var(--token-GEBK7U4Am62W);
}
.freeBoxtier_team__quwcSxJez8 {
  background: var(--token-D666zt2IZPL);
}
.freeBoxtier_enterprise__quwcSZe3H2 {
  background: var(--token-D666zt2IZPL);
}
.freeBoxtier_legacy__quwcSzv0Uj {
  background: var(--token-O4S7RMTqZ3);
}
.freeBoxtier_grandfathered__quwcSeSn6K {
  background: var(--token-qYuX4XAEbRt);
}
.freeBoxtier_starter_status_freeTrialCurrent__quwcSoOmQhQIfRh {
  background: none;
}
.freeBoxstatus_freeTrialCurrent_tier_team__quwcSqIfRhXJez8 {
  align-self: center;
  background: var(--token-yqAf_E0HIjU);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.freeBoxstatus_freeTrialCurrent_tier_enterprise__quwcSqIfRhZe3H2 {
  align-self: center;
  background: var(--token-yqAf_E0HIjU);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.svg__eBoD {
  position: relative;
  object-fit: cover;
  color: var(--token-UunsGa2Y3t3);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  display: none;
}
.svgstatus_unavailable__eBoDz3Cwc {
  display: none;
}
.svgstatus_current__eBoD06BzN {
  display: none;
}
.svgstatus_goback__eBoDnbTdh {
  display: block;
}
.svgtier_free__eBoDfRL2 {
  color: var(--token-UCbZU41E8Mj);
}
.svgtier_starter__eBoDoOmQh {
  color: var(--token-Y2CWh0ci95a);
}
.svgtier_pro__eBoDtSbgN {
  color: var(--token-hIvqQBCxyWwX);
}
.svgtier_team__eBoDxJez8 {
  color: var(--token-VUsIDivgUss);
}
.svgtier_enterprise__eBoDZe3H2 {
  color: var(--token-VUsIDivgUss);
}
.svgtier_legacy__eBoDzv0Uj {
  color: var(--token-UunsGa2Y3t3);
}
.svgtier_grandfathered__eBoDeSn6K {
  color: var(--token-Y2CWh0ci95a);
}
.text__m5F8U {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.textstatus_goback__m5F8UnbTdh {
  padding-right: 0px;
}
.texttier_free__m5F8UfRL2 {
  color: var(--token-UCbZU41E8Mj);
}
.texttier_starter__m5F8UOOmQh {
  color: var(--token-iR8SeEwQZ);
}
.texttier_pro__m5F8UtSbgN {
  color: var(--token-iR8SeEwQZ);
}
.texttier_team__m5F8UXJez8 {
  color: var(--token-iR8SeEwQZ);
}
.texttier_enterprise__m5F8UZe3H2 {
  color: var(--token-iR8SeEwQZ);
}
.texttier_grandfathered__m5F8UESn6K {
  color: var(--token-Y2CWh0ci95a);
}
.texttier_starter_status_freeTrialCurrent__m5F8UOOmQhQIfRh {
  font-size: 11px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.25;
  color: var(--token-Y2CWh0ci95a);
}
.textstatus_freeTrialCurrent_tier_team__m5F8UQIfRhXJez8 {
  color: var(--token-VUsIDivgUss);
}
.textstatus_freeTrialCurrent_tier_enterprise__m5F8UQIfRhZe3H2 {
  color: var(--token-VUsIDivgUss);
}
.freeBox__uIwPv {
  display: flex;
  position: relative;
  height: 100%;
  flex-direction: column;
  align-self: flex-start;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__uIwPv > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__uIwPv > :global(.__wab_flex-container) > *,
.freeBox__uIwPv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uIwPv > :global(.__wab_flex-container) > picture > img,
.freeBox__uIwPv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.freeBox__aeJp {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 200px;
  flex-shrink: 0;
}
.newPriceTierChip:global(.__wab_instance) {
  height: 100%;
  min-height: 0;
}
.text__kNzbL {
  font-weight: 500;
}
.texttier_enterprise__kNzbLZe3H2 {
  padding-bottom: 0px;
  color: var(--token-iR8SeEwQZ);
}
.texttier_grandfathered__kNzbLeSn6K {
  padding-right: 0px;
}
.text__fLq2D {
  padding-left: 0px;
}
.texttier_enterprise__fLq2DZe3H2 {
  color: var(--token-N1gO6v-RIEn);
}
.texttier_legacy__fLq2DZv0Uj {
  display: block;
}
.freeBox___8V5N {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___8V5N > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___8V5N > :global(.__wab_flex-container) > *,
.freeBox___8V5N > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8V5N > :global(.__wab_flex-container) > picture > img,
.freeBox___8V5N
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.slotTargetPrice {
  font-size: 2rem;
  line-height: 3.5rem;
  font-weight: 500;
}
.slotTargetPricetier_enterprise {
  color: var(--token-iR8SeEwQZ);
}
.slotTargetPricetier_legacy {
  color: var(--token-0IloF6TmFvF);
}
.slotTargetSubprice {
  color: var(--token-UunsGa2Y3t3);
  line-height: 1.25;
}
.slotTargetSubpricetier_enterprise {
  color: var(--token-iR8SeEwQZ);
}
.slotTargetSubpricetier_legacy {
  color: var(--token-UunsGa2Y3t3);
}
.normalButton {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  width: 100%;
  min-width: 0;
  border-radius: 24px;
  padding: 12px;
  border: 1px solid var(--token-eBt2ZgqRUCz);
}
.normalButton > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: unset;
  min-width: 0;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.normalButton > :global(.__wab_flex-container) > *,
.normalButton > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.normalButton > :global(.__wab_flex-container) > picture > img,
.normalButton
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.normalButtonstatus_unavailable {
  background: var(--token-Cr1odk81N3Y);
  display: none;
}
.normalButtonstatus_current {
  cursor: default;
  display: flex;
}
.normalButtonstatus_freeTrialCurrent {
  display: flex;
}
.normalButtontier_enterprise {
  background: var(--token-0IloF6TmFvF);
  border-color: var(--token-3jY1TVZSrSP);
}
.normalButtontier_legacy {
  background: var(--token-jVXWDIdVvlt);
  border-color: var(--token-jVXWDIdVvlt);
}
.normalButtontier_grandfathered {
  width: 100%;
  background: var(--token-jVXWDIdVvlt);
  cursor: pointer;
  flex-direction: row;
  min-width: 0;
  border-radius: 24px;
  padding: 12px;
  border: 1px solid var(--token-jVXWDIdVvlt);
}
.normalButtontier_grandfathered > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: unset;
  min-width: 0;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.normalButtontier_grandfathered > :global(.__wab_flex-container) > *,
.normalButtontier_grandfathered
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.normalButtontier_grandfathered
  > :global(.__wab_flex-container)
  > picture
  > img,
.normalButtontier_grandfathered
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
  margin-top: 0px;
}
.normalButtonstatus_current_tier_free {
  width: 100%;
  background: var(--token-jVXWDIdVvlt);
  flex-direction: row;
  min-width: 0;
  border-radius: 24px;
  padding: 12px;
  border: 1px solid var(--token-jVXWDIdVvlt);
}
.normalButtonstatus_current_tier_free > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: unset;
  min-width: 0;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.normalButtonstatus_current_tier_free > :global(.__wab_flex-container) > *,
.normalButtonstatus_current_tier_free
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.normalButtonstatus_current_tier_free
  > :global(.__wab_flex-container)
  > picture
  > img,
.normalButtonstatus_current_tier_free
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
  margin-top: 0px;
}
.normalButtonstatus_current_tier_starter {
  width: 100%;
  background: var(--token-jVXWDIdVvlt);
  flex-direction: row;
  min-width: 0;
  border-radius: 24px;
  padding: 12px;
  border: 1px solid var(--token-jVXWDIdVvlt);
}
.normalButtonstatus_current_tier_starter > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: unset;
  min-width: 0;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.normalButtonstatus_current_tier_starter > :global(.__wab_flex-container) > *,
.normalButtonstatus_current_tier_starter
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.normalButtonstatus_current_tier_starter
  > :global(.__wab_flex-container)
  > picture
  > img,
.normalButtonstatus_current_tier_starter
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
  margin-top: 0px;
}
.normalButtonstatus_current_tier_pro {
  width: 100%;
  background: var(--token-jVXWDIdVvlt);
  flex-direction: row;
  min-width: 0;
  border-radius: 24px;
  padding: 12px;
  border: 1px solid var(--token-jVXWDIdVvlt);
}
.normalButtonstatus_current_tier_pro > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: unset;
  min-width: 0;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.normalButtonstatus_current_tier_pro > :global(.__wab_flex-container) > *,
.normalButtonstatus_current_tier_pro
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.normalButtonstatus_current_tier_pro
  > :global(.__wab_flex-container)
  > picture
  > img,
.normalButtonstatus_current_tier_pro
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
  margin-top: 0px;
}
.normalButtonstatus_current_tier_team {
  width: 100%;
  background: var(--token-jVXWDIdVvlt);
  flex-direction: row;
  min-width: 0;
  border-radius: 24px;
  padding: 12px;
  border: 1px solid var(--token-jVXWDIdVvlt);
}
.normalButtonstatus_current_tier_team > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: unset;
  min-width: 0;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.normalButtonstatus_current_tier_team > :global(.__wab_flex-container) > *,
.normalButtonstatus_current_tier_team
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.normalButtonstatus_current_tier_team
  > :global(.__wab_flex-container)
  > picture
  > img,
.normalButtonstatus_current_tier_team
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
  margin-top: 0px;
}
.normalButtonstatus_current_tier_enterprise {
  background: var(--token-Ik3bdE1e1Uy);
}
.normalButtontier_starter_status_freeTrialCurrent {
  display: flex;
}
.normalButtonstatus_freeTrialCurrent_tier_team {
  display: flex;
}
.normalButtonstatus_freeTrialCurrent_tier_enterprise {
  display: flex;
}
.root .normalButton:hover {
  background: var(--token-O4S7RMTqZ3);
}
.rootstatus_current .normalButtonstatus_current:hover {
  background: none;
}
.roottier_enterprise .normalButtontier_enterprise:hover {
  background: var(--token-ElMeFHrIrKT);
}
.rootstatus_current_tier_free .normalButtonstatus_current_tier_free:hover {
  background: var(--token-jVXWDIdVvlt);
}
.rootstatus_current_tier_starter
  .normalButtonstatus_current_tier_starter:hover {
  background: var(--token-jVXWDIdVvlt);
}
.rootstatus_current_tier_pro .normalButtonstatus_current_tier_pro:hover {
  background: var(--token-jVXWDIdVvlt);
}
.rootstatus_current_tier_team .normalButtonstatus_current_tier_team:hover {
  background: var(--token-jVXWDIdVvlt);
}
.rootstatus_current_tier_enterprise
  .normalButtonstatus_current_tier_enterprise:hover {
  background: var(--token-Ik3bdE1e1Uy);
}
.rootstatus_current_tier_legacy .normalButtonstatus_current_tier_legacy:hover {
  background: var(--token-jVXWDIdVvlt);
}
.rootstatus_current_tier_grandfathered
  .normalButtonstatus_current_tier_grandfathered:hover {
  background: var(--token-jVXWDIdVvlt);
}
.svg__npQLn {
  position: relative;
  object-fit: cover;
  width: 1.25rem;
  height: 1.25rem;
  flex-shrink: 0;
  display: none;
}
.svgstatus_unavailable__npQLnZ3Cwc {
  display: none;
}
.svgstatus_current__npQLn06BzN {
  display: none;
}
.svgstatus_goback__npQLnnbTdh {
  display: block;
}
.svgtier_enterprise__npQLnZe3H2 {
  color: var(--token-VUsIDivgUss);
}
.svgtier_legacy__npQLnZv0Uj {
  color: var(--token-UunsGa2Y3t3);
}
.svgtier_grandfathered__npQLnESn6K {
  color: var(--token-Y2CWh0ci95a);
}
.svgtier_enterprise_status_goback__npQLnZe3H2NbTdh {
  color: var(--token-iR8SeEwQZ);
}
.text__xQvE6 {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  position: relative;
  color: var(--token-0IloF6TmFvF);
  letter-spacing: -1%;
}
.textstatus_unavailable__xQvE6Z3Cwc {
  color: var(--token-UCbZU41E8Mj);
}
.textstatus_goback__xQvE6NbTdh {
  padding-right: 0px;
}
.texttier_enterprise__xQvE6Ze3H2 {
  color: var(--token-iR8SeEwQZ);
  height: auto;
}
.texttier_legacy__xQvE6Zv0Uj {
  height: auto;
  color: var(--token-N1gO6v-RIEn);
}
.texttier_grandfathered__xQvE6ESn6K {
  color: var(--token-N1gO6v-RIEn);
}
.textstatus_current_tier_free__xQvE606BzNFRL2 {
  font-size: 14px;
  font-weight: 500;
  color: var(--token-N1gO6v-RIEn);
  line-height: 20px;
  letter-spacing: -1%;
}
.textstatus_current_tier_starter__xQvE606BzNOOmQh {
  font-size: 14px;
  font-weight: 500;
  color: var(--token-N1gO6v-RIEn);
  line-height: 20px;
  letter-spacing: -1%;
}
.textstatus_current_tier_pro__xQvE606BzNTSbgN {
  font-size: 14px;
  font-weight: 500;
  color: var(--token-N1gO6v-RIEn);
  line-height: 20px;
  letter-spacing: -1%;
}
.textstatus_current_tier_team__xQvE606BzNXJez8 {
  font-size: 14px;
  font-weight: 500;
  color: var(--token-N1gO6v-RIEn);
  line-height: 20px;
  letter-spacing: -1%;
}
.textstatus_current_tier_enterprise__xQvE606BzNZe3H2 {
  color: var(--token-0IloF6TmFvF);
}
.freeBox__sm7Jb {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__sm7Jb > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__sm7Jb > :global(.__wab_flex-container) > *,
.freeBox__sm7Jb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sm7Jb > :global(.__wab_flex-container) > picture > img,
.freeBox__sm7Jb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBoxtier_free__sm7JBfRL2 {
  display: flex;
}
.newPriceTierFeatureItem__xwu2N:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.newPriceTierFeatureItem__fJgU:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.newPriceTierFeatureItem__kcpH9:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
