@import '../../../../styles/_vars.sass'

.root
  display: flex
  background-color: #0000000f
  border: 2px solid #0000001a
  border-radius: 3px
  justify-content: center
  align-items: center
  width: 300px
  height: 300px
  color: #00000028
  transition: background-color 200ms


  &:hover
    background-color: white
