.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 4px 8px;
}
.root__isHighlighted {
  background: #f5f5f5;
}
.labelContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.slotChildren {
  white-space: pre;
}
.slotChildren > *,
.slotChildren > .__wab_slot > *,
.slotChildren > .__wab_slot > .__wab_slot > *,
.slotChildren > .__wab_slot > .__wab_slot > .__wab_slot > * {
  text-overflow: ellipsis;
  overflow: hidden;
}
