.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
}
.top {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.top__relativePlacement_bottom {
  height: 5px /* plasmic-token: WBoK9uCe_ */;
  flex-shrink: 0;
}
.middle {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: 100%;
  min-height: 0;
}
.left {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.left__relativePlacement_right {
  width: 5px /* plasmic-token: WBoK9uCe_ */;
  flex-shrink: 0;
}
.main {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 16px 0px #00000033;
  flex-column-gap: 0px;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 4px;
  background: #ffffff;
}
.right {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.right__relativePlacement_left {
  width: 5px /* plasmic-token: WBoK9uCe_ */;
  flex-shrink: 0;
}
.bottom {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.bottom__relativePlacement_top {
  height: 5px /* plasmic-token: WBoK9uCe_ */;
  flex-shrink: 0;
}
