.root {
  display: inline-flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
}
.root__isDisabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.root_____focusVisibleWithin {
  outline: none;
}
.box {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  transition-property: all;
  transition-duration: 0.2s;
  flex-shrink: 0;
  border-radius: 4px;
  background: #fafafa;
  border: 1px solid #cacaca /* plasmic-token: nhesNmtki */;
}
.box__isChecked {
  background: #1976d2;
  border-color: #1976d2 /* plasmic-token: UnHa69oaay */;
}
.box__isIndeterminate {
  background: #1976d2;
  border-color: #1976d2 /* plasmic-token: UnHa69oaay */;
}
.root:hover .box {
  background: #ffffff;
}
.root .box_____focusVisibleWithin {
  outline: none;
}
.root:focus-within .box {
  outline: none;
  border-color: #91c3ff /* plasmic-token: d6bwNiXd7 */;
}
.root__isChecked:hover .box__isChecked {
  background: #1976d2;
}
.root__isIndeterminate:hover .box__isIndeterminate {
  background: #1976d2;
}
.svg {
  position: relative;
  object-fit: cover;
  color: #ffffff /* plasmic-token: 8syGkNkZCC */;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.focusRing {
  position: relative;
  bottom: auto;
  top: auto;
  right: auto;
  left: auto;
  width: auto;
  height: auto;
  pointer-events: none;
  display: block;
  border-radius: 4px;
  border: 2px dashed #1976d2 /* plasmic-token: UnHa69oaay */;
}
.root .focusRing_____focusVisibleWithin {
  position: absolute;
  bottom: -5px;
  top: -5px;
  right: -5px;
  left: -5px;
  width: auto;
  height: auto;
  pointer-events: none;
  display: block;
  outline: none;
  border-radius: 4px;
  border: 2px dashed #1976d2 /* plasmic-token: UnHa69oaay */;
}
.labelContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: 8px;
}
.root .labelContainer_____focusVisibleWithin {
  outline: none;
}
