.root {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 32px;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  padding: 4px 8px;
}
.root__isHighlighted {
  background: #f5f5f5;
}
.root__isDisabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.slotChildren__isSelected {
  color: #1976d2 /* plasmic-token: UnHa69oaay */;
  font-weight: 600;
}
