.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
}
.trigger {
  position: relative;
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  background: #fafafa;
  border: 1px solid #cacaca /* plasmic-token: nhesNmtki */;
}
.trigger > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.trigger > :global(.__wab_flex-container) > *,
.trigger > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 4px;
}
.trigger__isOpen {
  background: #eaeaea;
}
.trigger__isDisabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.root:focus-within .trigger {
  outline: none;
  border-color: #1976d2 /* plasmic-token: UnHa69oaay */;
}
.root:hover .trigger {
  background: #ffffff;
}
.root .trigger_____focusVisibleWithin {
  outline: none;
  border-style: dashed;
  border-color: #1976d2 /* plasmic-token: UnHa69oaay */;
}
.contentContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.slotSelectedContent {
  white-space: pre;
}
.slotSelectedContent > *,
.slotSelectedContent > .__wab_slot > *,
.slotSelectedContent > .__wab_slot > .__wab_slot > *,
.slotSelectedContent > .__wab_slot > .__wab_slot > .__wab_slot > * {
  text-overflow: ellipsis;
  overflow: hidden;
}
.slotPlaceholder {
  color: #8e8e8e /* plasmic-token: qkpYmtuXPi */;
  font-style: italic;
  white-space: pre;
}
.slotPlaceholder > *,
.slotPlaceholder > .__wab_slot > *,
.slotPlaceholder > .__wab_slot > .__wab_slot > *,
.slotPlaceholder > .__wab_slot > .__wab_slot > .__wab_slot > * {
  text-overflow: ellipsis;
  overflow: hidden;
}
.root:focus-within .slotPlaceholder > *,
.root:focus-within .slotPlaceholder > .__wab_slot > *,
.root:focus-within .slotPlaceholder > .__wab_slot > .__wab_slot > *,
.root:focus-within
  .slotPlaceholder
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > * {
  outline: none;
}
.dropdownIcon {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
}
.root:focus-within .dropdownIcon {
  outline: none;
}
.overlay:global(.__wab_instance) {
  position: absolute;
  left: 0px;
  top: 100%;
}
.optionsContainer {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  overflow: auto;
}
.option__gcPey:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.option__upo2O:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
