.root {
  display: flex;
  width: 320px;
  height: auto;
  position: relative;
  flex-direction: column;
  justify-content: space-around;
  background: #ffffff;
  border-radius: 8px;
  padding: 16px;
  border-style: none;
  border-color: rgb(255, 255, 255);
}
.root__hasSandbox_yes {
  height: auto;
}
.root__state_submitting {
  cursor: wait;
}
.root__state_inviting {
  cursor: wait;
}
.freeBox___6MjLr {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  margin-bottom: 8px;
  width: 100%;
  height: auto;
  min-width: 0;
}
.text__tKdYo {
  width: auto;
  height: auto;
  font-weight: 600;
  display: inline-block;
}
.freeBox___2DvNt {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___2DvNt > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___2DvNt > :global(.__wab_flex-container) > *,
.freeBox___2DvNt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2DvNt > :global(.__wab_flex-container) > picture > img,
.freeBox___2DvNt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.openButton:global(.__wab_instance) {
  position: relative;
}
.img {
  display: flex !important;
  position: relative;
  width: 16px;
  height: 16px;
}
.closeButton:global(.__wab_instance) {
  position: relative;
}
.svg___6Vy9L {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
}
.freeBox__wg9E {
  display: block;
  position: relative;
  width: auto;
  height: 1px;
  align-self: stretch;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  margin-left: -16px;
  margin-right: -16px;
  margin-top: 8px;
  background: rgb(240, 242, 245);
}
.freeBox__haXUy {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-top: 16px;
}
.freeBox__haXUy > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__haXUy > :global(.__wab_flex-container) > *,
.freeBox__haXUy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__haXUy > :global(.__wab_flex-container) > picture > img,
.freeBox__haXUy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__m7RRy {
  position: relative;
}
.text__yHGt {
  position: relative;
}
.freeBox__oE1Ud {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__oE1Ud > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.freeBox__oE1Ud > :global(.__wab_flex-container) > *,
.freeBox__oE1Ud > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oE1Ud > :global(.__wab_flex-container) > picture > img,
.freeBox__oE1Ud
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.text__eiVrI {
  height: auto;
}
.link___8ZbeH {
  position: relative;
  color: rgb(69, 153, 255) /* plasmic-token: 8fGVK_02TggqW */;
}
.text__q8Wmc {
  height: auto;
}
.link__gbMph {
  position: relative;
  color: rgb(69, 153, 255) /* plasmic-token: 8fGVK_02TggqW */;
}
.text__a6VJp {
  height: auto;
}
.freeBox__jSkTa {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  height: auto;
}
.freeBox__hasSandbox_yes__jSkTaqFcJ4 {
  align-self: flex-start;
}
.freeBox__hasSandbox_yes_state_unlogged__jSkTaqFcJ4O8Zh4 {
  align-self: stretch;
}
.freeBox__uRvke {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__hasSandbox_yes__uRvkeQFcJ4 {
  align-self: flex-start;
}
.freeBox__state_unlogged__uRvkeo8Zh4 {
  background: rgb(255, 249, 209);
  padding: 8px;
}
.freeBox__hasSandbox_yes_state_unlogged__uRvkeQFcJ4O8Zh4 {
  width: 100%;
  min-width: 0;
}
.text__rxaXi {
  width: auto;
  height: auto;
  background: rgb(255, 249, 209);
  display: inline-block;
  padding: 8px;
}
.text__hasSandbox_yes__rxaXiQFcJ4 {
  width: auto;
  height: auto;
  display: inline-block;
}
.text__state_unlogged__rxaXio8Zh4 {
  background: none;
  padding: 0px;
}
.loginLink {
  width: auto;
  height: auto;
  background: rgb(255, 249, 209);
  display: inline-block;
  padding: 8px;
}
.loginLink__hasSandbox_yes {
  width: auto;
  height: auto;
  display: inline-block;
}
.loginLink__state_unlogged {
  background: none;
  padding: 0px;
}
.text__ttaqH {
  width: auto;
  height: auto;
  background: rgb(255, 249, 209);
  display: inline-block;
  padding: 8px;
}
.text__hasSandbox_yes__ttaqHqFcJ4 {
  width: auto;
  height: auto;
  display: inline-block;
}
.text__state_unlogged__ttaqHo8Zh4 {
  height: auto;
  background: none;
  padding: 0px;
}
.freeBox__xwMc8 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.updateButton:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.updateButton__hasSandbox_yes:global(.__wab_instance) {
  left: auto;
  top: auto;
}
.updateButton__hasSandbox_no:global(.__wab_instance) {
  left: auto;
  top: auto;
}
.updateButton__state_submitting:global(.__wab_instance) {
  left: auto;
  top: auto;
}
.updateButton__state_unlogged:global(.__wab_instance) {
  left: auto;
  top: auto;
}
.svg__onsmX {
  position: relative;
  object-fit: cover;
  width: 150px;
  height: 150px;
}
.svg__hasSandbox_yes__onsmXqFcJ4 {
  width: 16px;
  height: 16px;
}
.text__pnsY2 {
  height: auto;
}
.text__hasSandbox_yes__pnsY2QFcJ4 {
  height: auto;
}
.deleteButton:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.deleteButton__hasSandbox_yes:global(.__wab_instance) {
  flex-shrink: 0;
}
.svg__ovWk7 {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
}
.createButton:global(.__wab_instance) {
  position: relative;
}
.svg__b5Ecv {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
}
.createHint {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  height: auto;
}
.createHint__hasSandbox_yes {
  align-self: flex-start;
}
.createHint2 {
  position: relative;
  width: auto;
  height: auto;
  background: rgb(255, 249, 209);
  display: inline-block;
  padding: 8px;
}
.createHint2__hasSandbox_yes {
  width: auto;
  height: auto;
  align-self: flex-start;
  display: inline-block;
}
.freeBox__c1JwS {
  display: flex;
  position: relative;
  flex-direction: column;
  align-self: auto;
}
.freeBox__c1JwS > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__c1JwS > :global(.__wab_flex-container) > *,
.freeBox__c1JwS > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__c1JwS > :global(.__wab_flex-container) > picture > img,
.freeBox__c1JwS
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.email:global(.__wab_instance) {
  position: relative;
}
.svg___3IHmQ {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.svg__ouJiO {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.inviteButton:global(.__wab_instance) {
  position: relative;
  align-self: flex-end;
}
.svg__qlH6 {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
}
