.SelectOption__root__rxckB {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: rgb(83, 83, 83) /* plasmic-token: rHCbxkIpj */;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  display: flex;
  width: 100%;
  height: 32px;
  position: relative;
  background-color: #ffffff;
  flex-direction: row;
  padding-top: 4px;
  padding-right: 8px;
  padding-bottom: 4px;
  padding-left: 8px;
}
.SelectOption__root--isDisabled__rxckBKOw4h {
  opacity: 0.5;
  cursor: not-allowed;
}
.SelectOption__root--isSelected__rxckB4F1ep {
}
.SelectOption__root__rxckB:focus {
  background-color: rgb(245, 245, 245) /* plasmic-token: eMsasY7xH */;
  outline: none;
}
.SelectOption__optionContainer__v2KDY {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
}
.SelectOption__optionContainer--isSelected__v2KDY4F1ep {
}
.SelectOption__slotChildren__Qc5J8 {
}
.SelectOption__slotChildren--isDisabled__Qc5J8KOw4h {
}
.SelectOption__slotChildren--isSelected__Qc5J84F1ep {
  color: rgb(25, 118, 210) /* plasmic-token: GyExB0Vfx */;
}
.SelectOption__svg__NbPpm {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  color: rgb(25, 118, 210) /* plasmic-token: GyExB0Vfx */;
  margin-left: 4px;
  flex-shrink: 0;
}
.SelectOption__svg--isDisabled__NbPpmKOw4h {
}
.SelectOption__svg--isSelected__NbPpm4F1ep {
}
