.Radio__root__Jyzz2 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: rgb(83, 83, 83) /* plasmic-token: rHCbxkIpj */;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  display: inline-flex;
  width: auto;
  height: auto;
  position: relative;
  flex-direction: row;
}
.Radio__root__Jyzz2 > .__wab_flex-container {
  flex-direction: row;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.Radio__root__Jyzz2 > .__wab_flex-container > *,
.Radio__root__Jyzz2 > .__wab_flex-container > .__wab_slot > * {
  margin-left: 8px;
}
.Radio__root--isSelected__Jyzz2I6GNr {
}
.Radio__root--isSelected__Jyzz2I6GNr > .__wab_flex-container {
}
.Radio__root--isSelected__Jyzz2I6GNr > .__wab_flex-container > *,
.Radio__root--isSelected__Jyzz2I6GNr > .__wab_flex-container > .__wab_slot > * {
}
.Radio__root--isDisabled__Jyzz27qjsD {
  opacity: 0.5;
  cursor: not-allowed;
}
.Radio__root--isDisabled__Jyzz27qjsD > .__wab_flex-container {
}
.Radio__root--isDisabled__Jyzz27qjsD > .__wab_flex-container > *,
.Radio__root--isDisabled__Jyzz27qjsD > .__wab_flex-container > .__wab_slot > * {
}
.Radio__root--__Jyzz2BRSR8 {
  outline: none;
}
.Radio__root--__Jyzz2BRSR8 > .__wab_flex-container {
}
.Radio__root--__Jyzz2BRSR8 > .__wab_flex-container > *,
.Radio__root--__Jyzz2BRSR8 > .__wab_flex-container > .__wab_slot > * {
}
.Radio__root__Jyzz2:focus-within {
  outline: none;
}
.Radio__root__Jyzz2:focus-within > .__wab_flex-container {
}
.Radio__root__Jyzz2:focus-within > .__wab_flex-container > *,
.Radio__root__Jyzz2:focus-within > .__wab_flex-container > .__wab_slot > * {
}
.Radio__buttonContainer__gYYVA {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.Radio__svg__mQll1 {
  object-fit: cover;
  width: 1em;
  height: 1em;
  color: rgb(202, 202, 202) /* plasmic-token: 9DOLtHXsT */;
  flex-shrink: 0;
}
.Radio__svg--isSelected__mQll1I6GNr {
  color: rgb(25, 118, 210) /* plasmic-token: GyExB0Vfx */;
}
.Radio__svg--isDisabled__mQll17qjsD {
}
.Radio__root__Jyzz2:focus-within .Radio__svg__mQll1 {
  color: rgb(25, 118, 210) /* plasmic-token: GyExB0Vfx */;
  outline: none;
}
.Radio__root__Jyzz2:hover .Radio__svg__mQll1 {
  color: rgb(179, 179, 179) /* plasmic-token: CZVnuh585 */;
}
.Radio__root--isSelected__Jyzz2I6GNr:hover .Radio__svg--isSelected__mQll1I6GNr {
  color: rgb(145, 195, 255) /* plasmic-token: mBd88Cy9y */;
}
.Radio__focusRing__pWeAx {
  display: block;
  width: auto;
  height: auto;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-color: rgb(25, 118, 210) /* plasmic-token: GyExB0Vfx */;
  border-top-style: dashed;
  border-right-color: rgb(25, 118, 210) /* plasmic-token: GyExB0Vfx */;
  border-right-style: dashed;
  border-bottom-color: rgb(25, 118, 210) /* plasmic-token: GyExB0Vfx */;
  border-bottom-style: dashed;
  border-left-color: rgb(25, 118, 210) /* plasmic-token: GyExB0Vfx */;
  border-left-style: dashed;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  pointer-events: none;
  z-index: 1;
}
.Radio__root--__Jyzz2BRSR8 .Radio__focusRing__pWeAx {
  outline: none;
}
.Radio__labelContainer__AzxFR {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.Radio__labelContainer--hasLabel__AzxFRjQ7tw {
}
