.root {
  height: auto;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 17px);
  width: calc(100% + 17px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 17px;
}
.button10 {
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
  max-width: 250px;
  min-height: 32px;
  border-radius: 6px;
  padding: 6px 8px 6px 6px;
}
.button10 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.button10 > :global(.__wab_flex-container) > *,
.button10 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.button10 > :global(.__wab_flex-container) > picture > img,
.button10
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.startIconsContainer10 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.startIconsContainer10 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.startIconsContainer10 > :global(.__wab_flex-container) > *,
.startIconsContainer10
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.startIconsContainer10 > :global(.__wab_flex-container) > picture > img,
.startIconsContainer10
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.icon {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #706f6c;
  width: 20px;
  height: 20px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.labelsContainer10 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.labelText10 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.slotTargetName {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: rgba(26, 48, 29, 1);
  line-height: 100%;
  letter-spacing: 0em;
}
.subtext {
  display: flex;
  align-self: stretch;
  position: relative;
  flex-direction: row;
}
.slotTargetSubtext {
  font-family: "Inter", sans-serif;
  font-size: 11px;
  font-weight: 400;
  color: rgba(111, 110, 107, 1);
  line-height: 100%;
  letter-spacing: 0em;
}
.labelIconsContainer10 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.svg__eSbfn {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #706f6c;
  width: 20px;
  height: 20px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.endIconsContainer10 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.endIconsContainer10 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.endIconsContainer10 > :global(.__wab_flex-container) > *,
.endIconsContainer10
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.endIconsContainer10 > :global(.__wab_flex-container) > picture > img,
.endIconsContainer10
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.img__nwEkP {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  display: block !important;
  overflow: hidden;
  flex-shrink: 0;
}
.img__nwEkP > picture > img {
  object-fit: cover;
}
._switch:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
._switchhasSubtext:global(.__wab_instance) {
  flex-shrink: 0;
}
._switchmerged:global(.__wab_instance) {
  flex-shrink: 0;
  display: none;
}
.right {
  height: 32px;
  display: flex;
  position: relative;
  flex-grow: 0;
  flex-direction: row;
  width: 180px;
  background: rgba(242, 242, 241, 1);
  flex-shrink: 0;
  border-radius: 6px;
  padding: 2px;
}
.right > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.right > :global(.__wab_flex-container) > *,
.right > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.right > :global(.__wab_flex-container) > picture > img,
.right > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
}
.startIconsContainer12 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.startIconsContainer12 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.startIconsContainer12 > :global(.__wab_flex-container) > *,
.startIconsContainer12
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.startIconsContainer12 > :global(.__wab_flex-container) > picture > img,
.startIconsContainer12
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.svg___08H1Q {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #706f6c;
  width: 20px;
  height: 20px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.labelsContainer12 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.labelText12 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.label14 {
  display: block;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(111, 110, 107, 1);
  position: relative;
}
.text {
  display: block;
  font-size: 11px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(111, 110, 107, 1);
  position: relative;
}
.labelIconsContainer12 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.svg__d7Kpt {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #706f6c;
  width: 20px;
  height: 20px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.endIconsContainer12 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.endIconsContainer12 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.endIconsContainer12 > :global(.__wab_flex-container) > *,
.endIconsContainer12
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.endIconsContainer12 > :global(.__wab_flex-container) > picture > img,
.endIconsContainer12
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.img__jFqLq {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  display: block !important;
  overflow: hidden;
  flex-shrink: 0;
}
.img__jFqLq > picture > img {
  object-fit: cover;
}
