.root {
  height: auto;
  display: flex;
  flex-direction: row;
  position: relative;
  border-radius: 6px;
  padding: 6px 8px 6px 6px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 4px;
}
.startIconsContainer14 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  flex-shrink: 0;
}
.startIconsContainer14 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.startIconsContainer14 > :global(.__wab_flex-container) > *,
.startIconsContainer14
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.startIconsContainer14 > :global(.__wab_flex-container) > picture > img,
.startIconsContainer14
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.icon {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #706f6c;
  width: 20px;
  height: 20px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.labelsContainer14 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.labelText14 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.freeBox {
  display: flex;
  align-self: stretch;
  position: relative;
  flex-direction: row;
}
.slotTargetChildren {
  font-size: 12px;
  color: rgba(26, 48, 29, 1);
  line-height: 100%;
  letter-spacing: 0em;
}
.text {
  display: block;
  font-size: 11px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(111, 110, 107, 1);
  position: relative;
}
.labelIconsContainer14 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.svg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #706f6c;
  width: 20px;
  height: 20px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.endIconsContainer14 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.endIconsContainer14 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.endIconsContainer14 > :global(.__wab_flex-container) > *,
.endIconsContainer14
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.endIconsContainer14 > :global(.__wab_flex-container) > picture > img,
.endIconsContainer14
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  display: block !important;
  overflow: hidden;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
