.root {
  box-shadow: 0px 8px 32px -8px var(--token-XeFw4MGauXBT),
    0px 8px 20px -16px var(--token-JrjdlBU-a5Ju);
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  background: var(--token-p-rw5DRJTx);
  overflow: auto;
  min-width: 270px;
  border-radius: 4px;
  border: 1px solid var(--token-eBt2ZgqRUCz);
}
.freeBox__fkn51 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-iR8SeEwQZ);
  min-width: 0;
  padding: 16px;
  border-bottom: 1px solid var(--token-eBt2ZgqRUCz);
}
.freeBox__fkn51 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.freeBox__fkn51 > :global(.__wab_flex-container) > *,
.freeBox__fkn51 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fkn51 > :global(.__wab_flex-container) > picture > img,
.freeBox__fkn51
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.svg__ahWl {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 16px;
  color: var(--token-fVn5vRhXJxQ);
  height: 16px;
  flex-shrink: 0;
}
.freeBox___5ROv {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.testTitle {
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox___5Qorm {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___5Qorm > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.freeBox___5Qorm > :global(.__wab_flex-container) > *,
.freeBox___5Qorm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5Qorm > :global(.__wab_flex-container) > picture > img,
.freeBox___5Qorm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.testType {
  width: auto;
  height: auto;
  max-width: 800px;
  color: var(--token-UunsGa2Y3t3);
  white-space: pre;
}
.text__baCmI {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: var(--token-UunsGa2Y3t3);
}
.testStatus {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: var(--token-UunsGa2Y3t3);
}
.closeButton:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-left: calc(30px + 4px) !important;
}
.svg__mkt5I {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___6H9YX {
  display: flex;
  position: relative;
  object-fit: cover;
  color: var(--token-UunsGa2Y3t3);
  width: 1em;
  height: 1em;
}
.content {
  flex-direction: column;
  display: flex;
  position: relative;
  padding: 16px;
}
.content > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.content > :global(.__wab_flex-container) > *,
.content > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.content > :global(.__wab_flex-container) > picture > img,
.content
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___8YZ0 {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__wDxNb {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  max-width: 100%;
  grid-column-end: span 4;
  padding: 8px;
}
.text__dne31 {
  max-width: 800px;
  color: var(--token-UunsGa2Y3t3);
  text-align: center;
}
.descriptionInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  grid-column-end: span 8;
}
.svg__nLwrL {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.svg___3Cs7W {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.versions {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.versions > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.versions > :global(.__wab_flex-container) > *,
.versions > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.versions > :global(.__wab_flex-container) > picture > img,
.versions
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.experimentPanel___7Wit3:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.experimentPanel__haPkv:global(.__wab_instance) {
  max-width: 100%;
}
.extraControls {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-style: solid;
}
.experimentEventsisExternal:global(.__wab_instance) {
  display: none;
}
.experimentEvent__k3U38:global(.__wab_instance) {
  max-width: 100%;
}
.experimentEvent__xqiVn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.experimentEternalIds:global(.__wab_instance) {
  position: relative;
  display: flex;
}
.experimentEternalIdsisExternal:global(.__wab_instance) {
  display: flex;
}
.freeBox__wxWEf {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-iR8SeEwQZ);
  min-width: 0;
  padding: 8px 16px;
  border-top: 1px solid var(--token-eBt2ZgqRUCz);
}
.freeBox__wxWEf > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.freeBox__wxWEf > :global(.__wab_flex-container) > *,
.freeBox__wxWEf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wxWEf > :global(.__wab_flex-container) > picture > img,
.freeBox__wxWEf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.saveBtn:global(.__wab_instance) {
  position: relative;
}
.svg__kubdL {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.svg__o7Vjf {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 1em;
}
