.root {
  display: flex;
  flex-direction: column;
  position: relative;
  background: var(--token-iR8SeEwQZ);
  justify-content: center;
  border-radius: 8px;
  border: 1px solid var(--token-hoA5qaM-91G);
}
.rootisEditing {
  border-color: var(--token-S8OnTYk9S2Q);
}
.freeBox__bM1Qx {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 8px;
}
.freeBox___08Ti3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  grid-column-end: span 4;
  padding: 8px;
}
.freeBox__s4C4T {
  display: flex;
  flex-direction: row;
}
.slotTargetVersionName {
  font-weight: 500;
}
.freeBox__zWYf {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
  grid-column-end: span 4;
}
.freeBoxisBase__zWYFqDbUc {
  grid-column-end: span 8;
  display: none;
}
.variantName {
  max-width: 800px;
  display: block;
}
.variantNameisBase {
  display: block;
}
.actionBtn:global(.__wab_instance) {
  position: relative;
  grid-column-end: span 4;
}
.actionBtnisBase:global(.__wab_instance) {
  display: none;
}
.svg {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__rpo8H {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 1em;
}
.freeBox__wiHm4 {
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
  display: none;
}
.freeBoxisBase__wiHm4QDbUc {
  grid-column-end: span 8;
  display: flex;
}
.text {
  max-width: 800px;
  display: none;
}
.textisBase {
  display: block;
}
.freeBox___1K6WT {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBoxtype_schedule___1K6WTRdOsA {
  display: none;
}
.freeBoxtype_schedule_isBase___1K6WTRdOsAQDbUc {
  display: none;
}
.freeBoxtype_segment_isBase___1K6WTdRNoMQDbUc {
  display: none;
}
.freeBox___2KpDd {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  grid-column-end: span 4;
  padding: 8px;
}
.freeBoxtype_segment___2KpDDdRNoM {
  display: none;
}
.distribution {
  width: auto;
  height: auto;
  max-width: 800px;
  color: var(--token-UunsGa2Y3t3);
}
.distributiontype_schedule {
  margin-bottom: 0px;
}
.control {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: 100%;
  grid-column-end: span 8;
}
.control > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.control > :global(.__wab_flex-container) > *,
.control > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.control > :global(.__wab_flex-container) > picture > img,
.control
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.controltype_schedule {
  grid-row-end: span 2;
  grid-column-end: span 12;
}
.controltype_segment {
  grid-column-end: span 12;
}
.freeBox__bPpzk {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 60px;
}
.freeBoxtype_schedule__bPpzkRdOsA {
  display: none;
}
.freeBoxtype_segment__bPpzKdRNoM {
  display: none;
}
.percentage {
  width: auto;
  height: auto;
  color: var(--token-UunsGa2Y3t3);
}
.percentagetype_schedule {
  display: none;
}
.controlContainer {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.controlContainer > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
}
.controlContainertype_schedule {
  padding: 8px;
}
.controlContainertype_schedule > :global(.__wab_flex-container) {
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.controlContainertype_schedule > :global(.__wab_flex-container) > *,
.controlContainertype_schedule
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.controlContainertype_schedule > :global(.__wab_flex-container) > picture > img,
.controlContainertype_schedule
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 8px;
}
