@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500&family=IBM+Plex+Mono%3Aital%2Cwght%400%2C400%3B0%2C500&display=swap");

.plasmic_default_styles {
  --mixin-qP3g6Hd5AdC_text-decoration-line: none;
  --mixin-qP3g6Hd5AdC_text-overflow: clip;
  --mixin-qP3g6Hd5AdC_font-family: "Inter";
  --mixin-qP3g6Hd5AdC_color: var(--token-0IloF6TmFvF);
  --mixin-qP3g6Hd5AdC_font-size: 12px;
  --mixin-2zEfljePq9P_color: var(--token-VUsIDivgUss);
  --mixin-YQD_Uc8Md__font-family: "Inter";
  --mixin-YQD_Uc8Md__font-size: 72px;
  --mixin-YQD_Uc8Md__font-weight: 500;
  --mixin-vEOXQLfcbC_font-family: "Inter";
  --mixin-vEOXQLfcbC_font-size: 48px;
  --mixin-vEOXQLfcbC_font-weight: 500;
  --mixin-EXCWDILscU_font-family: "Inter";
  --mixin-EXCWDILscU_font-size: 32px;
  --mixin-EXCWDILscU_font-weight: 500;
  --mixin-N7cG0Ri48QP_font-family: "Inter";
  --mixin-N7cG0Ri48QP_font-size: 24px;
  --mixin-N7cG0Ri48QP_font-weight: 500;
  --mixin-__gfw12lSVA_font-family: "Inter";
  --mixin-__gfw12lSVA_font-size: 20px;
  --mixin-__gfw12lSVA_font-weight: 500;
  --mixin-eoQXVRNaCyL_font-family: "Inter";
  --mixin-eoQXVRNaCyL_font-size: 16px;
  --mixin-eoQXVRNaCyL_font-weight: 500;
  --mixin-EuhGUWboGh2_position: relative;
  --mixin-_MYD1z_SMDp_position: relative;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_rich_text *),
:where(.__wab_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_rich_text img),
:where(.__wab_text img) {
}

:where(.li) {
  display: list-item;
}
:where(.__wab_rich_text li),
:where(.__wab_text li) {
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_rich_text span),
:where(.__wab_text span) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_rich_text input),
:where(.__wab_text input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_rich_text textarea),
:where(.__wab_text textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_rich_text button),
:where(.__wab_text button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_rich_text code),
:where(.__wab_text code) {
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_rich_text pre),
:where(.__wab_text pre) {
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_rich_text p),
:where(.__wab_text p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h1),
:where(.__wab_text h1) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h2),
:where(.__wab_text h2) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h3),
:where(.__wab_text h3) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h4),
:where(.__wab_text h4) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h5),
:where(.__wab_text h5) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h6),
:where(.__wab_text h6) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_rich_text address),
:where(.__wab_text address) {
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_rich_text a),
:where(.__wab_text a) {
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_rich_text ol),
:where(.__wab_text ol) {
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_rich_text ul),
:where(.__wab_text ul) {
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_rich_text select),
:where(.__wab_text select) {
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.root_reset {
  font-family: var(--mixin-qP3g6Hd5AdC_font-family);
  font-size: var(--mixin-qP3g6Hd5AdC_font-size);
  color: var(--mixin-qP3g6Hd5AdC_color);
  white-space: var(--mixin-qP3g6Hd5AdC_white-space);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset .__wab_text a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-2zEfljePq9P_color);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset .__wab_text a:hover),
:where(.root_reset.plasmic_default__a:hover) {
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset .__wab_text h1),
:where(.root_reset.plasmic_default__h1) {
  font-family: var(--mixin-YQD_Uc8Md__font-family);
  font-size: var(--mixin-YQD_Uc8Md__font-size);
  font-weight: var(--mixin-YQD_Uc8Md__font-weight);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset .__wab_text h2),
:where(.root_reset.plasmic_default__h2) {
  font-family: var(--mixin-vEOXQLfcbC_font-family);
  font-size: var(--mixin-vEOXQLfcbC_font-size);
  font-weight: var(--mixin-vEOXQLfcbC_font-weight);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset .__wab_text h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-EXCWDILscU_font-family);
  font-size: var(--mixin-EXCWDILscU_font-size);
  font-weight: var(--mixin-EXCWDILscU_font-weight);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset .__wab_text h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-N7cG0Ri48QP_font-family);
  font-size: var(--mixin-N7cG0Ri48QP_font-size);
  font-weight: var(--mixin-N7cG0Ri48QP_font-weight);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset .__wab_text h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-__gfw12lSVA_font-family);
  font-size: var(--mixin-__gfw12lSVA_font-size);
  font-weight: var(--mixin-__gfw12lSVA_font-weight);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset .__wab_text h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-eoQXVRNaCyL_font-family);
  font-size: var(--mixin-eoQXVRNaCyL_font-size);
  font-weight: var(--mixin-eoQXVRNaCyL_font-weight);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset .__wab_text blockquote),
:where(.root_reset.plasmic_default__blockquote) {
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset .__wab_text code),
:where(.root_reset.plasmic_default__code) {
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset .__wab_text pre),
:where(.root_reset.plasmic_default__pre) {
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset .__wab_text ol),
:where(.root_reset.plasmic_default__ol) {
  position: var(--mixin-EuhGUWboGh2_position);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset .__wab_text ul),
:where(.root_reset.plasmic_default__ul) {
  position: var(--mixin-_MYD1z_SMDp_position);
}

:where(.root_reset .plasmic_default__a:not(:hover)),
:where(.root_reset .a:not(:hover)),
:where(.root_reset .__wab_text a:not(:hover)),
:where(.root_reset.plasmic_default__a:not(:hover)) {
}

:where(.root_reset .plasmic_default__a:active),
:where(.root_reset .a:active),
:where(.root_reset .__wab_text a:active),
:where(.root_reset.plasmic_default__a:active) {
}

:where(.root_reset .plasmic_default__a:not(:active)),
:where(.root_reset .a:not(:active)),
:where(.root_reset .__wab_text a:not(:active)),
:where(.root_reset.plasmic_default__a:not(:active)) {
}

:where(.root_reset .plasmic_default__a:focus),
:where(.root_reset .a:focus),
:where(.root_reset .__wab_text a:focus),
:where(.root_reset.plasmic_default__a:focus) {
}

:where(.root_reset .plasmic_default__a:not(:link)),
:where(.root_reset .a:not(:link)),
:where(.root_reset .__wab_text a:not(:link)),
:where(.root_reset.plasmic_default__a:not(:link)) {
}

:where(.root_reset .plasmic_default__blockquote:not(:link)),
:where(.root_reset .blockquote:not(:link)),
:where(.root_reset .__wab_text blockquote:not(:link)),
:where(.root_reset.plasmic_default__blockquote:not(:link)) {
}

:where(.root_reset .plasmic_default__blockquote:hover),
:where(.root_reset .blockquote:hover),
:where(.root_reset .__wab_text blockquote:hover),
:where(.root_reset.plasmic_default__blockquote:hover) {
}

:where(.root_reset .plasmic_default__code:hover),
:where(.root_reset .code:hover),
:where(.root_reset .__wab_text code:hover),
:where(.root_reset.plasmic_default__code:hover) {
}

:where(.root_reset .plasmic_default__li),
:where(.root_reset .li),
:where(.root_reset .__wab_text li),
:where(.root_reset.plasmic_default__li) {
}

:where(.root_reset .plasmic_default__p),
:where(.root_reset .p),
:where(.root_reset .__wab_text p),
:where(.root_reset.plasmic_default__p) {
}

:where(.root_reset .plasmic_default__ul:hover),
:where(.root_reset .ul:hover),
:where(.root_reset .__wab_text ul:hover),
:where(.root_reset.plasmic_default__ul:hover) {
}

:where(.root_reset .plasmic_default__li:hover),
:where(.root_reset .li:hover),
:where(.root_reset .__wab_text li:hover),
:where(.root_reset.plasmic_default__li:hover) {
}
