{% layout none %}
<html>
  <body>
    <div id="root"></div>
    {{ page.content }}
    <script src="https://plasmic-static1.s3.us-west-2.amazonaws.com/shopify.bundle.min.js"></script>
  </body>
</html>
