.TextField__root__YgOns {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: rgb(83, 83, 83) /* plasmic-token: rHCbxkIpj */;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-overflow: clip;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
}
.TextField__labelContainer__GDxiX {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.TextField__labelContainer--hasLabel__GDxiX2D102 {
}
.TextField__labelContainer--isDisabled__GDxiXvg4N5 {
}
.TextField__box__Fl5nn {
  display: flex;
  position: relative;
}
.TextField__slotLabel__xKY3i {
  font-size: 12px;
  color: rgb(161, 161, 161) /* plasmic-token: jTvy_szdF */;
}
.TextField__textboxContainer__ky8RZ {
  display: flex;
  width: 100%;
  height: 32px;
  background-color: rgb(250, 250, 250) /* plasmic-token: FrS0G-YYk */;
  flex-direction: row;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-color: rgb(202, 202, 202) /* plasmic-token: 9DOLtHXsT */;
  border-top-style: solid;
  border-right-color: rgb(202, 202, 202) /* plasmic-token: 9DOLtHXsT */;
  border-right-style: solid;
  border-bottom-color: rgb(202, 202, 202) /* plasmic-token: 9DOLtHXsT */;
  border-bottom-style: solid;
  border-left-color: rgb(202, 202, 202) /* plasmic-token: 9DOLtHXsT */;
  border-left-style: solid;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  overflow: visible;
  min-width: 180px;
  padding-top: 0px;
  padding-right: 8px;
  padding-bottom: 0px;
  padding-left: 8px;
  align-items: center;
  flex-shrink: 0;
}
.TextField__textboxContainer--isDisabled__ky8RZvg4N5 {
  opacity: 0.5;
  cursor: not-allowed;
}
.TextField__root--__YgOns_sZ7- .TextField__textboxContainer__ky8RZ {
  outline: none;
}
.TextField__root__YgOns:hover .TextField__textboxContainer__ky8RZ {
  border-top-color: rgb(179, 179, 179) /* plasmic-token: CZVnuh585 */;
  border-right-color: rgb(179, 179, 179) /* plasmic-token: CZVnuh585 */;
  border-bottom-color: rgb(179, 179, 179) /* plasmic-token: CZVnuh585 */;
  border-left-color: rgb(179, 179, 179) /* plasmic-token: CZVnuh585 */;
  background-color: rgb(255, 255, 255) /* plasmic-token: RKKShCHUE */;
}
.TextField__root__YgOns:focus-within .TextField__textboxContainer__ky8RZ {
  border-top-color: rgb(145, 195, 255) /* plasmic-token: mBd88Cy9y */;
  border-right-color: rgb(145, 195, 255) /* plasmic-token: mBd88Cy9y */;
  border-bottom-color: rgb(145, 195, 255) /* plasmic-token: mBd88Cy9y */;
  border-left-color: rgb(145, 195, 255) /* plasmic-token: mBd88Cy9y */;
  background-color: rgb(255, 255, 255) /* plasmic-token: RKKShCHUE */;
  outline: none;
}
.TextField__startIconContainer__6qJKx {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-right: 8px;
}
.TextField__startIconContainer--start__6qJKxrmhbt {
}
.TextField__start__KuHD- {
  object-fit: cover;
  width: 1em;
  height: 1em;
  color: rgb(142, 142, 142) /* plasmic-token: Q__K0BQPe */;
  flex-shrink: 0;
}
.TextField__textbox__6fh_3 {
  position: relative;
  width: 100%;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0) /* plasmic-token: qGc0tqb_o */;
}
.TextField__root__YgOns:hover .TextField__textbox__6fh_3 {
}
.TextField__textbox__6fh_3:focus {
  outline: none;
}
.TextField__textbox__6fh_3::placeholder {
  color: rgb(142, 142, 142) /* plasmic-token: vc98dx4AA */;
  font-style: italic;
}
.TextField__root__YgOns:hover .TextField__textbox__6fh_3::placeholder {
  color: rgb(83, 83, 83) /* plasmic-token: 5fty40UU- */;
}
.TextField__endIconContainer__Y7Zzr {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: 8px;
}
.TextField__endIconContainer--end__Y7ZzrHiIFF {
}
.TextField__end__T2JtC {
  object-fit: cover;
  width: 1em;
  height: 1em;
  color: rgb(142, 142, 142) /* plasmic-token: Q__K0BQPe */;
  flex-shrink: 0;
}
.TextField__focusRing__j-G3u {
  display: block;
  width: auto;
  height: auto;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-color: rgb(25, 118, 210) /* plasmic-token: GyExB0Vfx */;
  border-top-style: dashed;
  border-right-color: rgb(25, 118, 210) /* plasmic-token: GyExB0Vfx */;
  border-right-style: dashed;
  border-bottom-color: rgb(25, 118, 210) /* plasmic-token: GyExB0Vfx */;
  border-bottom-style: dashed;
  border-left-color: rgb(25, 118, 210) /* plasmic-token: GyExB0Vfx */;
  border-left-style: dashed;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
}
.TextField__root--__YgOns_sZ7- .TextField__focusRing__j-G3u {
  outline: none;
}
.TextField__root__YgOns:hover .TextField__focusRing__j-G3u {
}
