.SliderThumb__root__5LUWO {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: rgb(83, 83, 83) /* plasmic-token: rHCbxkIpj */;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-overflow: clip;
  display: inline-flex;
  width: auto;
  height: auto;
  position: relative;
  flex-direction: column;
  align-items: center;
}
.SliderThumb__root--isDisabled__5LUWOiTnwH {
  opacity: 0.5;
  cursor: not-allowed;
}
.SliderThumb__root--isDragging__5LUWOUMPBq {
}
.SliderThumb__root--__5LUWOQyxsn {
  outline: none;
}
.SliderThumb__thumb__lXzp7 {
  border-top-color: rgb(202, 202, 202) /* plasmic-token: 9DOLtHXsT */;
  border-right-color: rgb(202, 202, 202) /* plasmic-token: 9DOLtHXsT */;
  border-bottom-color: rgb(202, 202, 202) /* plasmic-token: 9DOLtHXsT */;
  border-left-color: rgb(202, 202, 202) /* plasmic-token: 9DOLtHXsT */;
  display: block;
  position: relative;
  background-color: rgb(239, 239, 239);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  width: 24px;
  height: 24px;
  left: auto;
  top: auto;
  z-index: 1;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  flex-shrink: 0;
}
.SliderThumb__thumb--isDragging__lXzp7UMPBq {
  background-color: rgb(25, 118, 210) /* plasmic-token: GyExB0Vfx */;
  border-top-color: rgb(25, 118, 210) /* plasmic-token: GyExB0Vfx */;
  border-right-color: rgb(25, 118, 210) /* plasmic-token: GyExB0Vfx */;
  border-bottom-color: rgb(25, 118, 210) /* plasmic-token: GyExB0Vfx */;
  border-left-color: rgb(25, 118, 210) /* plasmic-token: GyExB0Vfx */;
}
.SliderThumb__root__5LUWO:focus-within .SliderThumb__thumb__lXzp7 {
  border-top-color: rgb(145, 195, 255) /* plasmic-token: mBd88Cy9y */;
  border-right-color: rgb(145, 195, 255) /* plasmic-token: mBd88Cy9y */;
  border-bottom-color: rgb(145, 195, 255) /* plasmic-token: mBd88Cy9y */;
  border-left-color: rgb(145, 195, 255) /* plasmic-token: mBd88Cy9y */;
  outline: none;
}
.SliderThumb__root--__5LUWOQyxsn .SliderThumb__thumb__lXzp7 {
  outline: none;
}
.SliderThumb__focusRing__E8lRV {
  display: block;
  width: auto;
  height: auto;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-color: rgb(25, 118, 210) /* plasmic-token: GyExB0Vfx */;
  border-top-style: dashed;
  border-right-color: rgb(25, 118, 210) /* plasmic-token: GyExB0Vfx */;
  border-right-style: dashed;
  border-bottom-color: rgb(25, 118, 210) /* plasmic-token: GyExB0Vfx */;
  border-bottom-style: dashed;
  border-left-color: rgb(25, 118, 210) /* plasmic-token: GyExB0Vfx */;
  border-left-style: dashed;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
}
.SliderThumb__root__5LUWO:focus-within .SliderThumb__focusRing__E8lRV {
  outline: none;
}
.SliderThumb__root--__5LUWOQyxsn .SliderThumb__focusRing__E8lRV {
  outline: none;
}
.SliderThumb__labelContainer__N_aGI {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.SliderThumb__labelContainer--hasLabel__N_aGIGzvrM {
}
