.Button__root__mk6R6 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: rgb(83, 83, 83) /* plasmic-token: rHCbxkIpj */;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-overflow: clip;
  display: inline-flex;
  width: auto;
  height: auto;
  position: relative;
  background-color: rgb(250, 250, 250) /* plasmic-token: FrS0G-YYk */;
  flex-direction: row;
  border-top-color: rgb(202, 202, 202) /* plasmic-token: 9DOLtHXsT */;
  border-top-width: 1px;
  border-top-style: solid;
  border-right-color: rgb(202, 202, 202) /* plasmic-token: 9DOLtHXsT */;
  border-right-width: 1px;
  border-right-style: solid;
  border-bottom-color: rgb(202, 202, 202) /* plasmic-token: 9DOLtHXsT */;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-left-color: rgb(202, 202, 202) /* plasmic-token: 9DOLtHXsT */;
  border-left-width: 1px;
  border-left-style: solid;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.Button__root__mk6R6 > .__wab_flex-container {
  flex-direction: row;
  align-items: center;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.Button__root__mk6R6 > .__wab_flex-container > *,
.Button__root__mk6R6 > .__wab_flex-container > .__wab_slot > * {
  margin-left: 4px;
}
.Button__root--end__mk6R62NES3 {
}
.Button__root--end__mk6R62NES3 > .__wab_flex-container {
}
.Button__root--end__mk6R62NES3 > .__wab_flex-container > *,
.Button__root--end__mk6R62NES3 > .__wab_flex-container > .__wab_slot > * {
}
.Button__root--isDisabled__mk6R6ZQV0J {
  opacity: 0.5;
  cursor: not-allowed;
}
.Button__root--isDisabled__mk6R6ZQV0J > .__wab_flex-container {
}
.Button__root--isDisabled__mk6R6ZQV0J > .__wab_flex-container > *,
.Button__root--isDisabled__mk6R6ZQV0J
  > .__wab_flex-container
  > .__wab_slot
  > * {
}
.Button__root--__mk6R6WvRj1 {
  outline: none;
}
.Button__root--__mk6R6WvRj1 > .__wab_flex-container {
}
.Button__root--__mk6R6WvRj1 > .__wab_flex-container > *,
.Button__root--__mk6R6WvRj1 > .__wab_flex-container > .__wab_slot > * {
}
.Button__root__mk6R6:hover {
  border-top-color: rgb(179, 179, 179) /* plasmic-token: CZVnuh585 */;
  border-right-color: rgb(179, 179, 179) /* plasmic-token: CZVnuh585 */;
  border-bottom-color: rgb(179, 179, 179) /* plasmic-token: CZVnuh585 */;
  border-left-color: rgb(179, 179, 179) /* plasmic-token: CZVnuh585 */;
  background-color: rgb(255, 255, 255) /* plasmic-token: RKKShCHUE */;
}
.Button__root__mk6R6:hover > .__wab_flex-container {
}
.Button__root__mk6R6:hover > .__wab_flex-container > *,
.Button__root__mk6R6:hover > .__wab_flex-container > .__wab_slot > * {
}
.Button__root__mk6R6:active {
  background-color: rgb(234, 234, 234) /* plasmic-token: siC6dMyEH */;
}
.Button__root__mk6R6:active > .__wab_flex-container {
}
.Button__root__mk6R6:active > .__wab_flex-container > *,
.Button__root__mk6R6:active > .__wab_flex-container > .__wab_slot > * {
}
.Button__root__mk6R6:focus {
  border-top-color: rgb(145, 195, 255) /* plasmic-token: mBd88Cy9y */;
  border-right-color: rgb(145, 195, 255) /* plasmic-token: mBd88Cy9y */;
  border-bottom-color: rgb(145, 195, 255) /* plasmic-token: mBd88Cy9y */;
  border-left-color: rgb(145, 195, 255) /* plasmic-token: mBd88Cy9y */;
  outline: none;
}
.Button__root__mk6R6:focus > .__wab_flex-container {
}
.Button__root__mk6R6:focus > .__wab_flex-container > *,
.Button__root__mk6R6:focus > .__wab_flex-container > .__wab_slot > * {
}
.Button__startIconContainer__HVGu8 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.Button__startIconContainer--start__HVGu8s-B1T {
}
.Button__startIconContainer--end__HVGu82NES3 {
}
.Button__root--__mk6R6WvRj1 .Button__startIconContainer__HVGu8 {
  outline: none;
}
.Button__svg__kuJlO {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
}
.Button__contentContainer__DQZs8 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
}
.Button__endIconContainer__EySMt {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.Button__endIconContainer--end__EySMt2NES3 {
}
.Button__svg__ewcNy {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
}
.Button__focusRing__cPTax {
  display: block;
  width: auto;
  height: auto;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-color: rgb(25, 118, 210) /* plasmic-token: GyExB0Vfx */;
  border-top-style: dashed;
  border-right-color: rgb(25, 118, 210) /* plasmic-token: GyExB0Vfx */;
  border-right-style: dashed;
  border-bottom-color: rgb(25, 118, 210) /* plasmic-token: GyExB0Vfx */;
  border-bottom-style: dashed;
  border-left-color: rgb(25, 118, 210) /* plasmic-token: GyExB0Vfx */;
  border-left-style: dashed;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
}
.Button__root--__mk6R6WvRj1 .Button__focusRing__cPTax {
  left: -9px;
  outline: none;
}
