.Slider__root__6N5sp {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: rgb(83, 83, 83) /* plasmic-token: rHCbxkIpj */;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-overflow: clip;
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  flex-direction: column;
}
.Slider__labelContainer__Uf1Fj {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-bottom: 8px;
}
.Slider__labelContainer--hasLabel__Uf1Fjb0kel {
}
.Slider__slotLabel__80kIL {
  font-size: 12px;
  color: rgb(161, 161, 161) /* plasmic-token: jTvy_szdF */;
}
.Slider__sliderContainer__CAmFF {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 32px;
  flex-shrink: 0;
}
.Slider__track__qPTVc {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding-top: 14px;
  padding-right: 0px;
  padding-bottom: 14px;
  padding-left: 0px;
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  height: 100%;
}
.Slider__rail__VRDgK {
  display: block;
  background-color: rgba(0, 0, 0, 0.3) /* plasmic-token: QHGUbGChx */;
  width: 100%;
  height: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  position: absolute;
  flex-shrink: 0;
}
.Slider__filledTrack__0-5Hf {
  display: block;
  background-color: rgb(25, 118, 210) /* plasmic-token: GyExB0Vfx */;
  width: 224px;
  height: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  position: absolute;
  left: 0px;
  flex-shrink: 0;
}
.Slider__thumbContainer__5hRNG {
  display: block;
  position: absolute;
  height: 0px;
  left: 0px;
  top: 4px;
  width: 100%;
}
.Slider__thumbTemplate__saA5p.__wab_instance {
  position: absolute;
  left: 213px;
}
