.Switch__root__gmrzo {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: rgb(83, 83, 83) /* plasmic-token: rHCbxkIpj */;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-overflow: clip;
  display: flex;
  position: relative;
  flex-direction: row;
}
.Switch__root__gmrzo > .__wab_flex-container {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.Switch__root__gmrzo > .__wab_flex-container > *,
.Switch__root__gmrzo > .__wab_flex-container > .__wab_slot > * {
  margin-left: 8px;
}
.Switch__root--isDisabled__gmrzoKL47J {
  opacity: 0.5;
}
.Switch__root--isDisabled__gmrzoKL47J > .__wab_flex-container {
}
.Switch__root--isDisabled__gmrzoKL47J > .__wab_flex-container > *,
.Switch__root--isDisabled__gmrzoKL47J
  > .__wab_flex-container
  > .__wab_slot
  > * {
}
.Switch___switch__S22uR {
  display: flex;
  width: 40px;
  height: 32px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.Switch___switch--isSelected__S22uROjTJ4 {
}
.Switch___switch--isDisabled__S22uRKL47J {
  cursor: not-allowed;
}
.Switch__root__gmrzo:hover .Switch___switch__S22uR {
}
.Switch__thumb__BQniz {
  display: block;
  position: absolute;
  background-color: rgb(239, 239, 239);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  width: 24px;
  height: 24px;
  left: 0px;
  top: 4px;
  z-index: 1;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgba(0, 0, 0, 0) /* plasmic-token: qGc0tqb_o */;
  border-right-color: rgba(0, 0, 0, 0) /* plasmic-token: qGc0tqb_o */;
  border-bottom-color: rgba(0, 0, 0, 0) /* plasmic-token: qGc0tqb_o */;
  border-left-color: rgba(0, 0, 0, 0) /* plasmic-token: qGc0tqb_o */;
  flex-shrink: 0;
}
.Switch__thumb--isSelected__BQnizOjTJ4 {
  background-color: rgb(25, 118, 210) /* plasmic-token: GyExB0Vfx */;
  left: auto;
  right: 0px;
}
.Switch__root__gmrzo:focus-within .Switch__thumb__BQniz {
  border-top-color: rgb(145, 195, 255) /* plasmic-token: mBd88Cy9y */;
  border-right-color: rgb(145, 195, 255) /* plasmic-token: mBd88Cy9y */;
  border-bottom-color: rgb(145, 195, 255) /* plasmic-token: mBd88Cy9y */;
  border-left-color: rgb(145, 195, 255) /* plasmic-token: mBd88Cy9y */;
  outline: none;
}
.Switch__root__gmrzo:hover .Switch__thumb__BQniz {
  border-top-color: rgb(179, 179, 179) /* plasmic-token: CZVnuh585 */;
  border-right-color: rgb(179, 179, 179) /* plasmic-token: CZVnuh585 */;
  border-bottom-color: rgb(179, 179, 179) /* plasmic-token: CZVnuh585 */;
  border-left-color: rgb(179, 179, 179) /* plasmic-token: CZVnuh585 */;
}
.Switch__root--__gmrzoeVudc .Switch__thumb__BQniz {
  outline: none;
}
.Switch__focusRing__SafrU {
  display: block;
  width: auto;
  height: auto;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-color: rgb(25, 118, 210) /* plasmic-token: GyExB0Vfx */;
  border-top-style: dashed;
  border-right-color: rgb(25, 118, 210) /* plasmic-token: GyExB0Vfx */;
  border-right-style: dashed;
  border-bottom-color: rgb(25, 118, 210) /* plasmic-token: GyExB0Vfx */;
  border-bottom-style: dashed;
  border-left-color: rgb(25, 118, 210) /* plasmic-token: GyExB0Vfx */;
  border-left-style: dashed;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
}
.Switch__root--__gmrzoeVudc .Switch__focusRing__SafrU {
  outline: none;
}
.Switch__track__Ncm9T {
  display: block;
  position: relative;
  background-color: rgba(0, 0, 0, 0.3) /* plasmic-token: QHGUbGChx */;
  width: 100%;
  height: 14px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}
.Switch__track--isSelected__Ncm9TOjTJ4 {
  background-color: rgba(25, 118, 210, 0.3) /* plasmic-token: xWGiX6bwb */;
}
.Switch__root__gmrzo:focus-within .Switch__track__Ncm9T {
  outline: none;
}
.Switch__labelContainer__3HTrO {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.Switch__labelContainer--hasLabel__3HTrOSbuZN {
}
