.Select__root__bbHEk {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: rgb(83, 83, 83) /* plasmic-token: rHCbxkIpj */;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-overflow: clip;
  display: inline-flex;
  width: auto;
  height: auto;
  position: relative;
  background-color: #ffffff;
  flex-direction: column;
}
.Select__root--placeholder__bbHEk9rnej {
}
.Select__root--isDisabled__bbHEkZKgTm {
}
.Select__root__bbHEk:focus-within {
  outline: none;
}
.Select__labelContainer__27Wmk {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.Select__labelContainer--hasLabel__27Wmkea3yM {
}
.Select__slotLabel__uo7Bi {
  font-size: 12px;
  color: rgb(161, 161, 161) /* plasmic-token: jTvy_szdF */;
}
.Select__slotLabel--hasLabel__uo7Biea3yM {
}
.Select__trigger__jzpTM.__wab_instance {
  position: relative;
}
.Select__trigger--isOpen__jzpTMjXnkG.__wab_instance {
}
.Select__trigger--isDisabled__jzpTMZKgTm.__wab_instance {
}
.Select__slotTriggerContent__Evoqn {
}
.Select__slotTriggerContent--placeholder__Evoqn9rnej {
  color: rgb(142, 142, 142) /* plasmic-token: vc98dx4AA */;
  font-style: italic;
}
.Select__root--placeholder__bbHEk9rnej:hover
  .Select__slotTriggerContent--placeholder__Evoqn9rnej {
  color: rgb(83, 83, 83) /* plasmic-token: 5fty40UU- */;
}
.Select__overlay__lYOdB {
  display: flex;
  position: relative;
  background-color: rgb(255, 255, 255) /* plasmic-token: _L_jKRn0Y */;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  flex-direction: column;
  overflow: hidden;
}
.Select__overlay--isOpen__lYOdBjXnkG {
}
.Select__optionsContainer__pDeG8 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
}
.Select__selectOption__ftEnZ.__wab_instance {
  position: relative;
}
.Select__selectOption__iXzVb.__wab_instance {
  position: relative;
}
.Select__selectOption__WCkzP.__wab_instance {
  position: relative;
}
.Select__selectOption__TJsPY.__wab_instance {
  position: relative;
}
