/src/wab/shared/copilot/internal/types-content.json
/src/wab/shared/copilot/internal/validators/gen/
/deps/chrome/
/src/wab/gen/
/public/static/img/*.svg
/public/static/img/icons/*.svg
/public/static/js/loader-hydrate.*
/build/
/src/wab/shared/model/classes.ts
/src/wab/shared/model/classes-metas.ts
/server/.cachedev-build/
dev-build
/src/wab/styles/_tokens.sass
/src/wab/styles/_tokens.ts
/src/wab/styles/css-variables.scss
/src/wab/styles/css-variables.ts
.intercom-token
yarn-error.log
cypress/videos
.cache
package-lock.json
localhost-key.pem
localhost.pem
import-graph.json
import-chains.png
import-chains.dot
.env

# Code coverage
coverage/
cc-test-reporter

to-import-into-substack.csv

# TypeScript incremental build cache
*.tsbuildinfo
