@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-UQZchMTsm: var(--token-hoA5qaM-91G);
  --plasmic-token-border-color: var(--token-UQZchMTsm);
  --token-ixk0760-E: var(--token-dqEx_KxIoYV);
  --plasmic-token-tab-item-selected-bg: var(--token-ixk0760-E);
  --token-9i-6NBfNr: var(--token-iP3LxEvLa0xh);
  --plasmic-token-tab-item-selected-foreground: var(--token-9i-6NBfNr);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-xMbkMEM6zoon_font-family: "Inter", sans-serif;
  --mixin-xMbkMEM6zoon_font-size: 16px;
  --mixin-xMbkMEM6zoon_font-weight: 400;
  --mixin-xMbkMEM6zoon_font-style: normal;
  --mixin-xMbkMEM6zoon_color: var(--token-0IloF6TmFvF);
  --mixin-xMbkMEM6zoon_text-align: left;
  --mixin-xMbkMEM6zoon_text-transform: none;
  --mixin-xMbkMEM6zoon_line-height: 1.5;
  --mixin-xMbkMEM6zoon_letter-spacing: normal;
  --mixin-xMbkMEM6zoon_white-space: pre-wrap;
  --mixin-xMbkMEM6zoon_user-select: text;
  --mixin-xMbkMEM6zoon_text-decoration-line: none;
  --mixin-xMbkMEM6zoon_text-overflow: clip;
  --mixin-fcNYQP9S1Oc4_color: #000000;
  --mixin-fcNYQP9S1Oc4_font-weight: 900;
  --mixin-fcNYQP9S1Oc4_font-size: 72px;
  --mixin-fcNYQP9S1Oc4_line-height: 1;
  --mixin-fcNYQP9S1Oc4_letter-spacing: -4px;
  --mixin-fcNYQP9S1Oc4_white-space: pre-wrap;
  --mixin-3g-HSWPfKlNG_font-family: "Inter", sans-serif;
  --mixin-3g-HSWPfKlNG_color: #000000;
  --mixin-3g-HSWPfKlNG_font-size: 48px;
  --mixin-3g-HSWPfKlNG_font-weight: 700;
  --mixin-3g-HSWPfKlNG_letter-spacing: -1px;
  --mixin-3g-HSWPfKlNG_line-height: 1.1;
  --mixin-3g-HSWPfKlNG_white-space: pre-wrap;
  --mixin-Z83HrgSweiTj_color: #0070f3;
  --mixin-Z83HrgSweiTj_white-space: pre-wrap;
  --mixin-8YWB6cF9FqiJ_font-family: "Inter", sans-serif;
  --mixin-8YWB6cF9FqiJ_color: #000000;
  --mixin-8YWB6cF9FqiJ_font-size: 32px;
  --mixin-8YWB6cF9FqiJ_font-weight: 600;
  --mixin-8YWB6cF9FqiJ_letter-spacing: -0.8px;
  --mixin-8YWB6cF9FqiJ_line-height: 1.2;
  --mixin-8YWB6cF9FqiJ_white-space: pre-wrap;
  --mixin-W469lHqWixsc_font-family: "Inter", sans-serif;
  --mixin-W469lHqWixsc_color: #000000;
  --mixin-W469lHqWixsc_font-size: 24px;
  --mixin-W469lHqWixsc_font-weight: 600;
  --mixin-W469lHqWixsc_letter-spacing: -0.5px;
  --mixin-W469lHqWixsc_line-height: 1.3;
  --mixin-W469lHqWixsc_white-space: pre-wrap;
  --mixin-_3o1a3nKNIXU_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-_3o1a3nKNIXU_border-bottom-color: #dddddd;
  --mixin-_3o1a3nKNIXU_border-bottom-style: solid;
  --mixin-_3o1a3nKNIXU_border-bottom-width: 1px;
  --mixin-_3o1a3nKNIXU_border-left-color: #dddddd;
  --mixin-_3o1a3nKNIXU_border-left-style: solid;
  --mixin-_3o1a3nKNIXU_border-left-width: 1px;
  --mixin-_3o1a3nKNIXU_border-right-color: #dddddd;
  --mixin-_3o1a3nKNIXU_border-right-style: solid;
  --mixin-_3o1a3nKNIXU_border-right-width: 1px;
  --mixin-_3o1a3nKNIXU_border-top-color: #dddddd;
  --mixin-_3o1a3nKNIXU_border-top-style: solid;
  --mixin-_3o1a3nKNIXU_border-top-width: 1px;
  --mixin-_3o1a3nKNIXU_border-bottom-left-radius: 3px;
  --mixin-_3o1a3nKNIXU_border-bottom-right-radius: 3px;
  --mixin-_3o1a3nKNIXU_border-top-left-radius: 3px;
  --mixin-_3o1a3nKNIXU_border-top-right-radius: 3px;
  --mixin-_3o1a3nKNIXU_font-family: "Inconsolata";
  --mixin-_3o1a3nKNIXU_padding-bottom: 1px;
  --mixin-_3o1a3nKNIXU_padding-left: 4px;
  --mixin-_3o1a3nKNIXU_padding-right: 4px;
  --mixin-_3o1a3nKNIXU_padding-top: 1px;
  --mixin-_3o1a3nKNIXU_white-space: pre-wrap;
  --mixin-ckIwzNiR4vCD_border-left-color: #dddddd;
  --mixin-ckIwzNiR4vCD_border-left-style: solid;
  --mixin-ckIwzNiR4vCD_border-left-width: 3px;
  --mixin-ckIwzNiR4vCD_color: #888888;
  --mixin-ckIwzNiR4vCD_padding-left: 10px;
  --mixin-ckIwzNiR4vCD_white-space: pre-wrap;
  --mixin-M7zAwAbl3LOc__background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-M7zAwAbl3LOc__border-bottom-color: #dddddd;
  --mixin-M7zAwAbl3LOc__border-bottom-style: solid;
  --mixin-M7zAwAbl3LOc__border-bottom-width: 1px;
  --mixin-M7zAwAbl3LOc__border-left-color: #dddddd;
  --mixin-M7zAwAbl3LOc__border-left-style: solid;
  --mixin-M7zAwAbl3LOc__border-left-width: 1px;
  --mixin-M7zAwAbl3LOc__border-right-color: #dddddd;
  --mixin-M7zAwAbl3LOc__border-right-style: solid;
  --mixin-M7zAwAbl3LOc__border-right-width: 1px;
  --mixin-M7zAwAbl3LOc__border-top-color: #dddddd;
  --mixin-M7zAwAbl3LOc__border-top-style: solid;
  --mixin-M7zAwAbl3LOc__border-top-width: 1px;
  --mixin-M7zAwAbl3LOc__border-bottom-left-radius: 3px;
  --mixin-M7zAwAbl3LOc__border-bottom-right-radius: 3px;
  --mixin-M7zAwAbl3LOc__border-top-left-radius: 3px;
  --mixin-M7zAwAbl3LOc__border-top-right-radius: 3px;
  --mixin-M7zAwAbl3LOc__font-family: "Inconsolata";
  --mixin-M7zAwAbl3LOc__padding-bottom: 3px;
  --mixin-M7zAwAbl3LOc__padding-left: 6px;
  --mixin-M7zAwAbl3LOc__padding-right: 6px;
  --mixin-M7zAwAbl3LOc__padding-top: 3px;
  --mixin-M7zAwAbl3LOc__white-space: pre-wrap;
  --mixin-TkQfJI0JY7OVC_display: flex;
  --mixin-TkQfJI0JY7OVC_flex-direction: column;
  --mixin-TkQfJI0JY7OVC_align-items: stretch;
  --mixin-TkQfJI0JY7OVC_justify-content: flex-start;
  --mixin-TkQfJI0JY7OVC_list-style-position: outside;
  --mixin-TkQfJI0JY7OVC_padding-left: 40px;
  --mixin-TkQfJI0JY7OVC_position: relative;
  --mixin-TkQfJI0JY7OVC_list-style-type: disc;
  --mixin-TkQfJI0JY7OVC_white-space: pre-wrap;
  --mixin-2C73r9DzSMONv_display: flex;
  --mixin-2C73r9DzSMONv_flex-direction: column;
  --mixin-2C73r9DzSMONv_align-items: stretch;
  --mixin-2C73r9DzSMONv_justify-content: flex-start;
  --mixin-2C73r9DzSMONv_list-style-position: outside;
  --mixin-2C73r9DzSMONv_padding-left: 40px;
  --mixin-2C73r9DzSMONv_position: relative;
  --mixin-2C73r9DzSMONv_list-style-type: decimal;
  --mixin-2C73r9DzSMONv_white-space: pre-wrap;
  --mixin-2ZRKEkgArzu46_font-family: "Inter", sans-serif;
  --mixin-2ZRKEkgArzu46_color: #000000;
  --mixin-2ZRKEkgArzu46_font-size: 20px;
  --mixin-2ZRKEkgArzu46_font-weight: 600;
  --mixin-2ZRKEkgArzu46_letter-spacing: -0.3px;
  --mixin-2ZRKEkgArzu46_line-height: 1.5;
  --mixin-2ZRKEkgArzu46_white-space: pre-wrap;
  --mixin--5WrxkVBd2OOV_font-family: "Inter", sans-serif;
  --mixin--5WrxkVBd2OOV_color: #000000;
  --mixin--5WrxkVBd2OOV_font-size: 16px;
  --mixin--5WrxkVBd2OOV_font-weight: 600;
  --mixin--5WrxkVBd2OOV_line-height: 1.5;
  --mixin--5WrxkVBd2OOV_white-space: pre-wrap;
  --mixin-u-lGYOHT5Pmrv_color: #3291ff;
  --mixin-u-lGYOHT5Pmrv_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-NXfUTByl1_white-space: pre-wrap;
  --plasmic-mixin-hover-animation_white-space: var(
    --mixin-NXfUTByl1_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-xMbkMEM6zoon_font-family);
  font-size: var(--mixin-xMbkMEM6zoon_font-size);
  font-weight: var(--mixin-xMbkMEM6zoon_font-weight);
  font-style: var(--mixin-xMbkMEM6zoon_font-style);
  color: var(--mixin-xMbkMEM6zoon_color);
  text-align: var(--mixin-xMbkMEM6zoon_text-align);
  text-transform: var(--mixin-xMbkMEM6zoon_text-transform);
  line-height: var(--mixin-xMbkMEM6zoon_line-height);
  letter-spacing: var(--mixin-xMbkMEM6zoon_letter-spacing);
  white-space: var(--mixin-xMbkMEM6zoon_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-fcNYQP9S1Oc4_color);
  font-weight: var(--mixin-fcNYQP9S1Oc4_font-weight);
  font-size: var(--mixin-fcNYQP9S1Oc4_font-size);
  line-height: var(--mixin-fcNYQP9S1Oc4_line-height);
  letter-spacing: var(--mixin-fcNYQP9S1Oc4_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  font-family: var(--mixin-3g-HSWPfKlNG_font-family);
  color: var(--mixin-3g-HSWPfKlNG_color);
  font-size: var(--mixin-3g-HSWPfKlNG_font-size);
  font-weight: var(--mixin-3g-HSWPfKlNG_font-weight);
  letter-spacing: var(--mixin-3g-HSWPfKlNG_letter-spacing);
  line-height: var(--mixin-3g-HSWPfKlNG_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-Z83HrgSweiTj_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-family: var(--mixin-8YWB6cF9FqiJ_font-family);
  color: var(--mixin-8YWB6cF9FqiJ_color);
  font-size: var(--mixin-8YWB6cF9FqiJ_font-size);
  font-weight: var(--mixin-8YWB6cF9FqiJ_font-weight);
  letter-spacing: var(--mixin-8YWB6cF9FqiJ_letter-spacing);
  line-height: var(--mixin-8YWB6cF9FqiJ_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-family: var(--mixin-W469lHqWixsc_font-family);
  color: var(--mixin-W469lHqWixsc_color);
  font-size: var(--mixin-W469lHqWixsc_font-size);
  font-weight: var(--mixin-W469lHqWixsc_font-weight);
  letter-spacing: var(--mixin-W469lHqWixsc_letter-spacing);
  line-height: var(--mixin-W469lHqWixsc_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-_3o1a3nKNIXU_font-family);
  border-radius: var(--mixin-_3o1a3nKNIXU_border-top-left-radius)
    var(--mixin-_3o1a3nKNIXU_border-top-right-radius)
    var(--mixin-_3o1a3nKNIXU_border-bottom-right-radius)
    var(--mixin-_3o1a3nKNIXU_border-bottom-left-radius);
  padding: var(--mixin-_3o1a3nKNIXU_padding-top)
    var(--mixin-_3o1a3nKNIXU_padding-right)
    var(--mixin-_3o1a3nKNIXU_padding-bottom)
    var(--mixin-_3o1a3nKNIXU_padding-left);
  border-top: var(--mixin-_3o1a3nKNIXU_border-top-width)
    var(--mixin-_3o1a3nKNIXU_border-top-style)
    var(--mixin-_3o1a3nKNIXU_border-top-color);
  border-right: var(--mixin-_3o1a3nKNIXU_border-right-width)
    var(--mixin-_3o1a3nKNIXU_border-right-style)
    var(--mixin-_3o1a3nKNIXU_border-right-color);
  border-bottom: var(--mixin-_3o1a3nKNIXU_border-bottom-width)
    var(--mixin-_3o1a3nKNIXU_border-bottom-style)
    var(--mixin-_3o1a3nKNIXU_border-bottom-color);
  border-left: var(--mixin-_3o1a3nKNIXU_border-left-width)
    var(--mixin-_3o1a3nKNIXU_border-left-style)
    var(--mixin-_3o1a3nKNIXU_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-ckIwzNiR4vCD_color);
  padding-left: var(--mixin-ckIwzNiR4vCD_padding-left);
  border-left: var(--mixin-ckIwzNiR4vCD_border-left-width)
    var(--mixin-ckIwzNiR4vCD_border-left-style)
    var(--mixin-ckIwzNiR4vCD_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-M7zAwAbl3LOc__font-family);
  border-radius: var(--mixin-M7zAwAbl3LOc__border-top-left-radius)
    var(--mixin-M7zAwAbl3LOc__border-top-right-radius)
    var(--mixin-M7zAwAbl3LOc__border-bottom-right-radius)
    var(--mixin-M7zAwAbl3LOc__border-bottom-left-radius);
  padding: var(--mixin-M7zAwAbl3LOc__padding-top)
    var(--mixin-M7zAwAbl3LOc__padding-right)
    var(--mixin-M7zAwAbl3LOc__padding-bottom)
    var(--mixin-M7zAwAbl3LOc__padding-left);
  border-top: var(--mixin-M7zAwAbl3LOc__border-top-width)
    var(--mixin-M7zAwAbl3LOc__border-top-style)
    var(--mixin-M7zAwAbl3LOc__border-top-color);
  border-right: var(--mixin-M7zAwAbl3LOc__border-right-width)
    var(--mixin-M7zAwAbl3LOc__border-right-style)
    var(--mixin-M7zAwAbl3LOc__border-right-color);
  border-bottom: var(--mixin-M7zAwAbl3LOc__border-bottom-width)
    var(--mixin-M7zAwAbl3LOc__border-bottom-style)
    var(--mixin-M7zAwAbl3LOc__border-bottom-color);
  border-left: var(--mixin-M7zAwAbl3LOc__border-left-width)
    var(--mixin-M7zAwAbl3LOc__border-left-style)
    var(--mixin-M7zAwAbl3LOc__border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-TkQfJI0JY7OVC_display);
  flex-direction: var(--mixin-TkQfJI0JY7OVC_flex-direction);
  align-items: var(--mixin-TkQfJI0JY7OVC_align-items);
  justify-content: var(--mixin-TkQfJI0JY7OVC_justify-content);
  list-style-position: var(--mixin-TkQfJI0JY7OVC_list-style-position);
  padding-left: var(--mixin-TkQfJI0JY7OVC_padding-left);
  position: var(--mixin-TkQfJI0JY7OVC_position);
  list-style-type: var(--mixin-TkQfJI0JY7OVC_list-style-type);
  flex-column-gap: var(--mixin-TkQfJI0JY7OVC_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-2C73r9DzSMONv_display);
  flex-direction: var(--mixin-2C73r9DzSMONv_flex-direction);
  align-items: var(--mixin-2C73r9DzSMONv_align-items);
  justify-content: var(--mixin-2C73r9DzSMONv_justify-content);
  list-style-position: var(--mixin-2C73r9DzSMONv_list-style-position);
  padding-left: var(--mixin-2C73r9DzSMONv_padding-left);
  position: var(--mixin-2C73r9DzSMONv_position);
  list-style-type: var(--mixin-2C73r9DzSMONv_list-style-type);
  flex-column-gap: var(--mixin-2C73r9DzSMONv_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin-2ZRKEkgArzu46_font-family);
  color: var(--mixin-2ZRKEkgArzu46_color);
  font-size: var(--mixin-2ZRKEkgArzu46_font-size);
  font-weight: var(--mixin-2ZRKEkgArzu46_font-weight);
  letter-spacing: var(--mixin-2ZRKEkgArzu46_letter-spacing);
  line-height: var(--mixin-2ZRKEkgArzu46_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin--5WrxkVBd2OOV_font-family);
  color: var(--mixin--5WrxkVBd2OOV_color);
  font-size: var(--mixin--5WrxkVBd2OOV_font-size);
  font-weight: var(--mixin--5WrxkVBd2OOV_font-weight);
  line-height: var(--mixin--5WrxkVBd2OOV_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-u-lGYOHT5Pmrv_color);
}
