.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  row-gap: 8px;
  min-width: 0;
  padding: 8px;
}
.freeBox__uIUaY {
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetTitle {
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-qKhMu66CwSx);
}
.freeBox__dxpUq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-wrap: nowrap;
  align-content: stretch;
  column-gap: 8px;
  row-gap: 8px;
  min-width: 0;
}
