.root {
  display: flex;
  position: relative;
  flex-direction: column;
  height: auto;
  width: 100%;
  flex-shrink: 0;
  min-width: 0;
}
.freeBox__i3J1M {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 4px;
  padding: 8px 0px;
}
.freeBox__k743O {
  display: flex;
  position: relative;
  margin: 0px 16px;
}
.headerFilter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  transition-property: all;
  transition-duration: 200ms;
  cursor: pointer;
  column-gap: 4px;
  -webkit-transition-property: all;
  -webkit-transition-duration: 200ms;
  border-radius: 4px;
  padding: 8px 0px;
}
.headerFilternoHeader {
  display: none;
}
.slotTargetFilterLabel {
  font-size: 12px;
  font-weight: 600;
  color: rgb(102, 102, 102);
}
.svg__fE6EN {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: var(--token-UunsGa2Y3t3);
  flex-shrink: 0;
}
.freeBox__qdVl {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  column-gap: 4px;
  margin: 0px 8px 0px 16px;
}
.searchInput:global(.__wab_instance) {
  width: 100%;
  flex-shrink: 1;
  min-width: 0;
}
.expandAllButton:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__lDxU0 {
  display: flex;
  position: relative;
  object-fit: cover;
  height: 1em;
}
.collapseAllButton:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___3CdCg {
  display: flex;
  position: relative;
  object-fit: cover;
  height: 1em;
}
.freeBox__c0PO {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  overflow: auto;
  height: auto;
}
.folderItem__nPdKw:global(.__wab_instance) {
  position: relative;
}
.folderItem___51U39:global(.__wab_instance) {
  position: relative;
}
.folderItem__wvdkK:global(.__wab_instance) {
  position: relative;
}
.folderItem___15OvX:global(.__wab_instance) {
  position: relative;
}
.folderItem__kvnp4:global(.__wab_instance) {
  position: relative;
}
