.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0px;
  min-width: 0;
}
.freeBox__swhJx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__swhJx > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__swhJx > :global(.__wab_flex-container) > *,
.freeBox__swhJx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__swhJx > :global(.__wab_flex-container) > picture > img,
.freeBox__swhJx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.variableRow__eY4H3:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.variableRow__gfor4:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__swXZo {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 8px;
  margin-top: 8px;
  min-width: 0;
  display: none;
  padding: 0px 16px;
}
.freeBoxisExpanded__swXZojQ1D7 {
  display: none;
}
.freeBoxhasImplicitStates_isExpanded__swXZo2CNa0JQ1D7 {
  display: flex;
}
.listSectionSeparator:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__w5Omk {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.freeBox__w5Omk > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-uzWT6AFCY));
  height: calc(100% + var(--token-uzWT6AFCY));
}
.freeBox__w5Omk > :global(.__wab_flex-container) > *,
.freeBox__w5Omk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__w5Omk > :global(.__wab_flex-container) > picture > img,
.freeBox__w5Omk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-uzWT6AFCY);
}
.freeBoxisExpanded__w5OmkjQ1D7 {
  display: flex;
}
.implicitVariablesSection__fDm3O:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.variableRow__wuXum:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: var(--token-aDa535tnF);
}
.svg__wfriV {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.implicitVariablesSection__rIwMc:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.variableRow__eqFtr:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: var(--token-aDa535tnF);
}
.svg___0PVog {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
