.root {
  display: flex;
  width: 200px;
  height: 100%;
  position: relative;
  flex-direction: column;
  background: var(--token-aUCjnzhayS);
  min-height: 0;
  border-right: 1px solid var(--token-pzmB25Csye);
}
.searchContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  min-width: 0;
  padding: 4px 8px;
}
.searchbox:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.componentsContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  overflow: auto;
  min-width: 0;
  min-height: 0;
}
.imageListItem__t7Av5:global(.__wab_instance) {
  position: relative;
}
.svg__wSoz {
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.imageListItem__lEn7S:global(.__wab_instance) {
  position: relative;
}
.svg__dz9NA {
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.imageListItem__b3CyE:global(.__wab_instance) {
  position: relative;
}
.svg__lt778 {
  object-fit: cover;
  width: 16px;
  height: 16px;
}
