.root {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
  border-right: 1px solid var(--token-pzmB25Csye);
}
.explanation:global(.__wab_instance) {
  position: relative;
  align-self: flex-start;
  flex-shrink: 0;
}
.headerContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.text__zJvYt {
  color: var(--token-nadNyMOsLjl);
}
.slotTargetHeader {
  font-weight: 600;
  font-family: "IBM Plex Mono";
  font-size: 16px;
  white-space: pre;
}
.slotTargetHeader > .__wab_text,
.slotTargetHeader > .__wab_slot-string-wrapper,
.slotTargetHeader > .__wab_slot > .__wab_text,
.slotTargetHeader > .__wab_slot > .__wab_slot-string-wrapper,
.slotTargetHeader > .__wab_slot > .__wab_slot > .__wab_text,
.slotTargetHeader > .__wab_slot > .__wab_slot > .__wab_slot-string-wrapper,
.slotTargetHeader > .__wab_slot > .__wab_slot > .__wab_slot > .__wab_text,
.slotTargetHeader
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot-string-wrapper {
  text-overflow: ellipsis;
}
.slotTargetHeader > *,
.slotTargetHeader > .__wab_slot > *,
.slotTargetHeader > .__wab_slot > .__wab_slot > *,
.slotTargetHeader > .__wab_slot > .__wab_slot > .__wab_slot > *,
.slotTargetHeader > picture > img,
.slotTargetHeader > .__wab_slot > picture > img,
.slotTargetHeader > .__wab_slot > .__wab_slot > picture > img,
.slotTargetHeader > .__wab_slot > .__wab_slot > .__wab_slot > picture > img {
  overflow: hidden;
}
.resetButton:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__iijJf {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
  color: var(--token-nadNyMOsLjl);
}
.text__eixHp {
  color: var(--token-nadNyMOsLjl);
}
.svg__atgaP {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 1em;
}
.body {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  overflow: auto;
  height: 100%;
  min-height: 0;
}
.variantsHeader:global(.__wab_instance) {
  position: relative;
  margin-bottom: 8px;
}
.text___5Ydwu {
  height: auto;
}
.variantPropsContainer {
  flex-direction: column;
  display: flex;
  position: relative;
  padding-bottom: 16px;
}
.variantPropsContainer > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.variantPropsContainer > :global(.__wab_flex-container) > *,
.variantPropsContainer
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.variantPropsContainer > :global(.__wab_flex-container) > picture > img,
.variantPropsContainer
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.variantProp__yqiyG:global(.__wab_instance) {
  position: relative;
}
.textbox__aNfmX:global(.__wab_instance) {
  position: relative;
}
.svg__mXRx {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.svg__nYBu {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.variantProp___0ZuhY:global(.__wab_instance) {
  position: relative;
}
.textbox__eVtb:global(.__wab_instance) {
  position: relative;
}
.svg___319Y {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.svg__ot8Nk {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.slotPropsHeader:global(.__wab_instance) {
  position: relative;
  margin-bottom: 8px;
}
.slotPropsContainer {
  flex-direction: column;
  display: flex;
  position: relative;
  padding-bottom: 16px;
}
.slotPropsContainer > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.slotPropsContainer > :global(.__wab_flex-container) > *,
.slotPropsContainer > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.slotPropsContainer > :global(.__wab_flex-container) > picture > img,
.slotPropsContainer
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.slotProp__o6Qg3:global(.__wab_instance) {
  position: relative;
}
.textbox__pu95O:global(.__wab_instance) {
  position: relative;
}
.svg___9ALws {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.svg__hSEzQ {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.slotProp___3GZuj:global(.__wab_instance) {
  position: relative;
}
.textbox__e6AqT:global(.__wab_instance) {
  position: relative;
}
.svg___0Uguy {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.svg___6E53V {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.linkedPropsHeader:global(.__wab_instance) {
  position: relative;
  margin-bottom: 8px;
}
.linkedPropsContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding-bottom: 16px;
}
.linkedProp__zHz9:global(.__wab_instance) {
  position: relative;
}
.textbox__nsfUx:global(.__wab_instance) {
  position: relative;
}
.svg__dmQKy {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.svg__kOvsd {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.elementPropsHeader:global(.__wab_instance) {
  position: relative;
  margin-bottom: 8px;
}
.elementPropsContainer {
  flex-direction: column;
  display: flex;
  position: relative;
  padding-bottom: 16px;
}
.elementPropsContainer > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.elementPropsContainer > :global(.__wab_flex-container) > *,
.elementPropsContainer
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.elementPropsContainer > :global(.__wab_flex-container) > picture > img,
.elementPropsContainer
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.elementProp__ld9th:global(.__wab_instance) {
  position: relative;
}
.svg__zwF5I {
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.elementProp__f7KBs:global(.__wab_instance) {
  position: relative;
}
.svg__dmqB9 {
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.text__xsXcE {
  height: auto;
  width: auto;
}
