.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: auto;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.docsPortalHeader:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox__iOr8P {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 600px;
  padding: 16px;
}
.freeBox__iOr8P > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  margin-top: calc(0px - 14px);
  height: calc(100% + 14px);
}
.freeBox__iOr8P > :global(.__wab_flex-container) > *,
.freeBox__iOr8P > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iOr8P > :global(.__wab_flex-container) > picture > img,
.freeBox__iOr8P
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 14px;
}
.h2__vmyBz {
  font-size: 18px;
  font-weight: 600;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  position: relative;
  margin-top: calc(8px + 14px) !important;
  height: auto;
}
.text__e6W8M {
  font-size: 14px;
  line-height: 1.5em;
  position: relative;
}
.text___8Vv7O {
  font-size: 14px;
  line-height: 1.5em;
  position: relative;
}
.freeBox___4NIrx {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox___4NIrx > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox___4NIrx > :global(.__wab_flex-container) > *,
.freeBox___4NIrx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4NIrx > :global(.__wab_flex-container) > picture > img,
.freeBox___4NIrx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.codegenBranch:global(.__wab_instance) {
  position: relative;
}
.loaderBranch:global(.__wab_instance) {
  position: relative;
}
.link {
  font-size: 14px;
  line-height: 1.5em;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.text___1V3Pg {
  font-size: 14px;
  line-height: 1.5em;
  position: relative;
  color: var(--token-6-fKAK7Ga33);
}
.svg {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
  left: auto;
  top: auto;
  color: var(--token-6-fKAK7Ga33);
  flex-shrink: 0;
}
.h2__qv6Bk {
  font-size: 18px;
  font-weight: 600;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  position: relative;
  margin-top: calc(8px + 14px) !important;
}
.text__swGq {
  font-size: 14px;
  line-height: 1.5em;
  position: relative;
}
