.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.primary {
  display: flex;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 0px 16px;
}
.primary > :global(.__wab_flex-container) {
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.primary > :global(.__wab_flex-container) > *,
.primary > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.primary > :global(.__wab_flex-container) > picture > img,
.primary
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.iconContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.slotTargetIcon {
  color: var(--token-dBnk53GtPsb);
}
.svg__pirdo {
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.labelContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  overflow: hidden;
  min-width: 0;
}
.labelContainernoContent {
  overflow: hidden;
  width: 100%;
  flex-shrink: 1;
  min-width: 0;
}
.slotTargetLabel {
  font-family: "IBM Plex Mono";
  white-space: pre;
  color: var(--token-0KXajUKTVZC);
}
.slotTargetLabel > .__wab_text,
.slotTargetLabel > .__wab_slot-string-wrapper,
.slotTargetLabel > .__wab_slot > .__wab_text,
.slotTargetLabel > .__wab_slot > .__wab_slot-string-wrapper,
.slotTargetLabel > .__wab_slot > .__wab_slot > .__wab_text,
.slotTargetLabel > .__wab_slot > .__wab_slot > .__wab_slot-string-wrapper,
.slotTargetLabel > .__wab_slot > .__wab_slot > .__wab_slot > .__wab_text,
.slotTargetLabel
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot-string-wrapper {
  text-overflow: ellipsis;
}
.slotTargetLabel > *,
.slotTargetLabel > .__wab_slot > *,
.slotTargetLabel > .__wab_slot > .__wab_slot > *,
.slotTargetLabel > .__wab_slot > .__wab_slot > .__wab_slot > *,
.slotTargetLabel > picture > img,
.slotTargetLabel > .__wab_slot > picture > img,
.slotTargetLabel > .__wab_slot > .__wab_slot > picture > img,
.slotTargetLabel > .__wab_slot > .__wab_slot > .__wab_slot > picture > img {
  overflow: hidden;
}
.primaryAnnotation {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.menuButton:global(.__wab_instance):global(.__wab_instance) {
  position: absolute;
  left: auto;
  top: 8px;
  right: 0px;
  flex-shrink: 0;
}
.root:hover .menuButton:global(.__wab_instance):global(.__wab_instance) {
  flex-shrink: 0;
}
.content {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  min-width: 0;
  padding: 4px 16px 4px 40px;
}
.textbox__sW5KA:global(.__wab_instance) {
  position: relative;
}
.svg__vg2Zx {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.svg__dAko7 {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.typeContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  padding: 0px 16px 0px 40px;
}
.typeContainerhasType {
  min-width: 0px;
}
.slotTargetType {
  font-family: "IBM Plex Mono";
  color: var(--token-nadNyMOsLjl);
  white-space: pre;
}
.slotTargetType > .__wab_text,
.slotTargetType > .__wab_slot-string-wrapper,
.slotTargetType > .__wab_slot > .__wab_text,
.slotTargetType > .__wab_slot > .__wab_slot-string-wrapper,
.slotTargetType > .__wab_slot > .__wab_slot > .__wab_text,
.slotTargetType > .__wab_slot > .__wab_slot > .__wab_slot-string-wrapper,
.slotTargetType > .__wab_slot > .__wab_slot > .__wab_slot > .__wab_text,
.slotTargetType
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot-string-wrapper {
  text-overflow: ellipsis;
}
.slotTargetType > *,
.slotTargetType > .__wab_slot > *,
.slotTargetType > .__wab_slot > .__wab_slot > *,
.slotTargetType > .__wab_slot > .__wab_slot > .__wab_slot > *,
.slotTargetType > picture > img,
.slotTargetType > .__wab_slot > picture > img,
.slotTargetType > .__wab_slot > .__wab_slot > picture > img,
.slotTargetType > .__wab_slot > .__wab_slot > .__wab_slot > picture > img {
  overflow: hidden;
}
