.root {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  min-height: 2rem;
  min-width: 0;
  border-radius: 6px;
  padding: 6px 8px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  min-width: 0;
  margin-left: calc(0px - 2px);
  width: calc(100% + 2px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 2px;
}
.root:focus-within {
  box-shadow: 0px 0px 0px 2px #0091ff80;
  outline: none;
}
.root:hover:not(:focus-within) {
  outline: none;
  border: 1px solid var(--token-eBt2ZgqRUCz);
}
.variantChip__eldaJ:global(.__wab_instance) {
  position: relative;
}
.svg__sb2Eh {
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.variantChip___7CmEv:global(.__wab_instance) {
  position: relative;
}
.svg__gf4Dv {
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.comboWrapper {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-grow: 1;
}
.textInput {
  width: auto;
  flex-grow: 1;
  background: rgba(255, 255, 255, 0);
  border-width: 0px;
}
.root:hover:not(:focus-within) .textInput {
  outline: none;
}
.root .textInput:focus {
  outline: none;
}
.toggleButton:global(.__wab_instance) {
  position: relative;
}
.svg___6M0Se {
  display: flex;
  position: relative;
  object-fit: cover;
  color: var(--token-fVn5vRhXJxQ);
  width: 1em;
  height: 1em;
}
.root:hover:not(:focus-within) .svg___6M0Se {
  outline: none;
}
.svg___1Z4Bg {
  display: flex;
  position: relative;
  object-fit: cover;
  color: var(--token-UunsGa2Y3t3);
  width: 1em;
  height: 1em;
}
