.root:global(.__wab_instance) {
  position: relative;
}
.svg {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 1rem;
  height: 1rem;
}
.svgpinState_pinnedTrue {
  color: var(--token-Y2CWh0ci95a);
}
.svgpinState_pinnedFalse {
  color: var(--token-Y2CWh0ci95a);
}
.svgpinState_selected {
  color: var(--token-Y2CWh0ci95a);
}
.svgpinState_evaluatedTrue {
  color: var(--token-Y2CWh0ci95a);
}
.svg__dl131 {
  display: flex;
  position: relative;
  object-fit: cover;
  color: var(--token-UunsGa2Y3t3);
  height: 1em;
}
