.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: var(--token-aDa535tnF);
  padding-left: 36px;
  position: relative;
  width: 100%;
  padding-right: var(--token-NCc1lDy9R);
  column-gap: var(--token-uzWT6AFCY);
  min-width: 0;
  border: 1px solid rgba(255, 255, 255, 0);
}
.root:hover {
  box-shadow: none;
  border-color: var(--token-iDpByWoW0eF);
}
.iconContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.svg__xqw7 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-eBt2ZgqRUCz);
  flex-shrink: 0;
}
.labelContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0px;
  column-gap: 4px;
}
.actionsContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-shrink: 0;
}
.visibleButton:global(.__wab_instance) {
  position: relative;
}
.svg__dJrf {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
}
.svg__d7Wtc {
  display: flex;
  position: relative;
  object-fit: cover;
  color: var(--token-UunsGa2Y3t3);
  height: 1em;
}
.indicator:global(.__wab_instance) {
  position: absolute;
  left: -7px;
  top: 9px;
}
