.root {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.roottype_baseVariant:hover {
  border-color: var(--token-LmrMFZok-p9);
}
.listItem:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__qnsp {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: 22px;
  opacity: 0;
}
.freeBoxtype_baseVariant__qnspVuhwH {
  margin-left: 0px;
  opacity: 1;
}
.freeBoxtype_splitVariant__qnsp3UUn {
  opacity: 0.5;
  margin: 0px;
}
.freeBoxtype_toggle__qnspNLw14 {
  margin-left: 0px;
}
.icon {
  object-fit: cover;
  opacity: 1;
  height: 1em;
}
.freeBox__vSe8B {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  column-gap: 4px;
  min-width: 0;
}
.freeBoxtype_baseVariant__vSe8BvuhwH {
  padding-left: 0px;
}
.freeBoxtype_toggle__vSe8BnLw14 {
  padding-left: 0px;
}
.slotTargetChildren {
  font-size: 12px;
  line-height: 1.25;
  color: var(--token-ElMeFHrIrKT);
}
.freeBox__t0Gv2 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.recordButton:global(.__wab_instance) {
  flex-shrink: 0;
}
.recordButtonpinState_selected:global(.__wab_instance) {
  flex-shrink: 0;
}
.recordButtonisIndicated:global(.__wab_instance) {
  flex-shrink: 0;
}
.recordButtonisReadOnly:global(.__wab_instance) {
  flex-shrink: 0;
}
.recordButtonshowAddAnimation:global(.__wab_instance) {
  flex-shrink: 0;
}
.recordButtonshowAddAnimation_type_baseVariant:global(.__wab_instance) {
  flex-shrink: 0;
}
.recordButtonpinState_selected_showAddAnimation:global(.__wab_instance) {
  flex-shrink: 0;
  display: none;
}
.root:hover .recordButton:global(.__wab_instance) {
  flex-shrink: 0;
}
.rootpinState_selected:hover
  .recordButtonpinState_selected:global(.__wab_instance) {
  flex-shrink: 0;
}
.rootisReadOnly:hover .recordButtonisReadOnly:global(.__wab_instance) {
  flex-shrink: 0;
  display: none;
}
.rootshowAddAnimation:hover
  .recordButtonshowAddAnimation:global(.__wab_instance) {
  flex-shrink: 0;
  display: none;
}
.svg__ct2Fs {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: var(--token-Y2CWh0ci95a);
}
.svg__lyXlx {
  display: flex;
  position: relative;
  object-fit: cover;
  color: var(--token-UunsGa2Y3t3);
  height: 1em;
}
.variantPinButton:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.variantPinButtonpinState_selected_showAddAnimation:global(
    .__wab_instance
  ):global(.__wab_instance) {
  display: none;
}
.rootshowAddAnimation:hover
  .variantPinButtonshowAddAnimation:global(.__wab_instance):global(
    .__wab_instance
  ) {
  display: none;
}
.exprButton:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  flex-shrink: 0;
  display: none;
}
.exprButtonhasCodeExpression:global(.__wab_instance) {
  display: flex;
}
.svg__hMptI {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 16px;
  height: 16px;
}
.svg__aoie5 {
  display: flex;
  position: relative;
  object-fit: cover;
  height: 1em;
}
.addAnimation:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.addAnimationshowAddAnimation:global(.__wab_instance):global(.__wab_instance) {
  display: flex;
}
.addAnimationshowAddAnimation_type_baseVariant:global(.__wab_instance):global(
    .__wab_instance
  ) {
  display: flex;
}
.rootpinState_selected_isReadOnly:hover
  .addAnimationpinState_selected_isReadOnly:global(.__wab_instance):global(
    .__wab_instance
  ) {
  display: none;
}
.svg__dyTn {
  position: relative;
  height: 1em;
}
.svg___5NsPa {
  position: relative;
  height: 1em;
}
.indicator:global(.__wab_instance) {
  position: absolute;
  left: 2px;
  top: 10px;
}
