.root {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  flex-direction: column;
  min-width: 0;
}
.combinationsHeader:global(.__wab_instance) {
  position: relative;
}
.combinationsInfo:global(.__wab_instance) {
  position: relative;
}
.text {
  font-weight: 600;
  color: var(--token-wRTnrRwLX);
}
.iconButton:global(.__wab_instance) {
  position: relative;
}
.svg__ar0Gk {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
}
.svg__gCpMd {
  display: flex;
  position: relative;
  object-fit: cover;
  color: var(--token-UunsGa2Y3t3);
  width: 1em;
  height: 1em;
}
.svg___5CyKy {
  position: relative;
  object-fit: cover;
  width: 1rem;
  height: 1rem;
}
.combosContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.variantComboRow___9X0:global(.__wab_instance) {
  flex-shrink: 0;
}
.variantComboRow__gdMvC:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.listSectionSeparator:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  margin: 4px 8px;
}
.variantComboRow___8PSYa:global(.__wab_instance) {
  flex-shrink: 0;
}
.variantComboRow__cxIov:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.variantComboRow__lBUs:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
