.root {
  display: flex;
  width: 100%;
  height: var(--token-aDa535tnF);
  position: relative;
  padding-left: var(--token-NCc1lDy9R);
  padding-right: var(--token-NCc1lDy9R);
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 4px;
}
.iconContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.slotTargetIcon {
  font-size: 1rem;
  color: var(--token-UunsGa2Y3t3);
}
.svg__vs8Wf {
  object-fit: cover;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.labelContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.slotTargetChildren {
  font-weight: 500;
}
