.root {
  display: flex;
  width: 100%;
  height: var(--token-aDa535tnF);
  position: relative;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-uzWT6AFCY));
  width: calc(100% + var(--token-uzWT6AFCY));
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: var(--token-uzWT6AFCY);
}
.listItem:global(.__wab_instance) {
  position: relative;
}
.svg__zp3Cq {
  object-fit: cover;
  margin-left: 24px;
  width: 1em;
  height: 1em;
}
.svgisStandalone__zp3CqV0Y0A {
  width: 16px;
  height: 16px;
  margin-left: 0px;
}
.labelContainer {
  flex-direction: row;
  display: flex;
  position: relative;
}
.labelContainer > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.labelContainer > :global(.__wab_flex-container) > *,
.labelContainer > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.labelContainer > :global(.__wab_flex-container) > picture > img,
.labelContainer
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.labelContainerisStandalone {
  padding-left: 0px;
}
.recordButton:global(.__wab_instance) {
  position: relative;
}
.svg___6Q7Ap {
  display: flex;
  position: relative;
  object-fit: cover;
  color: var(--token-iDpByWoW0eF);
  width: 1rem;
  height: 1rem;
}
.svg__ku7Q2 {
  display: flex;
  position: relative;
  object-fit: cover;
  color: var(--token-UunsGa2Y3t3);
  width: 1em;
  height: 1em;
}
.variantPinButton:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.indicator:global(.__wab_instance) {
  position: absolute;
  left: 10px;
  top: 10px;
}
