.root {
  display: flex;
  width: 250px;
  height: auto;
  position: relative;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
  flex-direction: column;
  background: var(--token-iR8SeEwQZ);
  border-radius: 8px;
}
.searchContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  padding: 0.5rem;
}
.searchbox:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.listSectionSeparator:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.optionsContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding-bottom: 8px;
}
.variantsDrawerHeader__fnUYy:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__yRqB0 {
  object-fit: cover;
  height: 1rem;
  width: 1rem;
}
.variantsDrawerRow__plCyh:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.chip__eIf0U:global(.__wab_instance) {
  position: relative;
}
.variantsDrawerRow__mWp9V:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.chip___8DiSy:global(.__wab_instance) {
  position: relative;
}
.chip__kxs94:global(.__wab_instance) {
  position: relative;
}
.variantsDrawerHeader__o6UgS:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__n0Yir {
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.variantsDrawerRow__c9JnG:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.chip___8YqyH:global(.__wab_instance) {
  position: relative;
}
.variantsDrawerHeader___5CPmz:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__sUh4Q {
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.variantsDrawerRow__wa5Yz:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.variantsDrawerRow__zfCso:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.variantsDrawerHeader__wbnj:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__eUxb5 {
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.variantsDrawerRow__nOmU:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.variantsDrawerRow__cOttf:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.variantsDrawerRow___6HF3S:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.variantsDrawerHeader__eKocj:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__igNj {
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.variantsDrawerRow__gt0Ax:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.variantsDrawerHeader__pfVq:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__f04F {
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.variantsDrawerRow__fEVx:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.chip__eIKbh:global(.__wab_instance) {
  position: relative;
}
.chip__xC5Ln:global(.__wab_instance) {
  position: relative;
}
.variantsDrawerRow__tK0Vp:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.chip__vMcSp:global(.__wab_instance) {
  position: relative;
}
.chip__zzVf:global(.__wab_instance) {
  position: relative;
}
.variantsDrawerRow__cKnZ:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.chip__odrXn:global(.__wab_instance) {
  position: relative;
}
.chip___0EnEc:global(.__wab_instance) {
  position: relative;
}
