.root {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  flex-direction: column;
  min-width: 0;
}
.header {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: var(--token-G5TIO9SLc);
  padding-left: 16px;
  padding-right: 16px;
  flex-shrink: 0;
}
.variantsInfo:global(.__wab_instance) {
  position: relative;
}
.slotTargetVariantsHeaderLabel {
  font-weight: 600;
  color: var(--token-wRTnrRwLX);
}
.freeBox___0RqzC {
  flex-direction: row;
  display: flex;
  position: relative;
  margin-left: auto;
}
.freeBox___0RqzC > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.freeBox___0RqzC > :global(.__wab_flex-container) > *,
.freeBox___0RqzC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0RqzC > :global(.__wab_flex-container) > picture > img,
.freeBox___0RqzC
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.svg__t9Vj4 {
  position: relative;
  object-fit: cover;
  width: 1rem;
  height: 1rem;
}
.body {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding-bottom: 20px;
}
.baseVariantRow:global(.__wab_instance) {
  position: relative;
}
.svg__vDqMf {
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__kck9E {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  padding-left: 37px;
  padding-right: 16px;
  margin: 8px 0px;
}
.listSectionSeparator__apLyr:global(.__wab_instance) {
  opacity: 0.5;
}
.variantGroupsContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.variantRow__uy09L:global(.__wab_instance) {
  position: relative;
}
.svg__wBei9 {
  object-fit: cover;
  width: 1em;
  height: 1em;
  display: block;
}
.variantRow__s1HUb:global(.__wab_instance) {
  position: relative;
}
.svg__xbOwl {
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.variantRow___90Dj:global(.__wab_instance) {
  position: relative;
}
.svg__eKanl {
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.svg___7Vmxi {
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.variantSection__l0Rdh:global(.__wab_instance) {
  position: relative;
}
.variantRow___3Xqu:global(.__wab_instance) {
  position: relative;
}
.svg__qIst9 {
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.variantRow__wVOoa:global(.__wab_instance) {
  position: relative;
}
.svg___8379Y {
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.variantRow__aTKim:global(.__wab_instance) {
  position: relative;
}
.svg__wMb3O {
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__xakzW {
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.variantRow___2Ht97:global(.__wab_instance) {
  position: relative;
}
.svg__dU8Ug {
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__xxIw2 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  padding-left: 37px;
  padding-right: 16px;
  margin: 8px 0px;
}
.listSectionSeparator__a9XQq:global(.__wab_instance) {
  opacity: 0.5;
}
.styleVariantsSection:global(.__wab_instance) {
  position: relative;
}
.interactionVariantsInfo:global(.__wab_instance) {
  position: relative;
}
.text__ofdug {
  font-weight: 700;
}
.variantRow__qIYpt:global(.__wab_instance) {
  position: relative;
}
.chip__xvOz2:global(.__wab_instance) {
  position: relative;
}
.svg__bpkc6 {
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.variantRow__b824B:global(.__wab_instance) {
  position: relative;
}
.chip__taW9V:global(.__wab_instance) {
  position: relative;
}
.text___4B0XF {
  position: relative;
}
.chip__iqLwE:global(.__wab_instance) {
  position: relative;
}
.text__qzoOm {
  position: relative;
}
.svg__u1SW {
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.svg__v6UCg {
  object-fit: cover;
  width: 1rem;
  height: 1rem;
}
.freeBox___8UyUc {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  padding-left: 16px;
  padding-right: 16px;
  margin: 8px 0px;
}
.superComponentsContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.listSectionSeparator__xaim1:global(.__wab_instance) {
  position: relative;
  opacity: 1;
  flex-shrink: 0;
  display: flex;
}
.listSectionSeparatorexpandGlobals__xaim138L85:global(.__wab_instance) {
  flex-shrink: 0;
}
.listSectionSeparatorshowCombos__xaim1YjQRl:global(.__wab_instance) {
  flex-shrink: 0;
}
.globalVariantsHeader:global(.__wab_instance) {
  position: relative;
}
.globalVariantsInfo:global(.__wab_instance) {
  position: relative;
}
.text__wY3M {
  font-weight: 600;
  color: var(--token-wRTnrRwLX);
}
.addGlobalVariantGroupButton:global(.__wab_instance) {
  position: relative;
}
.svg__rWSpu {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__dy562 {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 1em;
}
.svg___2TCtH {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-fVn5vRhXJxQ);
}
.globalVariantsContainer {
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding-bottom: 20px;
  display: none;
}
.globalVariantsContainerexpandGlobals {
  display: flex;
}
.screenVariantsContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.textWithInfo__uScsx:global(.__wab_instance) {
  position: relative;
}
.text__j4JSq {
  font-weight: 500;
}
.variantRow__dMgjq:global(.__wab_instance) {
  position: relative;
}
.svg__wlkUw {
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.variantRow__hyun9:global(.__wab_instance) {
  position: relative;
}
.svg__lUqCp {
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__nL2E {
  object-fit: cover;
  width: 1rem;
  height: 1rem;
}
.variantSection__aSoAs:global(.__wab_instance) {
  position: relative;
}
.variantRow__qYbRq:global(.__wab_instance) {
  position: relative;
}
.svg__plWb6 {
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: var(--token-eBt2ZgqRUCz);
}
.svg___1DyJo {
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.listSectionSeparator___3TlC:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: none;
}
.listSectionSeparatorshowCombos___3TlCYjQRl:global(.__wab_instance) {
  flex-shrink: 0;
  display: flex;
}
.variantCombosSection:global(.__wab_instance) {
  position: relative;
  align-self: flex-start;
}
.variantComboRow__osk7K:global(.__wab_instance) {
  position: relative;
}
.variantComboRow__hdnci:global(.__wab_instance) {
  position: relative;
}
.variantComboRow__bJv4L:global(.__wab_instance) {
  position: relative;
}
.listSectionSeparator__yClZf:global(.__wab_instance) {
  position: relative;
  opacity: 1;
  flex-shrink: 0;
  display: none;
}
.listSectionSeparatorshowCombos__yClZfYjQRl:global(.__wab_instance) {
  margin-top: 20px;
  flex-shrink: 0;
}
