.root {
  flex-direction: column;
  box-shadow: 0px 8px 32px -8px var(--token-XeFw4MGauXBT),
    0px 8px 20px -16px var(--token-JrjdlBU-a5Ju);
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  background: #ffffff;
  min-width: 0;
  border-radius: 8px;
  padding: 1.5rem;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 16px;
}
.text__xFwGm {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.25;
  position: relative;
}
.form {
  flex-direction: column;
  display: flex;
  position: relative;
}
.form > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.form > :global(.__wab_flex-container) > *,
.form > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.form > :global(.__wab_flex-container) > picture > img,
.form > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 16px;
}
.label__z95AF {
  flex-direction: row;
  display: flex;
}
.label__z95AF > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.label__z95AF > :global(.__wab_flex-container) > *,
.label__z95AF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.label__z95AF > :global(.__wab_flex-container) > picture > img,
.label__z95AF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.text__otKoM {
  position: relative;
  white-space: pre;
  width: 128px;
  color: var(--token-0IloF6TmFvF);
  flex-shrink: 0;
}
.svg__pVxSh {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 1.25rem;
  height: 1.25rem;
}
.svg__cIPu7 {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 1.25rem;
  height: 1.25rem;
}
.freeBox__wJrGa {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.label__cfedi {
  flex-direction: row;
  display: flex;
}
.label__cfedi > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.label__cfedi > :global(.__wab_flex-container) > *,
.label__cfedi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.label__cfedi > :global(.__wab_flex-container) > picture > img,
.label__cfedi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.text__nfn3B {
  position: relative;
  white-space: pre;
  width: 128px;
  color: var(--token-0IloF6TmFvF);
  flex-shrink: 0;
}
.svg__lsdOz {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 1.25rem;
  height: 1.25rem;
}
.svg___6Sz0X {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 1.25rem;
  height: 1.25rem;
}
.label__tGq6R {
  flex-direction: row;
  display: flex;
}
.label__tGq6R > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.label__tGq6R > :global(.__wab_flex-container) > *,
.label__tGq6R > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.label__tGq6R > :global(.__wab_flex-container) > picture > img,
.label__tGq6R
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__ssBqb {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 128px;
  height: 0px;
  max-width: 100%;
  flex-shrink: 0;
}
.passwordStrengthBar:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 4px;
  align-self: flex-end;
}
.label__gCzX2 {
  flex-direction: row;
  display: flex;
}
.label__gCzX2 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.label__gCzX2 > :global(.__wab_flex-container) > *,
.label__gCzX2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.label__gCzX2 > :global(.__wab_flex-container) > picture > img,
.label__gCzX2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.text__pG1Hs {
  position: relative;
  white-space: pre;
  width: 128px;
  color: var(--token-0IloF6TmFvF);
  flex-shrink: 0;
}
.svg___3BWpE {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 1.25rem;
  height: 1.25rem;
}
.svg__aQd0A {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 1.25rem;
  height: 1.25rem;
}
.submitButton:global(.__wab_instance) {
  position: relative;
}
.svg__lJUqf {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__ftmVc {
  width: auto;
}
.svg__aHNii {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.slotTargetError {
  color: var(--token-Y2CWh0ci95a);
  font-weight: 500;
  text-align: center;
}
.feedback {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__cVxa0 {
  position: relative;
  color: var(--token-0WgitNN_nh);
}
