.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  width: 100%;
  padding-bottom: 8px;
  min-width: 0;
  border-bottom: 1px solid var(--token-hoA5qaM-91G);
}
.rootisLast {
  border-bottom-width: 0px;
}
.header {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 32px;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 12px 16px;
}
.freeBox {
  display: flex;
  position: relative;
}
.slotTargetTitle {
  font-weight: 500;
}
.sectionBody {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
.addDrawerItem__nKluR:global(.__wab_instance) {
  position: relative;
}
.svg__nHj8T {
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__kEypf {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
}
.svg__yQySn {
  display: flex;
  position: relative;
  object-fit: cover;
  color: var(--token-UunsGa2Y3t3);
  height: 1em;
}
.iconButton___8Kc5N:global(.__wab_instance) {
  position: relative;
}
.svg__mzqOb {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
}
.svg__dkbzg {
  display: flex;
  position: relative;
  object-fit: cover;
  color: var(--token-UunsGa2Y3t3);
  height: 1em;
}
.img__v3T1K {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__v3T1K > picture > img {
  object-fit: cover;
}
