.root {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.abHeader:global(.__wab_instance) {
  position: relative;
}
.svg__va03F {
  display: flex;
  position: relative;
  object-fit: cover;
  height: 1em;
}
.svg__wnOv {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 1em;
}
.textWithInfo__fZi5:global(.__wab_instance) {
  max-width: 100%;
}
.text__xXsp4 {
  font-weight: 600;
  font-size: 14px;
}
.abContent {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  overflow: hidden;
  min-width: 0;
  border-bottom: 1px solid var(--token-hoA5qaM-91G);
}
.segmentsHeader:global(.__wab_instance) {
  position: relative;
}
.svg__eacMt {
  display: flex;
  position: relative;
  object-fit: cover;
  height: 1em;
}
.text {
  height: auto;
}
.svg__bnPy {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 1em;
}
.textWithInfo__iGp2K:global(.__wab_instance) {
  max-width: 100%;
}
.text__aqGK {
  font-weight: 600;
  font-size: 14px;
}
.segmentsContent {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  overflow: hidden;
  min-width: 0;
}
.leftPaneHeader:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.textWithInfo__qlJnV:global(.__wab_instance) {
  max-width: 100%;
}
.text__ex4P {
  font-weight: 600;
  font-size: 14px;
}
.svg__j3MPs {
  display: flex;
  position: relative;
  object-fit: cover;
  height: 1em;
}
.svg__uEtw {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 1em;
}
.scheduledContent {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  overflow: hidden;
  min-width: 0;
}
