.root {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 16px;
}
.rootisSelected {
  background: #edf6ff;
}
.rootisHighlighted {
  background: #e1f0ff;
}
.labelContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.slotTargetChildren {
  white-space: pre;
}
.slotTargetChildren > .__wab_text,
.slotTargetChildren > .__wab_slot-string-wrapper,
.slotTargetChildren > .__wab_slot > .__wab_text,
.slotTargetChildren > .__wab_slot > .__wab_slot-string-wrapper,
.slotTargetChildren > .__wab_slot > .__wab_slot > .__wab_text,
.slotTargetChildren > .__wab_slot > .__wab_slot > .__wab_slot-string-wrapper,
.slotTargetChildren > .__wab_slot > .__wab_slot > .__wab_slot > .__wab_text,
.slotTargetChildren
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot-string-wrapper {
  text-overflow: ellipsis;
}
.slotTargetChildren > *,
.slotTargetChildren > .__wab_slot > *,
.slotTargetChildren > .__wab_slot > .__wab_slot > *,
.slotTargetChildren > .__wab_slot > .__wab_slot > .__wab_slot > *,
.slotTargetChildren > picture > img,
.slotTargetChildren > .__wab_slot > picture > img,
.slotTargetChildren > .__wab_slot > .__wab_slot > picture > img,
.slotTargetChildren > .__wab_slot > .__wab_slot > .__wab_slot > picture > img {
  overflow: hidden;
}
.slotTargetChildrenisSelected {
  color: #0091ff;
}
