.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  position: relative;
  min-width: 0;
  min-height: 0;
}
.freeBox___1GpQq {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 16px;
}
.text___27NdN {
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__kPz9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 16px 16px;
}
.freeBox__kPz9 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__kPz9 > :global(.__wab_flex-container) > *,
.freeBox__kPz9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kPz9 > :global(.__wab_flex-container) > picture > img,
.freeBox__kPz9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__t3OaN {
  font-weight: 500;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.elementSelect:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg {
  position: relative;
  object-fit: cover;
  min-width: 16px;
  min-height: 16px;
  width: 16px;
  height: 16px;
}
.option__vdTN:global(.__wab_instance) {
  position: relative;
}
.option___0E6Zs:global(.__wab_instance) {
  position: relative;
}
.optionGroup__jvbmm:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.option__gP8D:global(.__wab_instance) {
  position: relative;
}
.option__iUfQw:global(.__wab_instance) {
  position: relative;
}
.optionGroup__mmoH:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.option__le96J:global(.__wab_instance) {
  position: relative;
}
.option___4Sw3P:global(.__wab_instance) {
  position: relative;
}
.option__crR0:global(.__wab_instance) {
  position: relative;
}
.form {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  overflow: auto;
  min-width: 0;
  min-height: 0;
}
