.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  justify-self: flex-start;
  overflow: hidden;
  min-width: 0;
  min-height: 0;
  border-radius: 4px;
  border: 1px solid var(--token-CE-OiWjNhspe);
}
.rootfocused {
  box-shadow: 0px 0px 0px 1px var(--token-WqsKGtAj1ZMI);
}
.rootpreview_image {
  width: 100%;
  height: 100%;
  background: var(--token-p-rw5DRJTx);
  cursor: pointer;
  flex-direction: column;
  column-gap: 0px;
  min-width: 0;
  min-height: 0;
  border-radius: 4px;
  border: 1px solid transparent;
}
.rootpreview_video {
  background: var(--token-p-rw5DRJTx);
}
.freeBox___0Wb1V {
  transform: none;
  position: absolute;
  left: -50px;
  top: 15px;
  z-index: 10;
  display: none;
}
.freeBox_new___0Wb1VJWc5Q {
  display: flex;
}
.text__zha4Z {
  background: var(--token-S8OnTYk9S2Q);
  transform: rotate3d(0, 0, 1, -45deg);
  box-shadow: 0px 4px 10px 0px #0000007a;
  color: var(--token-iR8SeEwQZ);
  padding: 2px 60px;
}
.freeBox__e9Vri {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  row-gap: 8px;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.freeBox__dwpaf {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 0;
  display: none;
}
.freeBoxpreview_image__dwpafPmz0C {
  display: flex;
}
.freeBoxpreview_video__dwpafyZr3N {
  display: flex;
}
.img__o95F {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}
.img__o95F > picture > img {
  object-fit: contain;
}
.img {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  display: none;
}
.img > picture > img {
  object-fit: contain;
}
.imgpreview_image {
  display: block;
}
.htmlVideo:global(.__wab_instance) {
  object-fit: cover;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  pointer-events: none;
  display: none;
}
.htmlVideopreview_video:global(.__wab_instance) {
  display: flex;
}
.titleBox {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  flex-shrink: 0;
}
.slotTargetTitle {
  font-size: 11px;
  color: var(--token-RTPypKCJE4bm);
}
.slotTargetTitlepreview_image {
  text-align: center;
}
.slotTargetTitlepreview_video {
  text-align: center;
}
.freeBox__csvlT {
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 0;
  top: 0;
  background: #00000099;
  transition-property: all;
  transition-duration: 0.2s;
  bottom: 0;
  right: 0;
  display: none;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2s;
  padding: 8px;
}
.rootinstallOnly_preview_image:hover
  .freeBoxinstallOnly_preview_image__csvlT6KfQvPmz0C {
  display: flex;
}
.text__swHcI {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  min-width: 0;
}
