.InlineInsertionPosition__root__yjvhf {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 5px;
  border-width: 1px;
  border-style: none;
}
.InlineInsertionPosition__root__selected_selected__yjvhfDNyJt {
  background-color: rgb(4, 164, 244) /* plasmic-token: mEfRBCwARN4v1 */;
}
.InlineInsertionPosition__slotChildren__nfKzt {
  color: rgb(150, 153, 158) /* plasmic-token: exDXgkOG-ykrR */;
  text-align: center;
}
.InlineInsertionPosition__slotChildren__selected_selected__nfKztDNyJt {
  color: rgb(255, 255, 255);
}
