.root {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: row;
  position: relative;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 8px;
  min-width: 0;
  border-radius: 8px;
  padding: 16px;
}
.freeBox {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  left: 0px;
  top: -16px;
  cursor: pointer;
  background: var(--token-iR8SeEwQZ);
}
.slotTargetName {
  font-weight: 700;
}
.preset__kuBfd:global(.__wab_instance) {
  position: relative;
}
.text__uIv8N {
  position: relative;
}
.preset__aVsCj:global(.__wab_instance) {
  position: relative;
}
.text__xxvsv {
  position: relative;
}
