.root {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 0;
  border-radius: 4px;
  padding: 6px 8px;
  border-width: 1px;
  border-style: none;
}
.rootselected {
  background: var(--token-D666zt2IZPL);
}
.slotTargetChildren {
  text-align: center;
  text-transform: capitalize;
  color: var(--token-UunsGa2Y3t3);
}
.slotTargetChildrenselected {
  font-weight: 500;
  color: rgb(255, 255, 255);
}
