.root {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  flex-direction: column;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.rootisTargeting {
  background: var(--token-htSNbGB58Rx);
}
.leftSearchPanel:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.leftSearchPanelisTargeting:global(.__wab_instance) {
  flex-shrink: 0;
}
.leftPaneHeader:global(.__wab_instance) {
  position: relative;
}
.svg__fp1Os {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.svg__kbY8E {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 1em;
}
.textWithInfo__rcuy0:global(.__wab_instance) {
  max-width: 100%;
}
.text__kLtUt {
  font-weight: 600;
  font-size: 14px;
}
.content {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  overflow: hidden;
  min-width: 0;
  min-height: 0;
}
