.root {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  min-width: 0;
  padding: 0px 1px;
}
.rowItem:global(.__wab_instance) {
  max-width: 100%;
  height: 32px;
}
.svg__wDxJ4 {
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.iconButton__bp62S:global(.__wab_instance) {
  max-width: 100%;
}
.svg__wg9SD {
  display: flex;
  position: relative;
  object-fit: cover;
  height: 1em;
}
.svg__oXcbk {
  display: flex;
  position: relative;
  object-fit: cover;
  height: 1em;
}
