.InlineAddDrawer__root__obops {
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  display: flex;
  width: 250px;
  height: wrap;
  flex-direction: column;
  overflow: visible;
  position: relative;
  border-radius: 8px;
}
.InlineAddDrawer__box__ebKnq {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
  padding: 8px 8px 0px;
}
.InlineAddDrawer__placementOptions__hqVM {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  background-color: rgb(240, 242, 245) /* plasmic-token: Q75oDo3MGXbQ0 */;
  border-radius: 4px;
}
.InlineAddDrawer__placeInside__z9Iam.__wab_instance {
  position: relative;
  width: default;
  height: default;
}
.InlineAddDrawer__placeBefore__byZgE.__wab_instance {
  position: relative;
  width: default;
  height: default;
}
.InlineAddDrawer__placeAfter___9ElJ.__wab_instance {
  position: relative;
  width: default;
  height: default;
}
.InlineAddDrawer__box__snWe3 {
  height: auto;
}
.InlineAddDrawer__leftSearchPanel__fOyte.__wab_instance {
  position: relative;
}
.InlineAddDrawer__content__dncG2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  align-self: stretch;
  flex-grow: 1;
  overflow: auto;
  padding-bottom: 4px;
}
.InlineAddDrawer__listSectionHeader__zDf33.__wab_instance {
  position: relative;
}
.InlineAddDrawer__svg__quwQg {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: rgb(150, 153, 158) /* plasmic-token: exDXgkOG-ykrR */;
}
.InlineAddDrawer__iconButton__dsnIv.__wab_instance {
  position: relative;
}
.InlineAddDrawer__svg__ihL9G {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
}
.InlineAddDrawer__addDrawerItem__xKnh1.__wab_instance {
  position: relative;
  width: default;
  height: default;
}
.InlineAddDrawer__svg__quxEm {
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.InlineAddDrawer__svg__fTn4 {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
}
.InlineAddDrawer__appendButton2__m3UEv.__wab_instance {
  position: relative;
}
.InlineAddDrawer__svg__ho5B {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
}
.InlineAddDrawer__listSectionSeparator__vAlCk.__wab_instance {
  position: relative;
}
.InlineAddDrawer__listSectionHeader__wjbfR.__wab_instance {
  position: relative;
}
.InlineAddDrawer__svg___3BJ9D {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: rgb(150, 153, 158) /* plasmic-token: exDXgkOG-ykrR */;
}
.InlineAddDrawer__iconButton__fjnjy.__wab_instance {
  position: relative;
}
.InlineAddDrawer__svg__ldgOg {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
}
.InlineAddDrawer__addDrawerItem__rjWrQ.__wab_instance {
  position: relative;
  width: default;
  height: default;
}
.InlineAddDrawer__svg__sm8UV {
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.InlineAddDrawer__svg__io64X {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
}
.InlineAddDrawer__appendButton3__xzJmg.__wab_instance {
  position: relative;
}
.InlineAddDrawer__svg__sVaPi {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
}
.InlineAddDrawer__addDrawerItem__puRcm.__wab_instance {
  position: relative;
  width: default;
  height: default;
}
.InlineAddDrawer__svg___2B51B {
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.InlineAddDrawer__svg__nyGis {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
}
.InlineAddDrawer__appendButton4__xaqTo.__wab_instance {
  position: relative;
}
.InlineAddDrawer__svg___7Jk2M {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
}
.InlineAddDrawer__listSectionSeparator__j3E6B.__wab_instance {
  position: relative;
}
.InlineAddDrawer__listSectionHeader__apqiq.__wab_instance {
  position: relative;
}
.InlineAddDrawer__svg__fnabx {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: rgb(150, 153, 158) /* plasmic-token: exDXgkOG-ykrR */;
}
.InlineAddDrawer__iconButton__q40Hb.__wab_instance {
  position: relative;
}
.InlineAddDrawer__svg__ivzBx {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
}
.InlineAddDrawer__addDrawerItem__uneki.__wab_instance {
  position: relative;
  width: default;
  height: default;
}
.InlineAddDrawer__svg__gApJy {
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.InlineAddDrawer__svg___1PI6 {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
}
.InlineAddDrawer__appendButton5___1Eptq.__wab_instance {
  position: relative;
}
.InlineAddDrawer__svg__zkBfo {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
}
.InlineAddDrawer__addDrawerItem__cKDgv.__wab_instance {
  position: relative;
  width: default;
  height: default;
}
.InlineAddDrawer__svg__nS43H {
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.InlineAddDrawer__svg__jLk0 {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
}
.InlineAddDrawer__appendButton6__vBWf9.__wab_instance {
  position: relative;
}
.InlineAddDrawer__svg__xdcy0 {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
}
.InlineAddDrawer__addDrawerItem__kVRlW.__wab_instance {
  position: relative;
  width: default;
  height: default;
}
.InlineAddDrawer__svg__cwWf2 {
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.InlineAddDrawer__svg__zRb2K {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
}
.InlineAddDrawer__appendButton7__iJEg.__wab_instance {
  position: relative;
}
.InlineAddDrawer__svg___8Vc {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
}
.InlineAddDrawer__addDrawerItem___1H8V2.__wab_instance {
  position: relative;
  width: default;
  height: default;
}
.InlineAddDrawer__svg__jZGd {
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.InlineAddDrawer__svg__juccb {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
}
.InlineAddDrawer__appendButton8__zB8Y1.__wab_instance {
  position: relative;
}
.InlineAddDrawer__svg__ty8M {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
}
.InlineAddDrawer__addDrawerItem___48Dz0.__wab_instance {
  position: relative;
  width: default;
  height: default;
}
.InlineAddDrawer__svg__i31M3 {
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.InlineAddDrawer__svg__zQkT {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
}
.InlineAddDrawer__appendButton9__gf6Q9.__wab_instance {
  position: relative;
}
.InlineAddDrawer__svg__iNaB8 {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
}
.InlineAddDrawer__addDrawerItem__pTnHo.__wab_instance {
  position: relative;
  width: default;
  height: default;
}
.InlineAddDrawer__svg__z4I7O {
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.InlineAddDrawer__svg__zlgcs {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
}
.InlineAddDrawer__appendButton10___6WtpT.__wab_instance {
  position: relative;
}
.InlineAddDrawer__svg__uqenk {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
}
.InlineAddDrawer__listSectionSeparator__ujiKh.__wab_instance {
  position: relative;
}
.InlineAddDrawer__listSectionHeader__usl78.__wab_instance {
  position: relative;
}
.InlineAddDrawer__svg__vnUGb {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: rgb(150, 153, 158) /* plasmic-token: exDXgkOG-ykrR */;
}
.InlineAddDrawer__iconButton__lo1B.__wab_instance {
  position: relative;
}
.InlineAddDrawer__svg__w9AgV {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
}
.InlineAddDrawer__addDrawerItem__cm1O0.__wab_instance {
  position: relative;
  width: default;
  height: default;
}
.InlineAddDrawer__svg__itfpM {
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.InlineAddDrawer__svg__vOtk9 {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
}
.InlineAddDrawer__appendButton11__q9J2E.__wab_instance {
  position: relative;
}
.InlineAddDrawer__svg___7Rk4C {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
}
.InlineAddDrawer__addDrawerItem__n7GSu.__wab_instance {
  position: relative;
  width: default;
  height: default;
}
.InlineAddDrawer__svg__fFxM {
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.InlineAddDrawer__svg__suWqm {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
}
.InlineAddDrawer__appendButton12__qO6X.__wab_instance {
  position: relative;
}
.InlineAddDrawer__svg__j22Hr {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
}
.InlineAddDrawer__listSectionSeparator___2MeZx.__wab_instance {
  position: relative;
  height: default;
}
.InlineAddDrawer__listSectionHeader___2PVsY.__wab_instance {
  position: relative;
}
.InlineAddDrawer__svg__pCzfg {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: rgb(150, 153, 158) /* plasmic-token: exDXgkOG-ykrR */;
}
.InlineAddDrawer__iconButton__fHBy.__wab_instance {
  position: relative;
}
.InlineAddDrawer__svg__cWsA {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
}
.InlineAddDrawer__addDrawerItem__lU1N.__wab_instance {
  position: relative;
  width: default;
  height: default;
}
.InlineAddDrawer__svg__jwdyh {
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.InlineAddDrawer__svg__fuSq4 {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
}
.InlineAddDrawer__appendButton13__nOco1.__wab_instance {
  position: relative;
}
.InlineAddDrawer__svg__jdpFd {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
}
.InlineAddDrawer__addDrawerItem___8YL8B.__wab_instance {
  position: relative;
  width: default;
  height: default;
}
.InlineAddDrawer__svg__ipL9U {
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.InlineAddDrawer__svg__jwBjq {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
}
.InlineAddDrawer__appendButton14__q5QuF.__wab_instance {
  position: relative;
}
.InlineAddDrawer__svg__piMsT {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
}
.InlineAddDrawer__addDrawerItem__q5Al.__wab_instance {
  position: relative;
  width: default;
  height: default;
}
.InlineAddDrawer__svg___2I7VR {
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.InlineAddDrawer__svg__eRk8J {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
}
.InlineAddDrawer__appendButton15__vkH4J.__wab_instance {
  position: relative;
}
.InlineAddDrawer__svg__toI5 {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
}
.InlineAddDrawer__addDrawerItem__pRnE9.__wab_instance {
  position: relative;
  width: default;
  height: default;
}
.InlineAddDrawer__svg___3SpJk {
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.InlineAddDrawer__svg__bDe3D {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
}
.InlineAddDrawer__appendButton16__oHw.__wab_instance {
  position: relative;
}
.InlineAddDrawer__svg___3BcHl {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
}
.InlineAddDrawer__addDrawerItem__obbHk.__wab_instance {
  position: relative;
  width: default;
  height: default;
}
.InlineAddDrawer__svg__dy7RD {
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.InlineAddDrawer__svg__fqe53 {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
}
.InlineAddDrawer__appendButton17__wMmRa.__wab_instance {
  position: relative;
}
.InlineAddDrawer__svg__dok6R {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
}
.InlineAddDrawer__addDrawerItem__bXzDe.__wab_instance {
  position: relative;
  width: default;
  height: default;
}
.InlineAddDrawer__svg___56DaA {
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.InlineAddDrawer__svg__l5De {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
}
.InlineAddDrawer__appendButton18__oORfL.__wab_instance {
  position: relative;
}
.InlineAddDrawer__svg__pvuZ4 {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
}
.InlineAddDrawer__listSectionSeparator___6HUsk.__wab_instance {
  position: relative;
}
.InlineAddDrawer__listSectionHeader___5VVf3.__wab_instance {
  position: relative;
}
.InlineAddDrawer__svg__helRg {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: rgb(150, 153, 158) /* plasmic-token: exDXgkOG-ykrR */;
}
.InlineAddDrawer__iconButton__q4H8L.__wab_instance {
  position: relative;
}
.InlineAddDrawer__svg__bvO2B {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
}
.InlineAddDrawer__addDrawerItem__bMtal.__wab_instance {
  position: relative;
  width: default;
  height: default;
}
.InlineAddDrawer__svg__mN6Q {
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.InlineAddDrawer__svg__kJvSt {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
}
.InlineAddDrawer__appendButton__nVsUc.__wab_instance {
  position: relative;
}
.InlineAddDrawer__svg__mPQea {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
}
.InlineAddDrawer__listSectionSeparator__aHo2T.__wab_instance {
  position: relative;
}
.InlineAddDrawer__listSectionHeader__tdWbk.__wab_instance {
  position: relative;
}
.InlineAddDrawer__svg__vfPvX {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: rgb(150, 153, 158) /* plasmic-token: exDXgkOG-ykrR */;
}
.InlineAddDrawer__iconButton__gfBI.__wab_instance {
  position: relative;
}
.InlineAddDrawer__svg__kJblK {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
}
.InlineAddDrawer__addDrawerItem___9O8XK.__wab_instance {
  position: relative;
  width: default;
  height: default;
}
.InlineAddDrawer__svg__juSOi {
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.InlineAddDrawer__svg__tBkk4 {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
}
.InlineAddDrawer__appendButton232222222222322__qv1Kc.__wab_instance {
  position: relative;
}
.InlineAddDrawer__svg__jmaUm {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
}
.InlineAddDrawer__addDrawerItem___3FKOi.__wab_instance {
  position: relative;
  width: default;
  height: default;
}
.InlineAddDrawer__svg__lJmqf {
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.InlineAddDrawer__svg__qOpMj {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
}
.InlineAddDrawer__appendButton2322222222223222__aYz2.__wab_instance {
  position: relative;
}
.InlineAddDrawer__svg__cCwci {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
}
.InlineAddDrawer__addDrawerItem__oIwH.__wab_instance {
  position: relative;
  width: default;
  height: default;
}
.InlineAddDrawer__svg__e4MX {
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.InlineAddDrawer__svg__caNvZ {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
}
.InlineAddDrawer__appendButton23222222222232222___19FGw.__wab_instance {
  position: relative;
}
.InlineAddDrawer__svg__slPl {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
}
.InlineAddDrawer__addDrawerItem__a0CwM.__wab_instance {
  position: relative;
  width: default;
  height: default;
}
.InlineAddDrawer__svg__pkkEk {
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.InlineAddDrawer__svg__nrb5Q {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
}
.InlineAddDrawer__appendButton232222222222322222___1UFqY.__wab_instance {
  position: relative;
}
.InlineAddDrawer__svg__pZqA0 {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
}
.InlineAddDrawer__addDrawerItem__uHqmq.__wab_instance {
  position: relative;
  width: default;
  height: default;
}
.InlineAddDrawer__svg__v7Plc {
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.InlineAddDrawer__svg__o0Mpg {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
}
.InlineAddDrawer__appendButton23222222222232__xmcs2.__wab_instance {
  position: relative;
}
.InlineAddDrawer__svg__eGaVv {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
}
.InlineAddDrawer__addDrawerItem__vfxpC.__wab_instance {
  position: relative;
  width: default;
  height: default;
}
.InlineAddDrawer__svg__v0Z8N {
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.InlineAddDrawer__svg__kpw8L {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
}
.InlineAddDrawer__appendButton232222222222__rwmqs.__wab_instance {
  position: relative;
}
.InlineAddDrawer__svg___42RMg {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
}
.InlineAddDrawer__addDrawerItem__ysAsM.__wab_instance {
  position: relative;
  width: default;
  height: default;
}
.InlineAddDrawer__svg__sllnn {
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.InlineAddDrawer__svg__cF1KO {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
}
.InlineAddDrawer__appendButton22__eq2KJ.__wab_instance {
  position: relative;
}
.InlineAddDrawer__svg__oxKn {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
}
