.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 16px;
}
.freeBox___3XSbn {
  display: block;
  position: absolute;
  width: 1px;
  height: 110%;
  left: 15.5px;
  top: 0px;
  background: var(--token-0vHxN11ixM);
}
.freeBox__lnWi5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.freeBox__jgbTr {
  display: flex;
  flex-direction: row;
  position: relative;
  left: auto;
  top: auto;
}
.freeBox__jgbTr > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__jgbTr > :global(.__wab_flex-container) > *,
.freeBox__jgbTr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jgbTr > :global(.__wab_flex-container) > picture > img,
.freeBox__jgbTr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBoxview_status__jgbTrWsXz9 {
  left: auto;
  top: auto;
}
.freeBox__hdOhB {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  overflow: hidden;
  background: var(--token-O4S7RMTqZ3);
  flex-shrink: 0;
  border-radius: 16px;
}
.checkbox:global(.__wab_instance) {
  position: relative;
}
.img {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.text__o4IEu {
  position: relative;
  font-weight: 600;
}
.textview_status_result_publishing__o4IEuwsXz9ZYtqX {
  height: auto;
}
.svg___6DFCg {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.svgview_status_result_success___6DFCgWsXz9YnSik {
  color: var(--token-MUeFl9R6QY0);
}
.svgview_status_result_failure___6DFCgWsXz9XcibJ {
  color: var(--token-Y2CWh0ci95a);
}
.freeBox__pgu3B {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__pgu3B > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.freeBox__pgu3B > :global(.__wab_flex-container) > *,
.freeBox__pgu3B > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pgu3B > :global(.__wab_flex-container) > picture > img,
.freeBox__pgu3B
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
.svg__lmys9 {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.text__thhNj {
  color: var(--token-t68i-MG5Bw);
}
.svg__yFjH5 {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 1em;
}
.viewGithubButton:global(.__wab_instance) {
  position: relative;
}
.svg___5EXnj {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.text___9VjHy {
  font-weight: 400;
}
.svg___1Omka {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.freeBox__juaWs {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  overflow: hidden;
  background: var(--token-iv-M1hAwV);
  border-radius: 4px;
  border: 1px solid var(--token-hoA5qaM-91G);
}
.freeBox__o9AxH {
  display: flex;
  position: relative;
  flex-direction: column;
  background: var(--token-p-rw5DRJTx);
  padding: 1rem;
  border-bottom: 1px solid var(--token-hoA5qaM-91G);
}
.freeBox__o9AxH > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__o9AxH > :global(.__wab_flex-container) > *,
.freeBox__o9AxH > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__o9AxH > :global(.__wab_flex-container) > picture > img,
.freeBox__o9AxH
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__cEom {
  position: relative;
}
.learnMoreLink {
  position: relative;
}
.freeBox___6XpMr {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 16px;
}
.freeBox___6XpMr > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___6XpMr > :global(.__wab_flex-container) > *,
.freeBox___6XpMr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6XpMr > :global(.__wab_flex-container) > picture > img,
.freeBox___6XpMr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__mwi6W {
  display: flex;
  flex-direction: row;
}
.freeBox__mwi6W > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__mwi6W > :global(.__wab_flex-container) > *,
.freeBox__mwi6W > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mwi6W > :global(.__wab_flex-container) > picture > img,
.freeBox__mwi6W
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__cVqn {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__cVqn > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__cVqn > :global(.__wab_flex-container) > *,
.freeBox__cVqn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cVqn > :global(.__wab_flex-container) > picture > img,
.freeBox__cVqn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__ab0X {
  object-fit: cover;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.repoName {
  position: relative;
  color: var(--token-UunsGa2Y3t3);
  width: auto;
}
.retryButton:global(.__wab_instance) {
  position: relative;
}
.svg__pxPO {
  display: flex;
  position: relative;
  object-fit: cover;
  height: 1em;
}
.svg__mbTsu {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 1em;
}
.removeGithubButton:global(.__wab_instance) {
  position: relative;
}
.svg__abY3 {
  display: flex;
  position: relative;
  object-fit: cover;
  height: 1em;
}
.svg__bhlx2 {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 1em;
}
.connectGithubButton:global(.__wab_instance) {
  position: relative;
}
.svg___7VlNz {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
}
.text___3T8E1 {
  height: auto;
}
.svg__jy95V {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 1em;
}
.freeBox__cDl4U {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBoxrepoState_existingLoader_connection_connected__cDl4UBuuMbX7Cr {
  display: none;
}
.freeBox__vcnnM {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}
.text__qOcy {
  position: relative;
  font-size: 11px;
  font-weight: 600;
  line-height: 34px;
}
.freeBox___5W1XO {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.svg__ptDuP {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.text__zdFC {
  color: var(--token-t68i-MG5Bw);
}
.svg___9W1Yg {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 1em;
}
.showOptionsIconButton:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.freeBox___3TC {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox___3TC > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___3TC > :global(.__wab_flex-container) > *,
.freeBox___3TC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3TC > :global(.__wab_flex-container) > picture > img,
.freeBox___3TC
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__pY6F {
  display: flex;
  position: relative;
}
.freeBox__pY6F > :global(.__wab_flex-container) {
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__pY6F > :global(.__wab_flex-container) > *,
.freeBox__pY6F > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pY6F > :global(.__wab_flex-container) > picture > img,
.freeBox__pY6F
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text__vbjsr {
  position: relative;
  color: var(--token-t68i-MG5Bw);
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 11px;
  line-height: 16px;
  min-width: 33.33%;
}
.pushAs:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.option__gtJcd:global(.__wab_instance) {
  position: relative;
}
.option__iITm7:global(.__wab_instance) {
  position: relative;
}
.optionGroup__tnIye:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.option__zmpux:global(.__wab_instance) {
  position: relative;
}
.option__qMqm:global(.__wab_instance) {
  position: relative;
}
.optionGroup___19Wzt:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.option__ep9Bt:global(.__wab_instance) {
  position: relative;
}
.option__xdQsT:global(.__wab_instance) {
  position: relative;
}
.option__atGfh:global(.__wab_instance) {
  position: relative;
}
.svg__gJa2F {
  position: relative;
  object-fit: cover;
  min-width: 16px;
  min-height: 16px;
  width: 16px;
  height: 16px;
}
.freeBox__nrItu {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__nrItu > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__nrItu > :global(.__wab_flex-container) > *,
.freeBox__nrItu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nrItu > :global(.__wab_flex-container) > picture > img,
.freeBox__nrItu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__vUo8Z {
  display: flex;
  position: relative;
}
.freeBox__vUo8Z > :global(.__wab_flex-container) {
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__vUo8Z > :global(.__wab_flex-container) > *,
.freeBox__vUo8Z > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vUo8Z > :global(.__wab_flex-container) > picture > img,
.freeBox__vUo8Z
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text__zUeWf {
  position: relative;
  color: var(--token-t68i-MG5Bw);
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 11px;
  line-height: 16px;
  min-width: 33.33%;
}
.title {
  position: relative;
  width: 100%;
  line-height: 14px;
  min-width: 0;
  border-radius: 4px;
  padding: 8px;
  border: 1px solid var(--token-0vHxN11ixM);
}
.freeBox__futMf {
  display: flex;
  position: relative;
}
.freeBox__futMf > :global(.__wab_flex-container) {
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__futMf > :global(.__wab_flex-container) > *,
.freeBox__futMf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__futMf > :global(.__wab_flex-container) > picture > img,
.freeBox__futMf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text__ug7Xy {
  position: relative;
  color: var(--token-t68i-MG5Bw);
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 11px;
  line-height: 16px;
  min-width: 33.33%;
}
.description {
  position: relative;
  width: 100%;
  line-height: 16px;
  min-width: 0;
  border-radius: 4px;
  padding: 8px;
  border: 1px solid var(--token-0vHxN11ixM);
}
.freeBox__s2NHx {
  display: flex;
  position: relative;
  background: var(--token-iv-M1hAwV);
  border-radius: 4px;
  padding: 0.5rem;
  border: 1px solid var(--token-hoA5qaM-91G);
}
.steps {
  display: flex;
  position: relative;
  flex-direction: column;
}
.steps > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.steps > :global(.__wab_flex-container) > *,
.steps > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.steps > :global(.__wab_flex-container) > picture > img,
.steps > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 8px;
}
.gitJobStep__iFbAm:global(.__wab_instance) {
  position: relative;
}
.gitJobStep__pvL5:global(.__wab_instance) {
  position: relative;
}
.gitJobStep__crXgO:global(.__wab_instance) {
  position: relative;
}
.gitJobStep__inJas:global(.__wab_instance) {
  position: relative;
}
.gitJobStep__lw6Bz:global(.__wab_instance) {
  position: relative;
}
.gitJobStep__vWw1D:global(.__wab_instance) {
  position: relative;
}
.text__aqa8U {
  height: auto;
}
.gitJobStep__s2ONg:global(.__wab_instance) {
  position: relative;
}
.gitJobStep___0IbFw:global(.__wab_instance) {
  position: relative;
}
.githubPagesDelayNotice {
  position: relative;
}
.githubPagesDelayNoticeview_status_result_success {
  padding-left: 32px;
}
