.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  height: 100%;
  column-gap: 8px;
  min-width: 0;
  min-height: 0;
}
.svg {
  position: relative;
  object-fit: cover;
  color: var(--token-fFqkXw6j9cb);
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.svgstatus_started {
  color: var(--token-pCMcQv3xBc);
}
.svgstatus_failed {
  color: var(--token-Y2CWh0ci95a);
}
.svgstatus_finished {
  color: var(--token-hIvqQBCxyWwX);
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.slotTargetChildren {
  color: var(--token-fFqkXw6j9cb);
}
.slotTargetChildrenstatus_started {
  color: var(--token-pCMcQv3xBc);
}
.slotTargetChildrenstatus_failed {
  color: var(--token-pCMcQv3xBc);
}
.slotTargetChildrenstatus_finished {
  color: var(--token-tqZN8CQTuKc);
}
