@import "src/wab/styles/css-variables";

$parent-stack-hover-color: #f60;

.hoverBoxTagContainer {
  position: absolute;
  top: 0;
  padding-bottom: 5px;
  margin-left: -1px;
  transform: translateY(-100%);
  display: flex;
  flex-direction: column;

  & > * {
    position: relative !important;
    bottom: unset !important;
  }
}

.recordingPanelContainer {
  width: 100vw;
  transform: translateY(calc(-100% - 40px));

  & > * {
    display: inline-flex;
  }
}

.hoveringParentStack {
  filter: hue-rotate(180deg);
}

.preselectBoxBorder {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid $selectionControlsColor;
  opacity: 0.7;
}
