.root:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
}
.svgwhite {
  color: var(--token-N1gO6v-RIEn);
}
.slotTargetPopover {
  font-size: var(--token-YU1H6d7MUtVL);
}
