.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  justify-self: flex-start;
  overflow: hidden;
  min-width: 0;
  min-height: 0;
  border-radius: 4px;
  border: 1px solid var(--token-d0cmIJuLq);
}
.rootfocused {
  box-shadow: 0px 0px 0px 1px var(--token-aXoFvdAMYy);
}
.rootpreview_image {
  width: 100%;
  height: 100%;
  background: var(--token-p-rw5DRJTx);
  cursor: pointer;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
  border-radius: 4px;
  border: 1px solid transparent;
}
.rootpreview_video {
  background: var(--token-rn7cv75TwH);
}
.freeBox__ncMfp {
  transform: none;
  position: absolute;
  left: -50px;
  top: 15px;
  z-index: 10;
  display: none;
}
.freeBox_new__ncMfpPk6FP {
  display: flex;
}
.text___2WwvC {
  background: var(--token-S8OnTYk9S2Q);
  transform: rotateX(0deg) rotateY(0deg) rotateZ(-45deg);
  box-shadow: 0px 4px 10px 0px #0000007a;
  color: var(--token-fhe5G_Aqui);
  padding: 2px 60px;
}
.freeBox__rhXeC {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.freeBox__rhXeC > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__rhXeC > :global(.__wab_flex-container) > *,
.freeBox__rhXeC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rhXeC > :global(.__wab_flex-container) > picture > img,
.freeBox__rhXeC
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__m1Yl {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 0;
  display: none;
}
.freeBoxpreview_image__m1Ylc086T {
  display: flex;
}
.freeBoxpreview_video__m1YLyZaKg {
  display: flex;
}
.img__mRf6Q {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}
.img__mRf6Q > picture > img {
  object-fit: contain;
}
.img {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  display: none !important;
}
.img > picture > img {
  object-fit: contain;
}
.imgpreview_image {
  display: block !important;
}
.htmlVideo:global(.__wab_instance) {
  object-fit: cover;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  pointer-events: none;
  display: none;
}
.htmlVideopreview_video:global(.__wab_instance) {
  display: flex;
}
.titleBox {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  flex-shrink: 0;
}
.slotTargetTitle {
  font-size: 11px;
  color: var(--token-6QxBZ9qV1n);
}
.slotTargetTitlepreview_image {
  text-align: center;
}
.slotTargetTitlepreview_video {
  text-align: center;
}
.freeBox__ssHQl {
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 0;
  top: 0;
  background: #00000099;
  transition-property: all;
  transition-duration: 0.2s;
  bottom: 0;
  right: 0;
  display: none;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2s;
  padding: 8px;
}
.rootinstallOnly_preview_image:hover
  .freeBoxinstallOnly_preview_image__ssHQlA84VlC086T {
  display: flex;
}
.text__nsmVm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  min-width: 0;
}
