.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 800px;
  height: auto;
  max-height: 640px;
  box-shadow: 0px 16px 64px 0px #0000004d;
  background: var(--token-fhe5G_Aqui);
  border-radius: 8px;
}
.header {
  display: flex;
  position: relative;
  flex-direction: column;
  padding-top: 8px;
  padding-bottom: 8px;
}
.header > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.header > :global(.__wab_flex-container) > *,
.header > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.header > :global(.__wab_flex-container) > picture > img,
.header
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.freeBox__noWrf {
  display: flex;
  position: relative;
  flex-direction: row;
  padding-left: 8px;
  padding-right: 8px;
}
.freeBox__noWrf > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__noWrf > :global(.__wab_flex-container) > *,
.freeBox__noWrf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__noWrf > :global(.__wab_flex-container) > picture > img,
.freeBox__noWrf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBoxtabless__noWrfcgv56 {
  display: none;
}
.allTab:global(.__wab_instance) {
  position: relative;
}
.insertTab:global(.__wab_instance) {
  position: relative;
}
.focusTab:global(.__wab_instance) {
  position: relative;
}
.newTab:global(.__wab_instance) {
  position: relative;
}
.runTab:global(.__wab_instance) {
  position: relative;
}
.freeBox__ff5UQ {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  padding-left: 8px;
  padding-right: 8px;
}
.query {
  position: relative;
  width: 100%;
  font-size: 18px;
  min-width: 0;
  border-radius: 4px;
  padding: 8px;
  border: 2px solid var(--token-jkHiEp9PkT);
}
.freeBox__tnBh {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  padding-left: 16px;
  padding-right: 16px;
}
.text {
  position: relative;
  color: var(--token--deXnEZPIk);
  font-size: 10px;
}
.texttabless {
  display: none;
}
.content {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  overflow: auto;
  min-width: 0;
  min-height: 0;
}
.omnibarCommandItem__vcwtC:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__qZeLr {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: var(--token-vxWzcGg6aE);
}
.omnibarCommandItem__hSt0S:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__v4Zpn {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: var(--token-vxWzcGg6aE);
}
.omnibarCommandItem__aRiOz:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__qvOcU {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: var(--token-vxWzcGg6aE);
}
.omnibarGroup___7Vkx:global(.__wab_instance) {
  position: relative;
}
.omnibarAddItem__gOhGs:global(.__wab_instance) {
  position: relative;
}
.img__gX7KT {
  position: relative;
  object-fit: contain;
}
.img__gX7KT > picture > img {
  object-fit: contain;
}
.omnibarAddItem__jOsBv:global(.__wab_instance) {
  position: relative;
}
.img__qo26I {
  position: relative;
  object-fit: contain;
}
.img__qo26I > picture > img {
  object-fit: contain;
}
.omnibarAddItem__uybsz:global(.__wab_instance) {
  position: relative;
}
.img__taeCs {
  position: relative;
  object-fit: contain;
}
.img__taeCs > picture > img {
  object-fit: contain;
}
.omnibarAddItem__wc6W7:global(.__wab_instance) {
  position: relative;
}
.img__wKlZj {
  position: relative;
  object-fit: contain;
}
.img__wKlZj > picture > img {
  object-fit: contain;
}
.omnibarAddItem__nNeLb:global(.__wab_instance) {
  position: relative;
}
.img__boDgF {
  position: relative;
  object-fit: contain;
}
.img__boDgF > picture > img {
  object-fit: contain;
}
.omnibarCommandItem__ikYF:global(.__wab_instance) {
  position: relative;
}
.svg__cSYyV {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: var(--token-vxWzcGg6aE);
}
.omnibarCommandItem__ojdod:global(.__wab_instance) {
  position: relative;
}
.svg__nQexs {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: var(--token-vxWzcGg6aE);
}
.button___0Q1Zo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___81Rvc {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 1rem;
  height: 1rem;
}
.svg__o5Hnn {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 1rem;
  height: 1rem;
}
.omnibarGroup__cSmrg:global(.__wab_instance) {
  position: relative;
}
.omnibarAddItem__zjMtU:global(.__wab_instance) {
  position: relative;
}
.img___67P5X {
  position: relative;
  object-fit: contain;
}
.img___67P5X > picture > img {
  object-fit: contain;
}
.omnibarAddItem__jq4NM:global(.__wab_instance) {
  position: relative;
}
.img__pQIvQ {
  position: relative;
  object-fit: contain;
}
.img__pQIvQ > picture > img {
  object-fit: contain;
}
.omnibarAddItem__io56M:global(.__wab_instance) {
  position: relative;
}
.img__cmKbc {
  position: relative;
  object-fit: contain;
}
.img__cmKbc > picture > img {
  object-fit: contain;
}
.omnibarAddItem__o21YS:global(.__wab_instance) {
  position: relative;
}
.img__oiF9 {
  position: relative;
  object-fit: contain;
}
.img__oiF9 > picture > img {
  object-fit: contain;
}
.omnibarAddItem__czoEh:global(.__wab_instance) {
  position: relative;
}
.img__j59Mw {
  position: relative;
  object-fit: contain;
}
.img__j59Mw > picture > img {
  object-fit: contain;
}
.omnibarCommandItem__rtQs:global(.__wab_instance) {
  position: relative;
}
.svg__q0WLp {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: var(--token-vxWzcGg6aE);
}
.omnibarCommandItem__iJ240:global(.__wab_instance) {
  position: relative;
}
.svg___3Uemh {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: var(--token-vxWzcGg6aE);
}
.button__nnumK:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__jSkxs {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 1rem;
  height: 1rem;
}
.svg__p3OoG {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 1rem;
  height: 1rem;
}
