.root:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  min-height: 100vh;
  position: relative;
  grid-column-start: 1;
  grid-column-end: -1;
}
.loadingBoundary:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__isXxI {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 100px 8px;
}
.svg__mwtAj {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  height: 100px;
  color: #8888881a;
  flex-shrink: 0;
}
.freeBox__vvF5F {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 32px 0px;
}
:where(.freeBox__vvF5F > *) {
  grid-column: 4;
}
.section__hhpmY {
  display: grid;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-row-gap: 16px;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 8px 0;
}
:where(.section__hhpmY > *) {
  grid-column: 4;
}
.h1__bHKjy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__gac36 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.authButton:global(.__wab_instance) {
  max-width: 100%;
}
.svg__xCeCw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-Yq556PvPjGii);
  width: 1em;
  height: 1em;
}
