.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  width: 100%;
  cursor: pointer;
  column-gap: 4px;
  min-width: 0;
  border-radius: 6px;
  padding: 0.5rem;
}
.rootselected {
  background: var(--token-dqEx_KxIoYV);
  pointer-events: none;
}
.root:hover:hover {
  background: var(--token-bV4cCeIniS6);
}
.root:active:active {
  background: var(--token-Ik3bdE1e1Uy);
}
.svg {
  position: relative;
  object-fit: cover;
  width: 1.5rem;
  height: 1.5rem;
  color: var(--token-UunsGa2Y3t3);
  flex-shrink: 0;
}
.svgselected {
  color: var(--token-VUsIDivgUss);
}
.root:hover .svg {
  color: var(--token-0IloF6TmFvF);
}
.freeBox {
  position: relative;
  display: flex;
  flex-direction: row;
}
.slotTargetLabelselected {
  font-weight: 500;
  color: var(--token-krbUYvO2lx2);
}
