.root {
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-direction: column;
  position: relative;
  row-gap: 8px;
  min-width: 0;
  padding: 1.5rem;
}
.text {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.25;
  position: relative;
  left: auto;
  top: auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: column;
  row-gap: 4px;
}
.optimizationOption__jRgRr:global(.__wab_instance) {
  position: relative;
}
.optimizationOption__glowY:global(.__wab_instance) {
  position: relative;
}
.optimizationOption___7ZyRs:global(.__wab_instance) {
  position: relative;
}
.optimizationOption__dkn4A:global(.__wab_instance) {
  position: relative;
}
