.root {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 0.5rem;
  border-bottom: 1px solid var(--token-hoA5qaM-91G);
}
.freeBox___4UBji {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  max-width: 1280px;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  min-width: 0;
}
.freeBox__iuSq1 {
  flex-direction: row;
  display: flex;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__iuSq1 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__iuSq1 > :global(.__wab_flex-container) > *,
.freeBox__iuSq1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iuSq1 > :global(.__wab_flex-container) > picture > img,
.freeBox__iuSq1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.logo {
  object-fit: fill;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  flex-shrink: 0;
}
.logo > picture > img {
  object-fit: fill;
}
.logo > :global(.__wab_img-spacer) > img {
  object-fit: fill;
}
.freeBox__qb1Yn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__z1Sar {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetTeamName {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.25;
}
.text___3ZaQ {
  font-size: 11px;
  line-height: 1.5;
  position: relative;
  color: var(--token-UunsGa2Y3t3);
}
.backBtn {
  flex-direction: row;
  display: flex;
  position: relative;
  cursor: pointer;
  padding: 0.5rem;
}
.backBtn > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.backBtn > :global(.__wab_flex-container) > *,
.backBtn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.backBtn > :global(.__wab_flex-container) > picture > img,
.backBtn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.svg {
  position: relative;
  object-fit: cover;
  color: var(--token-VUsIDivgUss);
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
}
.text__rbN23 {
  position: relative;
  width: auto;
  height: auto;
  font-size: 12px;
  color: var(--token-VUsIDivgUss);
}
