.Comment__root___7Z90R.__wab_instance.__wab_instance {
  position: relative;
}
.Comment__emailRow___8Ibd0.__wab_instance {
  max-width: 100%;
  object-fit: cover;
}
.Comment__emailColumn___1Wfuy.__wab_instance {
  max-width: 100%;
  object-fit: cover;
}
.Comment__emailImage___3CGp2.__wab_instance {
  max-width: 100%;
  object-fit: cover;
}
.Comment__emailColumn__tbeRs.__wab_instance {
  max-width: 100%;
  object-fit: cover;
}
.Comment__emailText__gq4DD.__wab_instance {
  max-width: 100%;
  object-fit: cover;
}
.Comment__emailText__fxx4C.__wab_instance {
  max-width: 100%;
  object-fit: cover;
}
