.FooterSocialIcon__root__moWDd.__wab_instance {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.FooterSocialIcon__emailLink___9Lzy0.__wab_instance {
  max-width: 100%;
  object-fit: cover;
}
.FooterSocialIcon__emailImage___0IsWh.__wab_instance {
  max-width: 100%;
  object-fit: cover;
}
