.TemplateComments__root__wljSi.__wab_instance.__wab_instance {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.TemplateComments__emailLink__sLzLo.__wab_instance {
  max-width: 100%;
  object-fit: cover;
}
.TemplateComments__emailRow__s32TP.__wab_instance {
  max-width: 100%;
  object-fit: cover;
}
.TemplateComments__commentsMentions__fFdv5.__wab_instance.__wab_instance {
  max-width: 100%;
}
.TemplateComments__emailRow__fUirH.__wab_instance {
  max-width: 100%;
  object-fit: cover;
}
.TemplateComments__emailRow__i0EcI.__wab_instance {
  max-width: 100%;
  object-fit: cover;
}
.TemplateComments__emailRow__bw2Ab.__wab_instance {
  max-width: 100%;
  object-fit: cover;
}
.TemplateComments__commentsReactions__oiPwI.__wab_instance.__wab_instance {
  max-width: 100%;
}
.TemplateComments__emailRow__bAn9N.__wab_instance {
  max-width: 100%;
  object-fit: cover;
}
.TemplateComments__commentsResolutions__gQo1M.__wab_instance.__wab_instance {
  max-width: 100%;
}
.TemplateComments__emailRow__kaApI.__wab_instance {
  max-width: 100%;
  object-fit: cover;
}
.TemplateComments__emailMarkdown__w4XaI.__wab_instance {
  max-width: 100%;
  object-fit: cover;
}
