.TemplateTestEmail__root__jg0Wt.__wab_instance.__wab_instance {
  max-width: 100%;
}
.TemplateTestEmail__emailHeading__mk3Qb.__wab_instance {
  max-width: 100%;
  object-fit: cover;
}
.TemplateTestEmail__emailText__d56R8.__wab_instance {
  max-width: 100%;
  object-fit: cover;
}
.TemplateTestEmail__emailText__uFoMu.__wab_instance {
  max-width: 100%;
  object-fit: cover;
}
