.CommentsComment__root__pLkHm.__wab_instance {
  max-width: 100%;
  object-fit: cover;
}
.CommentsComment__emailText__gvgXb.__wab_instance {
  max-width: 100%;
  object-fit: cover;
}
.CommentsComment__emailRow___8Ibd0.__wab_instance {
  max-width: 100%;
  object-fit: cover;
}
.CommentsComment__emailColumn___1Wfuy.__wab_instance {
  max-width: 100%;
  object-fit: cover;
}
.CommentsComment__emailImage___3CGp2.__wab_instance {
  max-width: 100%;
  object-fit: cover;
}
.CommentsComment__emailText__tZidO.__wab_instance {
  max-width: 100%;
  object-fit: cover;
}
.CommentsComment__emailColumn__tbeRs.__wab_instance {
  max-width: 100%;
  object-fit: cover;
}
.CommentsComment__emailText__gq4DD.__wab_instance {
  max-width: 100%;
  object-fit: cover;
}
.CommentsComment__emailMarkdown___2GLvC.__wab_instance {
  max-width: 100%;
  object-fit: cover;
}
.CommentsComment__atomsButtonOutlinewithLink__qDPkf2Fzk7.__wab_instance.__wab_instance {
  display: block;
}
