.CommentsResolutions__root__qaEih.__wab_instance {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
}
.CommentsResolutions__emailRow__kMUu.__wab_instance {
  max-width: 100%;
  object-fit: cover;
}
.CommentsResolutions__atomsCard___7JlxT.__wab_instance.__wab_instance {
  max-width: 100%;
}
.CommentsResolutions__commentsComment__kXkH.__wab_instance.__wab_instance {
  max-width: 100%;
}
