.root:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg {
  display: flex;
  position: relative;
  object-fit: cover;
  color: var(--token-0IloF6TmFvF);
  height: 1em;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 400px;
  min-width: 0;
}
.text {
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: left;
  width: 100%;
  min-width: 0;
}
.svg__ffxcx {
  display: flex;
  position: relative;
  object-fit: cover;
  height: 1em;
}
