.root:global(.__wab_instance) {
  max-width: 100%;
}
.svg {
  display: flex;
  position: relative;
  object-fit: cover;
  height: 1em;
}
.svg__gxAya {
  display: flex;
  position: relative;
  object-fit: cover;
  height: 1em;
}
