.root {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  transition-property: all;
  transition-duration: 0.2s;
  opacity: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2s;
  padding: 4px;
}
.rootsaveState_dirty {
  opacity: 1;
}
.rootsaveState_unlogged {
  opacity: 1;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 6px;
  height: 6px;
  background: var(--token-PTyaboLP9ZK);
  flex-shrink: 0;
  border-radius: 100%;
}
.freeBoxsaveState_unlogged {
  background: var(--token-hoA5qaM-91G);
}
