.share:global(.__wab_instance) {
  position: relative;
}
.svg__ogjiq {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.svg__yOKuT {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 1em;
}
