.root:global(.__wab_instance) {
  position: relative;
  height: 1.75rem;
}
.svg__bDFt4 {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.svg__l31Mh {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
