.root {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.root___focusVisibleWithin {
  outline: none;
}
.root:focus-within {
  outline: none;
}
.root:hover:not(:focus-within) {
  outline: none;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__jPcAq {
  display: flex;
  position: relative;
  object-fit: cover;
  height: 1em;
}
.svg__nPGjK {
  display: flex;
  position: relative;
  object-fit: cover;
  height: 1em;
}
