.root {
  display: inline-flex;
  position: relative;
  width: auto;
  height: auto;
  justify-self: flex-start;
  border-bottom: 1px dotted var(--token-ewevznWxvl9h);
}
.slotTargetChildren {
  color: var(--token-ewevznWxvl9h);
  font-size: var(--token-A0Cg7LpJPdae);
  line-height: var(--token-TxckqK7aktpC);
}
.text__gSlk {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
