.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  justify-self: flex-start;
}
.text {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #0d74ce;
}
