@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_default_styles {
  --mixin-KIzxF7SZdO_font-family: "Inter", sans-serif;
  --mixin-KIzxF7SZdO_font-size: 16px;
  --mixin-KIzxF7SZdO_font-weight: 400;
  --mixin-KIzxF7SZdO_font-style: normal;
  --mixin-KIzxF7SZdO_color: #535353;
  --mixin-KIzxF7SZdO_text-align: left;
  --mixin-KIzxF7SZdO_text-transform: none;
  --mixin-KIzxF7SZdO_line-height: 1.5;
  --mixin-KIzxF7SZdO_letter-spacing: normal;
  --mixin-KIzxF7SZdO_white-space: pre-wrap;
  --mixin-KIzxF7SZdO_user-select: text;
  --mixin-KIzxF7SZdO_text-decoration-line: none;
  --mixin-KIzxF7SZdO_text-overflow: clip;
  --mixin-wrCcCT-6R1I_font-family: "Inter", sans-serif;
  --mixin-wrCcCT-6R1I_color: #000000;
  --mixin-wrCcCT-6R1I_font-size: 72px;
  --mixin-wrCcCT-6R1I_font-weight: 900;
  --mixin-wrCcCT-6R1I_letter-spacing: -4px;
  --mixin-wrCcCT-6R1I_line-height: 1;
  --mixin-wrCcCT-6R1I_white-space: pre-wrap;
  --mixin-c9BsxrkeG4w_font-family: "Inter", sans-serif;
  --mixin-c9BsxrkeG4w_color: #000000;
  --mixin-c9BsxrkeG4w_font-size: 48px;
  --mixin-c9BsxrkeG4w_font-weight: 700;
  --mixin-c9BsxrkeG4w_letter-spacing: -1px;
  --mixin-c9BsxrkeG4w_line-height: 1.1;
  --mixin-c9BsxrkeG4w_white-space: pre-wrap;
  --mixin-Kzkwb6YtCvp_color: #0070f3;
  --mixin-Kzkwb6YtCvp_white-space: pre-wrap;
  --mixin-NTL8mIjcbc__font-family: "Inter", sans-serif;
  --mixin-NTL8mIjcbc__color: #000000;
  --mixin-NTL8mIjcbc__font-size: 32px;
  --mixin-NTL8mIjcbc__font-weight: 600;
  --mixin-NTL8mIjcbc__letter-spacing: -0.8px;
  --mixin-NTL8mIjcbc__line-height: 1.2;
  --mixin-NTL8mIjcbc__white-space: pre-wrap;
  --mixin-ZsRCNAweqhb_font-family: "Inter", sans-serif;
  --mixin-ZsRCNAweqhb_color: #000000;
  --mixin-ZsRCNAweqhb_font-size: 24px;
  --mixin-ZsRCNAweqhb_font-weight: 600;
  --mixin-ZsRCNAweqhb_letter-spacing: -0.5px;
  --mixin-ZsRCNAweqhb_line-height: 1.3;
  --mixin-ZsRCNAweqhb_white-space: pre-wrap;
  --mixin-k_8q1Ap42bs_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-k_8q1Ap42bs_border-bottom-color: #dddddd;
  --mixin-k_8q1Ap42bs_border-bottom-style: solid;
  --mixin-k_8q1Ap42bs_border-bottom-width: 1px;
  --mixin-k_8q1Ap42bs_border-left-color: #dddddd;
  --mixin-k_8q1Ap42bs_border-left-style: solid;
  --mixin-k_8q1Ap42bs_border-left-width: 1px;
  --mixin-k_8q1Ap42bs_border-right-color: #dddddd;
  --mixin-k_8q1Ap42bs_border-right-style: solid;
  --mixin-k_8q1Ap42bs_border-right-width: 1px;
  --mixin-k_8q1Ap42bs_border-top-color: #dddddd;
  --mixin-k_8q1Ap42bs_border-top-style: solid;
  --mixin-k_8q1Ap42bs_border-top-width: 1px;
  --mixin-k_8q1Ap42bs_border-bottom-left-radius: 3px;
  --mixin-k_8q1Ap42bs_border-bottom-right-radius: 3px;
  --mixin-k_8q1Ap42bs_border-top-left-radius: 3px;
  --mixin-k_8q1Ap42bs_border-top-right-radius: 3px;
  --mixin-k_8q1Ap42bs_font-family: "Inconsolata";
  --mixin-k_8q1Ap42bs_padding-bottom: 1px;
  --mixin-k_8q1Ap42bs_padding-left: 4px;
  --mixin-k_8q1Ap42bs_padding-right: 4px;
  --mixin-k_8q1Ap42bs_padding-top: 1px;
  --mixin-k_8q1Ap42bs_white-space: pre-wrap;
  --mixin-xP9_lM7oDgC_font-family: "Inter", sans-serif;
  --mixin-xP9_lM7oDgC_color: #000000;
  --mixin-xP9_lM7oDgC_font-size: 20px;
  --mixin-xP9_lM7oDgC_font-weight: 600;
  --mixin-xP9_lM7oDgC_letter-spacing: -0.3px;
  --mixin-xP9_lM7oDgC_line-height: 1.5;
  --mixin-xP9_lM7oDgC_white-space: pre-wrap;
  --mixin-SbwUMmDknjR_font-family: "Inter", sans-serif;
  --mixin-SbwUMmDknjR_color: #000000;
  --mixin-SbwUMmDknjR_font-size: 16px;
  --mixin-SbwUMmDknjR_font-weight: 600;
  --mixin-SbwUMmDknjR_line-height: 1.5;
  --mixin-SbwUMmDknjR_white-space: pre-wrap;
  --mixin-hDNJqQHF1Sr_color: #3291ff;
  --mixin-hDNJqQHF1Sr_white-space: pre-wrap;
  --mixin-BMbWeRmUEPW_border-left-color: #dddddd;
  --mixin-BMbWeRmUEPW_border-left-style: solid;
  --mixin-BMbWeRmUEPW_border-left-width: 3px;
  --mixin-BMbWeRmUEPW_color: #888888;
  --mixin-BMbWeRmUEPW_padding-left: 10px;
  --mixin-BMbWeRmUEPW_white-space: pre-wrap;
  --mixin-3NtLG7V7RLX_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-3NtLG7V7RLX_border-bottom-color: #dddddd;
  --mixin-3NtLG7V7RLX_border-bottom-style: solid;
  --mixin-3NtLG7V7RLX_border-bottom-width: 1px;
  --mixin-3NtLG7V7RLX_border-left-color: #dddddd;
  --mixin-3NtLG7V7RLX_border-left-style: solid;
  --mixin-3NtLG7V7RLX_border-left-width: 1px;
  --mixin-3NtLG7V7RLX_border-right-color: #dddddd;
  --mixin-3NtLG7V7RLX_border-right-style: solid;
  --mixin-3NtLG7V7RLX_border-right-width: 1px;
  --mixin-3NtLG7V7RLX_border-top-color: #dddddd;
  --mixin-3NtLG7V7RLX_border-top-style: solid;
  --mixin-3NtLG7V7RLX_border-top-width: 1px;
  --mixin-3NtLG7V7RLX_border-bottom-left-radius: 3px;
  --mixin-3NtLG7V7RLX_border-bottom-right-radius: 3px;
  --mixin-3NtLG7V7RLX_border-top-left-radius: 3px;
  --mixin-3NtLG7V7RLX_border-top-right-radius: 3px;
  --mixin-3NtLG7V7RLX_font-family: "Inconsolata";
  --mixin-3NtLG7V7RLX_padding-bottom: 3px;
  --mixin-3NtLG7V7RLX_padding-left: 6px;
  --mixin-3NtLG7V7RLX_padding-right: 6px;
  --mixin-3NtLG7V7RLX_padding-top: 3px;
  --mixin-3NtLG7V7RLX_white-space: pre-wrap;
  --mixin-k7PEfNqc3LS_display: flex;
  --mixin-k7PEfNqc3LS_flex-direction: column;
  --mixin-k7PEfNqc3LS_align-items: stretch;
  --mixin-k7PEfNqc3LS_justify-content: flex-start;
  --mixin-k7PEfNqc3LS_list-style-position: outside;
  --mixin-k7PEfNqc3LS_padding-left: 40px;
  --mixin-k7PEfNqc3LS_position: relative;
  --mixin-k7PEfNqc3LS_list-style-type: decimal;
  --mixin-k7PEfNqc3LS_white-space: pre-wrap;
  --mixin-bA5RwBw3Rlq_display: flex;
  --mixin-bA5RwBw3Rlq_flex-direction: column;
  --mixin-bA5RwBw3Rlq_align-items: stretch;
  --mixin-bA5RwBw3Rlq_justify-content: flex-start;
  --mixin-bA5RwBw3Rlq_list-style-position: outside;
  --mixin-bA5RwBw3Rlq_padding-left: 40px;
  --mixin-bA5RwBw3Rlq_position: relative;
  --mixin-bA5RwBw3Rlq_list-style-type: disc;
  --mixin-bA5RwBw3Rlq_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
.root_reset {
  font-family: var(--mixin-KIzxF7SZdO_font-family);
  font-size: var(--mixin-KIzxF7SZdO_font-size);
  font-weight: var(--mixin-KIzxF7SZdO_font-weight);
  font-style: var(--mixin-KIzxF7SZdO_font-style);
  color: var(--mixin-KIzxF7SZdO_color);
  text-align: var(--mixin-KIzxF7SZdO_text-align);
  text-transform: var(--mixin-KIzxF7SZdO_text-transform);
  line-height: var(--mixin-KIzxF7SZdO_line-height);
  letter-spacing: var(--mixin-KIzxF7SZdO_letter-spacing);
  white-space: var(--mixin-KIzxF7SZdO_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset :global(.__wab_expr_html_text) h1),
:where(.root_reset.plasmic_default__h1) {
  font-family: var(--mixin-wrCcCT-6R1I_font-family);
  color: var(--mixin-wrCcCT-6R1I_color);
  font-size: var(--mixin-wrCcCT-6R1I_font-size);
  font-weight: var(--mixin-wrCcCT-6R1I_font-weight);
  letter-spacing: var(--mixin-wrCcCT-6R1I_letter-spacing);
  line-height: var(--mixin-wrCcCT-6R1I_line-height);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset :global(.__wab_expr_html_text) h2),
:where(.root_reset.plasmic_default__h2) {
  font-family: var(--mixin-c9BsxrkeG4w_font-family);
  color: var(--mixin-c9BsxrkeG4w_color);
  font-size: var(--mixin-c9BsxrkeG4w_font-size);
  font-weight: var(--mixin-c9BsxrkeG4w_font-weight);
  letter-spacing: var(--mixin-c9BsxrkeG4w_letter-spacing);
  line-height: var(--mixin-c9BsxrkeG4w_line-height);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset :global(.__wab_expr_html_text) a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-Kzkwb6YtCvp_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset :global(.__wab_expr_html_text) h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-NTL8mIjcbc__font-family);
  color: var(--mixin-NTL8mIjcbc__color);
  font-size: var(--mixin-NTL8mIjcbc__font-size);
  font-weight: var(--mixin-NTL8mIjcbc__font-weight);
  letter-spacing: var(--mixin-NTL8mIjcbc__letter-spacing);
  line-height: var(--mixin-NTL8mIjcbc__line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset :global(.__wab_expr_html_text) h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-ZsRCNAweqhb_font-family);
  color: var(--mixin-ZsRCNAweqhb_color);
  font-size: var(--mixin-ZsRCNAweqhb_font-size);
  font-weight: var(--mixin-ZsRCNAweqhb_font-weight);
  letter-spacing: var(--mixin-ZsRCNAweqhb_letter-spacing);
  line-height: var(--mixin-ZsRCNAweqhb_line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset :global(.__wab_expr_html_text) code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-k_8q1Ap42bs_background);
  font-family: var(--mixin-k_8q1Ap42bs_font-family);
  border-radius: var(--mixin-k_8q1Ap42bs_border-top-left-radius)
    var(--mixin-k_8q1Ap42bs_border-top-right-radius)
    var(--mixin-k_8q1Ap42bs_border-bottom-right-radius)
    var(--mixin-k_8q1Ap42bs_border-bottom-left-radius);
  padding: var(--mixin-k_8q1Ap42bs_padding-top)
    var(--mixin-k_8q1Ap42bs_padding-right)
    var(--mixin-k_8q1Ap42bs_padding-bottom)
    var(--mixin-k_8q1Ap42bs_padding-left);
  border-top: var(--mixin-k_8q1Ap42bs_border-top-width)
    var(--mixin-k_8q1Ap42bs_border-top-style)
    var(--mixin-k_8q1Ap42bs_border-top-color);
  border-right: var(--mixin-k_8q1Ap42bs_border-right-width)
    var(--mixin-k_8q1Ap42bs_border-right-style)
    var(--mixin-k_8q1Ap42bs_border-right-color);
  border-bottom: var(--mixin-k_8q1Ap42bs_border-bottom-width)
    var(--mixin-k_8q1Ap42bs_border-bottom-style)
    var(--mixin-k_8q1Ap42bs_border-bottom-color);
  border-left: var(--mixin-k_8q1Ap42bs_border-left-width)
    var(--mixin-k_8q1Ap42bs_border-left-style)
    var(--mixin-k_8q1Ap42bs_border-left-color);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset :global(.__wab_expr_html_text) h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-xP9_lM7oDgC_font-family);
  color: var(--mixin-xP9_lM7oDgC_color);
  font-size: var(--mixin-xP9_lM7oDgC_font-size);
  font-weight: var(--mixin-xP9_lM7oDgC_font-weight);
  letter-spacing: var(--mixin-xP9_lM7oDgC_letter-spacing);
  line-height: var(--mixin-xP9_lM7oDgC_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset :global(.__wab_expr_html_text) h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-SbwUMmDknjR_font-family);
  color: var(--mixin-SbwUMmDknjR_color);
  font-size: var(--mixin-SbwUMmDknjR_font-size);
  font-weight: var(--mixin-SbwUMmDknjR_font-weight);
  line-height: var(--mixin-SbwUMmDknjR_line-height);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset :global(.__wab_expr_html_text) a:hover),
:where(.root_reset.plasmic_default__a:hover) {
  color: var(--mixin-hDNJqQHF1Sr_color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset :global(.__wab_expr_html_text) blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-BMbWeRmUEPW_color);
  padding-left: var(--mixin-BMbWeRmUEPW_padding-left);
  border-left: var(--mixin-BMbWeRmUEPW_border-left-width)
    var(--mixin-BMbWeRmUEPW_border-left-style)
    var(--mixin-BMbWeRmUEPW_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset :global(.__wab_expr_html_text) pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-3NtLG7V7RLX_background);
  font-family: var(--mixin-3NtLG7V7RLX_font-family);
  border-radius: var(--mixin-3NtLG7V7RLX_border-top-left-radius)
    var(--mixin-3NtLG7V7RLX_border-top-right-radius)
    var(--mixin-3NtLG7V7RLX_border-bottom-right-radius)
    var(--mixin-3NtLG7V7RLX_border-bottom-left-radius);
  padding: var(--mixin-3NtLG7V7RLX_padding-top)
    var(--mixin-3NtLG7V7RLX_padding-right)
    var(--mixin-3NtLG7V7RLX_padding-bottom)
    var(--mixin-3NtLG7V7RLX_padding-left);
  border-top: var(--mixin-3NtLG7V7RLX_border-top-width)
    var(--mixin-3NtLG7V7RLX_border-top-style)
    var(--mixin-3NtLG7V7RLX_border-top-color);
  border-right: var(--mixin-3NtLG7V7RLX_border-right-width)
    var(--mixin-3NtLG7V7RLX_border-right-style)
    var(--mixin-3NtLG7V7RLX_border-right-color);
  border-bottom: var(--mixin-3NtLG7V7RLX_border-bottom-width)
    var(--mixin-3NtLG7V7RLX_border-bottom-style)
    var(--mixin-3NtLG7V7RLX_border-bottom-color);
  border-left: var(--mixin-3NtLG7V7RLX_border-left-width)
    var(--mixin-3NtLG7V7RLX_border-left-style)
    var(--mixin-3NtLG7V7RLX_border-left-color);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset :global(.__wab_expr_html_text) ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-k7PEfNqc3LS_display);
  flex-direction: var(--mixin-k7PEfNqc3LS_flex-direction);
  align-items: var(--mixin-k7PEfNqc3LS_align-items);
  justify-content: var(--mixin-k7PEfNqc3LS_justify-content);
  list-style-position: var(--mixin-k7PEfNqc3LS_list-style-position);
  padding-left: var(--mixin-k7PEfNqc3LS_padding-left);
  position: var(--mixin-k7PEfNqc3LS_position);
  list-style-type: var(--mixin-k7PEfNqc3LS_list-style-type);
  flex-column-gap: var(--mixin-k7PEfNqc3LS_flex-column-gap);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset :global(.__wab_expr_html_text) ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-bA5RwBw3Rlq_display);
  flex-direction: var(--mixin-bA5RwBw3Rlq_flex-direction);
  align-items: var(--mixin-bA5RwBw3Rlq_align-items);
  justify-content: var(--mixin-bA5RwBw3Rlq_justify-content);
  list-style-position: var(--mixin-bA5RwBw3Rlq_list-style-position);
  padding-left: var(--mixin-bA5RwBw3Rlq_padding-left);
  position: var(--mixin-bA5RwBw3Rlq_position);
  list-style-type: var(--mixin-bA5RwBw3Rlq_list-style-type);
  flex-column-gap: var(--mixin-bA5RwBw3Rlq_flex-column-gap);
}
