.root:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__p2Hdu {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__jkBz {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
