.screenSizeMenuItem
  display: flex
  align-items: center
  justify-content: space-between

.screenSizeDims
  display: inline-block
  background: rgba(0,0,0,.05)
  color: rgba(0,0,0,.3)
  padding: 0 6px
  border-radius: 3px
  margin-left: 20px
