@import "src/wab/styles/tokens";

$handleColor: #e8e8e8;
$handleColorHover: #d0d0d0;

.root {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.collapsedRoot {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  cursor: pointer;

  &:hover {
    background: rgba(0, 0, 0, 0.02);
  }
}

.collapsedArenaLabel {
  font-weight: bold;
  display: flex;
  align-items: center;
  font-size: 12px;

  & svg {
    opacity: 0.3;
  }
}

.collapsedCounter {
  color: $sand8;
}

.resizingHandle {
  width: 100%;
  height: 9px;
  cursor: ns-resize;
  position: relative;
  background: white;

  &::before /* line */ {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    height: 1px;
    width: 100%;
    background: $handleColor;
  }

  &::after /* handle */ {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 70px;
    height: 6px;
    border-radius: 99px;
    background: $handleColor;
    transition: all 200ms;
  }

  &:hover::after {
    background: $handleColorHover;
  }
}

.filterMenuItem {
  display: flex;
  align-items: center;

  & svg {
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }
}

.sectionHeader {
  height: 32px;
  display: flex;
  align-items: center;
  padding-left: 18px;
  color: $sand9;
}
