@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-tGvg_Oqrh5ZX: 0.75rem;
  --plasmic-token-size-12: var(--token-tGvg_Oqrh5ZX);
  --token-X0IVfIhfiTzv: Inter;
  --plasmic-token-sans-serif: var(--token-X0IVfIhfiTzv);
  --token-55IRPasxpzKM: 1rem;
  --plasmic-token-font-md: var(--token-55IRPasxpzKM);
  --token-1w8IT3oeGJv5: #030712;
  --plasmic-token-basic-text-primary: var(--token-1w8IT3oeGJv5);
  --token-nr1bJYbofPHH: 1.25;
  --plasmic-token-line-height-md: var(--token-nr1bJYbofPHH);
  --token-mi9FPRcV_03g: 0.5rem;
  --plasmic-token-size-8: var(--token-mi9FPRcV_03g);
  --token-pu6vKqOrV7ZS: 1rem;
  --plasmic-token-size-16: var(--token-pu6vKqOrV7ZS);
  --token-zzHUi_CqvjUW: #ffffff;
  --plasmic-token-basic-container-background: var(--token-zzHUi_CqvjUW);
  --token-XDuAAFpbQ_A_: #2563eb;
  --plasmic-token-brand-brand: var(--token-XDuAAFpbQ_A_);
  --token-mql6RnHdqnRx: 0.375rem;
  --plasmic-token-size-6: var(--token-mql6RnHdqnRx);
  --token-3hoy4wZDUfcy: #374151;
  --plasmic-token-neutral-neutral: var(--token-3hoy4wZDUfcy);
  --token-zGk7s0mjAV2B: #dc2626;
  --plasmic-token-destructive-destructive: var(--token-zGk7s0mjAV2B);
  --token-gawbYa9qSL97: #6b7280;
  --plasmic-token-muted-muted: var(--token-gawbYa9qSL97);
  --token-8lBUgSNXuxBZ: 0.25rem;
  --plasmic-token-size-4: var(--token-8lBUgSNXuxBZ);
  --token-A0Cg7LpJPdae: 0.75rem;
  --plasmic-token-font-sm: var(--token-A0Cg7LpJPdae);
  --token-TxckqK7aktpC: 1;
  --plasmic-token-line-height-sm: var(--token-TxckqK7aktpC);
  --token-AKSq1xrHT0jt: 1.25rem;
  --plasmic-token-font-lg: var(--token-AKSq1xrHT0jt);
  --token-Nzkidf0lbC25: 1.4;
  --plasmic-token-line-height-lg: var(--token-Nzkidf0lbC25);
  --token-DOKolAoo5sTj: 0.125rem;
  --plasmic-token-size-2: var(--token-DOKolAoo5sTj);
  --token-ac6tmijHwadP: #16a34a;
  --plasmic-token-success-success: var(--token-ac6tmijHwadP);
  --token-FbcyfAUrw1an: #facc15;
  --plasmic-token-warning-warning: var(--token-FbcyfAUrw1an);
  --token-4vsFJW2n8ueo: #dbeafe;
  --plasmic-token-brand-brand-soft: var(--token-4vsFJW2n8ueo);
  --token-SIZQUvV429BM: #e5e7eb;
  --plasmic-token-neutral-neutral-soft: var(--token-SIZQUvV429BM);
  --token-sg79W52BaKjK: #f3f4f6;
  --plasmic-token-muted-muted-soft: var(--token-sg79W52BaKjK);
  --token-FpBVB3Fclrk5: #dcfce7;
  --plasmic-token-success-success-soft: var(--token-FpBVB3Fclrk5);
  --token-XS-uQe4XZAta: #fef9c3;
  --plasmic-token-warning-warning-soft: var(--token-XS-uQe4XZAta);
  --token-wtbzVAY46Tmz: #fee2e2;
  --plasmic-token-destructive-destructive-soft: var(--token-wtbzVAY46Tmz);
  --token-uuMcFQdAHpXq: #93c5fd;
  --plasmic-token-brand-brand-border: var(--token-uuMcFQdAHpXq);
  --token-djdhaI5IslhG: #d1d5db;
  --plasmic-token-neutral-neutral-border: var(--token-djdhaI5IslhG);
  --token-66i9qu83C8O5: #e5e7eb;
  --plasmic-token-muted-muted-border: var(--token-66i9qu83C8O5);
  --token-uPyfNDhAOYBq: #86efac;
  --plasmic-token-success-success-border: var(--token-uPyfNDhAOYBq);
  --token-5D2pYXAgOCsW: #fde047;
  --plasmic-token-warning-warning-border: var(--token-5D2pYXAgOCsW);
  --token-TCeiLWpNEbo6: #fca5a5;
  --plasmic-token-destructive-destructive-border: var(--token-TCeiLWpNEbo6);
  --token-WVECqyUGz8OB: #0000001a;
  --plasmic-token-interaction-hovered: var(--token-WVECqyUGz8OB);
  --token-GQ5KWRbTnml2: #ffffff40;
  --plasmic-token-interaction-disabled: var(--token-GQ5KWRbTnml2);
  --token-uhMLFH5kxKYW: #00000033;
  --plasmic-token-interaction-pressed: var(--token-uhMLFH5kxKYW);
  --token-228iKKhRk-Ei: 0.625rem;
  --plasmic-token-size-10: var(--token-228iKKhRk-Ei);
  --token-8fVXixNyv2RV: #eff6ff;
  --plasmic-token-brand-brand-foreground: var(--token-8fVXixNyv2RV);
  --token-qNKUOZh0i17e: #f9fafb;
  --plasmic-token-neutral-neutral-foreground: var(--token-qNKUOZh0i17e);
  --token-ly_uCTATj_uf: #e5e7eb;
  --plasmic-token-muted-muted-foreground: var(--token-ly_uCTATj_uf);
  --token-Gf6efrS0g5gq: #1e3a8a;
  --plasmic-token-brand-brand-soft-foreground: var(--token-Gf6efrS0g5gq);
  --token-tVFTstsN6ahi: #422006;
  --plasmic-token-warning-warning-foreground: var(--token-tVFTstsN6ahi);
  --token-mNg40qocQLE1: #f0fdf4;
  --plasmic-token-success-success-foreground: var(--token-mNg40qocQLE1);
  --token-oE03e6jC6Mx3: #fef2f2;
  --plasmic-token-destructive-destructive-foreground: var(--token-oE03e6jC6Mx3);
  --token-ewevznWxvl9h: #111827;
  --plasmic-token-neutral-neutral-soft-foreground: var(--token-ewevznWxvl9h);
  --token-SY4XiVEAZwKx: #6b7280;
  --plasmic-token-muted-muted-soft-foreground: var(--token-SY4XiVEAZwKx);
  --token-USdJ06i4rfZv: #14532d;
  --plasmic-token-success-success-soft-foreground: var(--token-USdJ06i4rfZv);
  --token-6Zp1HSNw7Ybm: #713f12;
  --plasmic-token-warning-warning-soft-foreground: var(--token-6Zp1HSNw7Ybm);
  --token-bcHW7otgIinM: #7f1d1d;
  --plasmic-token-destructive-destructive-soft-foreground: var(
    --token-bcHW7otgIinM
  );
  --token-weplVryPJBoS: #171717;
  --plasmic-token-basic-container-background-dark: var(--token-weplVryPJBoS);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-4Iv0wi3Lf_t3_font-family: "Inter", sans-serif;
  --mixin-4Iv0wi3Lf_t3_font-size: 16px;
  --mixin-4Iv0wi3Lf_t3_font-weight: 400;
  --mixin-4Iv0wi3Lf_t3_font-style: normal;
  --mixin-4Iv0wi3Lf_t3_color: #535353;
  --mixin-4Iv0wi3Lf_t3_text-align: left;
  --mixin-4Iv0wi3Lf_t3_text-transform: none;
  --mixin-4Iv0wi3Lf_t3_line-height: 1.5;
  --mixin-4Iv0wi3Lf_t3_letter-spacing: normal;
  --mixin-4Iv0wi3Lf_t3_white-space: pre-wrap;
  --mixin-4Iv0wi3Lf_t3_user-select: text;
  --mixin-4Iv0wi3Lf_t3_text-decoration-line: none;
  --mixin-4Iv0wi3Lf_t3_text-overflow: clip;
  --mixin-UeuPO4M3pjpE_color: #000000;
  --mixin-UeuPO4M3pjpE_font-weight: 700;
  --mixin-UeuPO4M3pjpE_font-size: 64px;
  --mixin-UeuPO4M3pjpE_line-height: 1;
  --mixin-UeuPO4M3pjpE_letter-spacing: -1px;
  --mixin-UeuPO4M3pjpE_white-space: pre-wrap;
  --mixin-stbqUTbgJ_Yk_color: #000000;
  --mixin-stbqUTbgJ_Yk_font-size: 48px;
  --mixin-stbqUTbgJ_Yk_font-weight: 700;
  --mixin-stbqUTbgJ_Yk_letter-spacing: -0.5px;
  --mixin-stbqUTbgJ_Yk_line-height: 1.1;
  --mixin-stbqUTbgJ_Yk_white-space: pre-wrap;
  --mixin-mYQYIVCVN04X_color: #0070f3;
  --mixin-mYQYIVCVN04X_white-space: pre-wrap;
  --mixin-MZ06ltI8wvpL_color: #000000;
  --mixin-MZ06ltI8wvpL_font-size: 32px;
  --mixin-MZ06ltI8wvpL_font-weight: 600;
  --mixin-MZ06ltI8wvpL_line-height: 1.2;
  --mixin-MZ06ltI8wvpL_white-space: pre-wrap;
  --mixin-GzfjQaE5Vyll_color: #000000;
  --mixin-GzfjQaE5Vyll_font-size: 24px;
  --mixin-GzfjQaE5Vyll_font-weight: 600;
  --mixin-GzfjQaE5Vyll_line-height: 1.3;
  --mixin-GzfjQaE5Vyll_white-space: pre-wrap;
  --mixin-o-GZPLI7XEbB_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-o-GZPLI7XEbB_border-bottom-color: #dddddd;
  --mixin-o-GZPLI7XEbB_border-bottom-style: solid;
  --mixin-o-GZPLI7XEbB_border-bottom-width: 1px;
  --mixin-o-GZPLI7XEbB_border-left-color: #dddddd;
  --mixin-o-GZPLI7XEbB_border-left-style: solid;
  --mixin-o-GZPLI7XEbB_border-left-width: 1px;
  --mixin-o-GZPLI7XEbB_border-right-color: #dddddd;
  --mixin-o-GZPLI7XEbB_border-right-style: solid;
  --mixin-o-GZPLI7XEbB_border-right-width: 1px;
  --mixin-o-GZPLI7XEbB_border-top-color: #dddddd;
  --mixin-o-GZPLI7XEbB_border-top-style: solid;
  --mixin-o-GZPLI7XEbB_border-top-width: 1px;
  --mixin-o-GZPLI7XEbB_border-bottom-left-radius: 3px;
  --mixin-o-GZPLI7XEbB_border-bottom-right-radius: 3px;
  --mixin-o-GZPLI7XEbB_border-top-left-radius: 3px;
  --mixin-o-GZPLI7XEbB_border-top-right-radius: 3px;
  --mixin-o-GZPLI7XEbB_font-family: "Inconsolata";
  --mixin-o-GZPLI7XEbB_padding-bottom: 1px;
  --mixin-o-GZPLI7XEbB_padding-left: 4px;
  --mixin-o-GZPLI7XEbB_padding-right: 4px;
  --mixin-o-GZPLI7XEbB_padding-top: 1px;
  --mixin-o-GZPLI7XEbB_white-space: pre-wrap;
  --mixin-ryVSUVWUv8mt_border-left-color: #dddddd;
  --mixin-ryVSUVWUv8mt_border-left-style: solid;
  --mixin-ryVSUVWUv8mt_border-left-width: 3px;
  --mixin-ryVSUVWUv8mt_color: #888888;
  --mixin-ryVSUVWUv8mt_padding-left: 10px;
  --mixin-ryVSUVWUv8mt_white-space: pre-wrap;
  --mixin-Z65t30q9KFBK_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-Z65t30q9KFBK_border-bottom-color: #dddddd;
  --mixin-Z65t30q9KFBK_border-bottom-style: solid;
  --mixin-Z65t30q9KFBK_border-bottom-width: 1px;
  --mixin-Z65t30q9KFBK_border-left-color: #dddddd;
  --mixin-Z65t30q9KFBK_border-left-style: solid;
  --mixin-Z65t30q9KFBK_border-left-width: 1px;
  --mixin-Z65t30q9KFBK_border-right-color: #dddddd;
  --mixin-Z65t30q9KFBK_border-right-style: solid;
  --mixin-Z65t30q9KFBK_border-right-width: 1px;
  --mixin-Z65t30q9KFBK_border-top-color: #dddddd;
  --mixin-Z65t30q9KFBK_border-top-style: solid;
  --mixin-Z65t30q9KFBK_border-top-width: 1px;
  --mixin-Z65t30q9KFBK_border-bottom-left-radius: 3px;
  --mixin-Z65t30q9KFBK_border-bottom-right-radius: 3px;
  --mixin-Z65t30q9KFBK_border-top-left-radius: 3px;
  --mixin-Z65t30q9KFBK_border-top-right-radius: 3px;
  --mixin-Z65t30q9KFBK_font-family: "Inconsolata";
  --mixin-Z65t30q9KFBK_padding-bottom: 3px;
  --mixin-Z65t30q9KFBK_padding-left: 6px;
  --mixin-Z65t30q9KFBK_padding-right: 6px;
  --mixin-Z65t30q9KFBK_padding-top: 3px;
  --mixin-Z65t30q9KFBK_white-space: pre-wrap;
  --mixin-_kWAGtTv9iwm_display: flex;
  --mixin-_kWAGtTv9iwm_flex-direction: column;
  --mixin-_kWAGtTv9iwm_align-items: stretch;
  --mixin-_kWAGtTv9iwm_justify-content: flex-start;
  --mixin-_kWAGtTv9iwm_list-style-position: outside;
  --mixin-_kWAGtTv9iwm_padding-left: 40px;
  --mixin-_kWAGtTv9iwm_position: relative;
  --mixin-_kWAGtTv9iwm_list-style-type: disc;
  --mixin-_kWAGtTv9iwm_white-space: pre-wrap;
  --mixin-B-9mvFih0mLA_display: flex;
  --mixin-B-9mvFih0mLA_flex-direction: column;
  --mixin-B-9mvFih0mLA_align-items: stretch;
  --mixin-B-9mvFih0mLA_justify-content: flex-start;
  --mixin-B-9mvFih0mLA_list-style-position: outside;
  --mixin-B-9mvFih0mLA_padding-left: 40px;
  --mixin-B-9mvFih0mLA_position: relative;
  --mixin-B-9mvFih0mLA_list-style-type: decimal;
  --mixin-B-9mvFih0mLA_white-space: pre-wrap;
  --mixin-Q4jhmh-O9034_color: #000000;
  --mixin-Q4jhmh-O9034_font-size: 20px;
  --mixin-Q4jhmh-O9034_font-weight: 600;
  --mixin-Q4jhmh-O9034_line-height: 1.5;
  --mixin-Q4jhmh-O9034_white-space: pre-wrap;
  --mixin-5PGIpPObtZ8T_color: #000000;
  --mixin-5PGIpPObtZ8T_font-size: 16px;
  --mixin-5PGIpPObtZ8T_font-weight: 600;
  --mixin-5PGIpPObtZ8T_line-height: 1.5;
  --mixin-5PGIpPObtZ8T_white-space: pre-wrap;
  --mixin-IaJ77XCOrgaf_color: #3291ff;
  --mixin-IaJ77XCOrgaf_white-space: pre-wrap;
  --mixin-Nh11pbFxVuPx_white-space: pre-wrap;
  --mixin-9YbhRz8GgicB_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-4Iv0wi3Lf_t3_font-family);
  font-size: var(--mixin-4Iv0wi3Lf_t3_font-size);
  font-weight: var(--mixin-4Iv0wi3Lf_t3_font-weight);
  font-style: var(--mixin-4Iv0wi3Lf_t3_font-style);
  color: var(--mixin-4Iv0wi3Lf_t3_color);
  text-align: var(--mixin-4Iv0wi3Lf_t3_text-align);
  text-transform: var(--mixin-4Iv0wi3Lf_t3_text-transform);
  line-height: var(--mixin-4Iv0wi3Lf_t3_line-height);
  letter-spacing: var(--mixin-4Iv0wi3Lf_t3_letter-spacing);
  white-space: var(--mixin-4Iv0wi3Lf_t3_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-UeuPO4M3pjpE_color);
  font-weight: var(--mixin-UeuPO4M3pjpE_font-weight);
  font-size: var(--mixin-UeuPO4M3pjpE_font-size);
  line-height: var(--mixin-UeuPO4M3pjpE_line-height);
  letter-spacing: var(--mixin-UeuPO4M3pjpE_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-stbqUTbgJ_Yk_color);
  font-size: var(--mixin-stbqUTbgJ_Yk_font-size);
  font-weight: var(--mixin-stbqUTbgJ_Yk_font-weight);
  letter-spacing: var(--mixin-stbqUTbgJ_Yk_letter-spacing);
  line-height: var(--mixin-stbqUTbgJ_Yk_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-mYQYIVCVN04X_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-MZ06ltI8wvpL_color);
  font-size: var(--mixin-MZ06ltI8wvpL_font-size);
  font-weight: var(--mixin-MZ06ltI8wvpL_font-weight);
  line-height: var(--mixin-MZ06ltI8wvpL_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-GzfjQaE5Vyll_color);
  font-size: var(--mixin-GzfjQaE5Vyll_font-size);
  font-weight: var(--mixin-GzfjQaE5Vyll_font-weight);
  line-height: var(--mixin-GzfjQaE5Vyll_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-o-GZPLI7XEbB_font-family);
  border-radius: var(--mixin-o-GZPLI7XEbB_border-top-left-radius)
    var(--mixin-o-GZPLI7XEbB_border-top-right-radius)
    var(--mixin-o-GZPLI7XEbB_border-bottom-right-radius)
    var(--mixin-o-GZPLI7XEbB_border-bottom-left-radius);
  padding: var(--mixin-o-GZPLI7XEbB_padding-top)
    var(--mixin-o-GZPLI7XEbB_padding-right)
    var(--mixin-o-GZPLI7XEbB_padding-bottom)
    var(--mixin-o-GZPLI7XEbB_padding-left);
  border-top: var(--mixin-o-GZPLI7XEbB_border-top-width)
    var(--mixin-o-GZPLI7XEbB_border-top-style)
    var(--mixin-o-GZPLI7XEbB_border-top-color);
  border-right: var(--mixin-o-GZPLI7XEbB_border-right-width)
    var(--mixin-o-GZPLI7XEbB_border-right-style)
    var(--mixin-o-GZPLI7XEbB_border-right-color);
  border-bottom: var(--mixin-o-GZPLI7XEbB_border-bottom-width)
    var(--mixin-o-GZPLI7XEbB_border-bottom-style)
    var(--mixin-o-GZPLI7XEbB_border-bottom-color);
  border-left: var(--mixin-o-GZPLI7XEbB_border-left-width)
    var(--mixin-o-GZPLI7XEbB_border-left-style)
    var(--mixin-o-GZPLI7XEbB_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-ryVSUVWUv8mt_color);
  padding-left: var(--mixin-ryVSUVWUv8mt_padding-left);
  border-left: var(--mixin-ryVSUVWUv8mt_border-left-width)
    var(--mixin-ryVSUVWUv8mt_border-left-style)
    var(--mixin-ryVSUVWUv8mt_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-Z65t30q9KFBK_font-family);
  border-radius: var(--mixin-Z65t30q9KFBK_border-top-left-radius)
    var(--mixin-Z65t30q9KFBK_border-top-right-radius)
    var(--mixin-Z65t30q9KFBK_border-bottom-right-radius)
    var(--mixin-Z65t30q9KFBK_border-bottom-left-radius);
  padding: var(--mixin-Z65t30q9KFBK_padding-top)
    var(--mixin-Z65t30q9KFBK_padding-right)
    var(--mixin-Z65t30q9KFBK_padding-bottom)
    var(--mixin-Z65t30q9KFBK_padding-left);
  border-top: var(--mixin-Z65t30q9KFBK_border-top-width)
    var(--mixin-Z65t30q9KFBK_border-top-style)
    var(--mixin-Z65t30q9KFBK_border-top-color);
  border-right: var(--mixin-Z65t30q9KFBK_border-right-width)
    var(--mixin-Z65t30q9KFBK_border-right-style)
    var(--mixin-Z65t30q9KFBK_border-right-color);
  border-bottom: var(--mixin-Z65t30q9KFBK_border-bottom-width)
    var(--mixin-Z65t30q9KFBK_border-bottom-style)
    var(--mixin-Z65t30q9KFBK_border-bottom-color);
  border-left: var(--mixin-Z65t30q9KFBK_border-left-width)
    var(--mixin-Z65t30q9KFBK_border-left-style)
    var(--mixin-Z65t30q9KFBK_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-_kWAGtTv9iwm_display);
  flex-direction: var(--mixin-_kWAGtTv9iwm_flex-direction);
  align-items: var(--mixin-_kWAGtTv9iwm_align-items);
  justify-content: var(--mixin-_kWAGtTv9iwm_justify-content);
  list-style-position: var(--mixin-_kWAGtTv9iwm_list-style-position);
  padding-left: var(--mixin-_kWAGtTv9iwm_padding-left);
  position: var(--mixin-_kWAGtTv9iwm_position);
  list-style-type: var(--mixin-_kWAGtTv9iwm_list-style-type);
  flex-column-gap: var(--mixin-_kWAGtTv9iwm_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-B-9mvFih0mLA_display);
  flex-direction: var(--mixin-B-9mvFih0mLA_flex-direction);
  align-items: var(--mixin-B-9mvFih0mLA_align-items);
  justify-content: var(--mixin-B-9mvFih0mLA_justify-content);
  list-style-position: var(--mixin-B-9mvFih0mLA_list-style-position);
  padding-left: var(--mixin-B-9mvFih0mLA_padding-left);
  position: var(--mixin-B-9mvFih0mLA_position);
  list-style-type: var(--mixin-B-9mvFih0mLA_list-style-type);
  flex-column-gap: var(--mixin-B-9mvFih0mLA_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-Q4jhmh-O9034_color);
  font-size: var(--mixin-Q4jhmh-O9034_font-size);
  font-weight: var(--mixin-Q4jhmh-O9034_font-weight);
  line-height: var(--mixin-Q4jhmh-O9034_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-5PGIpPObtZ8T_color);
  font-size: var(--mixin-5PGIpPObtZ8T_font-size);
  font-weight: var(--mixin-5PGIpPObtZ8T_font-weight);
  line-height: var(--mixin-5PGIpPObtZ8T_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-IaJ77XCOrgaf_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
