.root {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  background: var(--token-iR8SeEwQZ);
  min-width: 0;
  min-height: 0;
}
.cmsModelsList:global(.__wab_instance) {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 200px;
  min-width: 0;
  min-height: 0;
}
.cmsModelItem__giYjr:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.cmsModelItem__n4VSd:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.cmsModelItem__ghavn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.cmsModelItem___86ZmB:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.cmsModelDetails:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
