.root {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  background: var(--token-iR8SeEwQZ);
  min-width: 0;
  padding: 9px 12px;
  border-bottom: 1px solid var(--token-bV4cCeIniS6);
}
.left {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.left > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.left > :global(.__wab_flex-container) > *,
.left > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.left > :global(.__wab_flex-container) > picture > img,
.left > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 16px;
}
.link {
  position: relative;
  display: flex;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 32px;
  color: var(--token-eBt2ZgqRUCz);
  flex-shrink: 0;
}
.cmsName:global(.__wab_instance) {
  position: relative;
}
.cmsNameValue {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.25;
}
.svg__iTnGo {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  color: var(--token-UunsGa2Y3t3);
  height: 1em;
}
.middle {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.right {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
