.root {
  display: inline-flex;
  position: relative;
  width: auto;
  height: 100%;
  background: var(--token-iR8SeEwQZ);
  flex-direction: column;
  min-height: 0;
  padding: 0.5rem;
  border-right: 1px solid var(--token-bV4cCeIniS6);
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  min-height: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 8px;
}
.contentButton:global(.__wab_instance) {
  position: relative;
}
.svg__mjTw {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__z0YBt {
  display: flex;
  position: relative;
  object-fit: cover;
  height: 1em;
}
.schemaButton:global(.__wab_instance) {
  position: relative;
}
.svg__ex3Ca {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__wqIku {
  display: flex;
  position: relative;
  object-fit: cover;
  height: 1em;
}
.listSectionSeparator:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.settingsButton:global(.__wab_instance) {
  position: relative;
}
.svg__dp75 {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__ig9Wi {
  display: flex;
  position: relative;
  object-fit: cover;
  height: 1em;
}
