.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  max-width: 100%;
  border-right: 1px solid var(--token-hoA5qaM-91G);
}
.freeBox__dprWy {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  row-gap: 8px;
  min-width: 0;
  padding: 0.75rem;
}
.freeBox__mh5S4 {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
}
.text__li4C4 {
  font-weight: 600;
  padding: 0.5rem;
}
.addModelButton:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-left: auto;
}
.addModelButtonisSchemaMode:global(.__wab_instance) {
  display: flex;
}
.svg__dfi0C {
  display: flex;
  position: relative;
  object-fit: cover;
  height: 1em;
}
.svg__bpAt0 {
  display: flex;
  position: relative;
  object-fit: cover;
  height: 1em;
}
.freeBox___73Lo {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.searchInput:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__tBrpA {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  overflow: auto;
  row-gap: 4px;
  min-height: 0;
}
.cmsModelItem__jv1Xp:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
.cmsModelItem__lfM0I:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
.text__vg3D3 {
  font-size: 11px;
  line-height: 1.5;
  position: relative;
  color: var(--token-UunsGa2Y3t3);
  display: none;
  padding: 0.5rem;
}
.textisEmpty__vg3D36X5Ho {
  display: block;
}
.archivedModelsSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.archivedModelsSectionhasArchivedModels:global(.__wab_instance) {
  display: flex;
}
.text__r8NEf {
  color: var(--token-0IloF6TmFvF);
}
.freeBox___0Dez {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 8px;
  min-width: 0;
  padding: 0.75rem;
}
.freeBox__rIsR7 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  overflow: auto;
  row-gap: 4px;
  min-height: 0;
}
.cmsModelItem__zXyI:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
.cmsModelItem__bha17:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
.text__tFwPn {
  font-size: 11px;
  line-height: 1.5;
  position: relative;
  color: var(--token-UunsGa2Y3t3);
  display: none;
  padding: 0.5rem;
}
.textisEmpty__tFwPn6X5Ho {
  display: block;
}
