.root {
  display: flex;
  position: relative;
  flex-direction: column;
  row-gap: 8px;
  padding: 0.75rem;
  border-right: 1px solid var(--token-hoA5qaM-91G);
}
.freeBox___7Bhda {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 32px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox___0Ic4Y {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
}
.slotTargetModelName {
  font-weight: 500;
  text-transform: uppercase;
}
.addButton:global(.__wab_instance) {
  position: relative;
  margin-left: auto;
}
.svg__cpJ1M {
  display: flex;
  position: relative;
  object-fit: cover;
  height: 1em;
}
.svg___9ChP6 {
  display: flex;
  position: relative;
  object-fit: cover;
  height: 1em;
}
.freeBox__hQjfP {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.searchInput:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.sortButton:global(.__wab_instance) {
  max-width: 100%;
  margin-left: auto;
}
.svg {
  display: flex;
  position: relative;
  object-fit: cover;
  height: 1em;
}
.svg___1UfG5 {
  display: flex;
  position: relative;
  object-fit: cover;
  height: 1em;
}
.freeBox__zdChF {
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: auto;
  row-gap: 4px;
}
.cmsEntryItem__gdUiu:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.cmsEntryItem___08HPe:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-UunsGa2Y3t3);
  min-width: 0;
  display: none;
  padding: 8px;
}
.textisEmpty {
  display: block;
}
