.root {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  column-gap: 10px;
  min-width: 0;
}
.leftContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  min-width: 0;
}
.rightContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  min-width: 0;
}
