.TextStylePanel__root___7HHif {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  flex-direction: column;
}
.TextStylePanel__listSectionHeader__vPk1G.__wab_instance {
  position: relative;
}
.TextStylePanel__svg__dkp4M {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: rgb(150, 153, 158) /* plasmic-token: exDXgkOG-ykrR */;
}
.TextStylePanel__iconButton__rklQx.__wab_instance {
  position: relative;
}
.TextStylePanel__svg__yw78S {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  height: 16px;
}
.TextStylePanel__body__hnuWe {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding-left: 16px;
  padding-right: 8px;
}
.TextStylePanel__colorItem__dObA.__wab_instance {
  position: relative;
}
.TextStylePanel__colorControl__xfpmK.__wab_instance {
  position: relative;
}
.TextStylePanel__fontFamilyItem__m6Vt.__wab_instance {
  position: relative;
}
.TextStylePanel__fontFamilyControl__s2UMg.__wab_instance {
  position: relative;
}
.TextStylePanel__styleSelectOption__xmOj9.__wab_instance {
  position: relative;
}
.TextStylePanel__styleSelectOption__ubxi7.__wab_instance {
  position: relative;
}
.TextStylePanel__styleSelectOption__cYu4.__wab_instance {
  position: relative;
}
.TextStylePanel__splitRow__wnMij.__wab_instance {
  position: relative;
}
.TextStylePanel__fontSizeControl___7EJ42.__wab_instance {
  position: relative;
}
.TextStylePanel__chip__u5F9.__wab_instance {
  position: relative;
}
.TextStylePanel__chip__gZpeg.__wab_instance {
  position: relative;
}
.TextStylePanel__textDecorationLineItem___4DjvE.__wab_instance {
  position: relative;
}
.TextStylePanel__textDecorationLineControl__w7BmR.__wab_instance {
  position: relative;
}
.TextStylePanel__styleToggleButton__xe0Z.__wab_instance {
  position: relative;
}
.TextStylePanel__svg___7DhXk {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.TextStylePanel__styleToggleButton__iKzkQ.__wab_instance {
  position: relative;
}
.TextStylePanel__svg__w4Nyf {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.TextStylePanel__styleToggleButton__lNuP.__wab_instance {
  position: relative;
}
.TextStylePanel__svg___9I1Ar {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.TextStylePanel__splitRow__ifOyp.__wab_instance {
  position: relative;
}
.TextStylePanel__fontWeightControl___8Q6D4.__wab_instance {
  position: relative;
}
.TextStylePanel__chip__n0JQe.__wab_instance {
  position: relative;
}
.TextStylePanel__chip__hTFx.__wab_instance {
  position: relative;
}
.TextStylePanel__fontStyleItem___30ZhA.__wab_instance {
  position: relative;
}
.TextStylePanel__fontStyleControl__k8QkU.__wab_instance {
  position: relative;
}
.TextStylePanel__styleToggleButton___3Q71J.__wab_instance {
  position: relative;
}
.TextStylePanel__svg__sx1Qo {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.TextStylePanel__styleToggleButton__z4T5L.__wab_instance {
  position: relative;
}
.TextStylePanel__svg___883DP {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.TextStylePanel__splitRow__jCZq.__wab_instance {
  position: relative;
}
.TextStylePanel__svg__pOrdY {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.TextStylePanel__lineHeightControl__liQwz.__wab_instance {
  position: relative;
}
.TextStylePanel__chip__tcXaU.__wab_instance {
  position: relative;
}
.TextStylePanel__chip__iGk1A.__wab_instance {
  position: relative;
}
.TextStylePanel__textAlignItem__ggP0I.__wab_instance {
  position: relative;
}
.TextStylePanel__textAlignControl__tCSE.__wab_instance {
  position: relative;
}
.TextStylePanel__styleToggleButton__fPgmp.__wab_instance {
  position: relative;
}
.TextStylePanel__svg__pX26 {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.TextStylePanel__styleToggleButton___6IscX.__wab_instance {
  position: relative;
}
.TextStylePanel__svg__lgGqs {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.TextStylePanel__styleToggleButton__g1Sus.__wab_instance {
  position: relative;
}
.TextStylePanel__svg___7Yezl {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.TextStylePanel__styleToggleButton___0GaWe.__wab_instance {
  position: relative;
}
.TextStylePanel__svg__gIl9G {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.TextStylePanel__expandedSection__jupvr {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.TextStylePanel__listSectionSeparator__vNws.__wab_instance {
  position: relative;
  margin: 4px 0px;
}
.TextStylePanel__splitRow__sHwCo.__wab_instance {
  position: relative;
}
.TextStylePanel__letterSpacingItem__iutdt.__wab_instance {
  position: relative;
}
.TextStylePanel__svg__toFnz {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.TextStylePanel__chip__jy9Jc.__wab_instance {
  position: relative;
}
.TextStylePanel__chip__m2TOb.__wab_instance {
  position: relative;
}
.TextStylePanel__textTransformItem__tg3.__wab_instance {
  position: relative;
}
.TextStylePanel__textTransformControl__irDr.__wab_instance {
  position: relative;
  width: 100%;
}
.TextStylePanel__styleToggleButton__qbVyZ.__wab_instance {
  position: relative;
}
.TextStylePanel__svg__tjhCi {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.TextStylePanel__styleToggleButton__fWiJw.__wab_instance {
  position: relative;
}
.TextStylePanel__svg__hpccF {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.TextStylePanel__styleToggleButton___7KsHz.__wab_instance {
  position: relative;
}
.TextStylePanel__svg__q8Mxv {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.TextStylePanel__styleToggleButton__nyxUj.__wab_instance {
  position: relative;
}
.TextStylePanel__svg__usgtQ {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.TextStylePanel__splitRow__livhj.__wab_instance {
  position: relative;
}
.TextStylePanel__whiteSpaceItem__tTmIa.__wab_instance {
  position: relative;
}
.TextStylePanel__whiteSpaceControl__dBn0I.__wab_instance {
  position: relative;
}
.TextStylePanel__textOverflowItem__kSzgP.__wab_instance {
  position: relative;
}
.TextStylePanel__textOverflowControl__xAlZ6.__wab_instance {
  position: relative;
}
.TextStylePanel__styleToggleButton__yqQgd.__wab_instance {
  position: relative;
}
.TextStylePanel__svg__goTYg {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.TextStylePanel__styleToggleButton__k54.__wab_instance {
  position: relative;
}
.TextStylePanel__svg__wyvu8 {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.TextStylePanel__styleToggleButton__sIbqf.__wab_instance {
  position: relative;
}
.TextStylePanel__svg___800Zg {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.TextStylePanel__splitRow__a0Wwv.__wab_instance {
  position: relative;
}
.TextStylePanel__textIndentItem___6SEvv.__wab_instance {
  position: relative;
}
.TextStylePanel__chip__rfB78.__wab_instance {
  position: relative;
}
.TextStylePanel__chip__qAJrU.__wab_instance {
  position: relative;
}
.TextStylePanel__userSelectItem__nWlzD.__wab_instance {
  position: relative;
}
.TextStylePanel__userSelectControl__kTg8W.__wab_instance {
  position: relative;
}
.TextStylePanel__styleSelectOption___2JfFd.__wab_instance {
  position: relative;
}
.TextStylePanel__styleSelectOption___6Ekdv.__wab_instance {
  position: relative;
}
.TextStylePanel__styleSelectOption__bd8W.__wab_instance {
  position: relative;
}
