@import "src/wab/styles/tokens";

.invisible {
  display: none !important;
}

.overlayRoot {
  max-height: 35vh !important;
  margin-left: 3px;
}

.emptyResultsMessage {
  padding: 40px;
  text-align: center;
  color: $sand10;
}

.reducedTopSpacingSearchField {
  margin-top: -8px;
}

.listGroupSeparator {
  margin-top: 10px;

  &:last-child {
    display: none;
  }
}
