.root:global(.__wab_instance) {
  object-fit: cover;
  display: flex;
  flex-direction: column;
  outline-style: none;
  background: var(--token-rqQDmopteQdV);
  border-radius: var(--token-8b4HJYZr1yuK);
  border: 1px solid var(--token-CE-OiWjNhspe);
}
.text__yugkh {
  padding: var(--token-O2OprmOFWLju) var(--token-8b4HJYZr1yuK);
}
.listSectionSeparator__ib9Q:global(.__wab_instance) {
  animation: none;
  display: none;
}
.listSectionSeparatorshow_header__ib9Q9B6S6:global(.__wab_instance) {
  display: flex;
}
.scrollableContent {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  overflow: auto;
  height: 100%;
  min-height: 0;
}
.freeBox___865Cg {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: var(--token-XnnXV8YSKg9w);
  padding: var(--token-O2OprmOFWLju) var(--token-8b4HJYZr1yuK);
}
.text__gHmJ {
  position: relative;
}
.listSectionSeparator___9CStf:global(.__wab_instance) {
  animation: none;
  display: none;
}
.listSectionSeparatorshow_footer___9CStfh6DAq:global(.__wab_instance) {
  display: flex;
}
.text__uLxOp {
  animation: none;
  position: relative;
  padding: var(--token-O2OprmOFWLju) var(--token-8b4HJYZr1yuK);
}
