.root {
  box-shadow: 0px 8px 32px -8px var(--token-XeFw4MGauXBT),
    0px 8px 20px -16px var(--token-JrjdlBU-a5Ju);
  width: auto;
  height: auto;
  display: inline-flex;
  overflow: hidden;
  flex-direction: column;
  min-width: 320px;
  max-width: 960px;
  background: var(--token-iR8SeEwQZ);
  max-height: 75%;
  border-radius: 4px;
}
.freeBox__uYvb1 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  background: var(--token-p-rw5DRJTx);
  min-width: 0;
  padding: 16px;
  border-bottom: 1px solid var(--token-hoA5qaM-91G);
}
.freeBox__x9WX {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  column-gap: 8px;
}
.slotTargetTitle {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.25;
}
.freeBox__tdctO {
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  min-height: 100px;
  overflow: auto;
  height: 100%;
  row-gap: 16px;
  padding: 32px;
}
.freeBoxtintBackground__tdctOrjRan {
  background: var(--token-9jh0BkCENS);
}
.freeBox__j7Tdg {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  background: var(--token-p-rw5DRJTx);
  padding: 16px;
  border-top: 1px solid var(--token-hoA5qaM-91G);
}
.freeBox__mjiJn {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  justify-content: flex-end;
  column-gap: 8px;
}
.button__ciksZ:global(.__wab_instance) {
  position: relative;
}
.svg__r7Pk {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.text___1X6U {
  color: var(--token-UunsGa2Y3t3);
}
.svg___5DaTk {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.button___8Swrs:global(.__wab_instance) {
  position: relative;
}
.svg__eycPc {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.svg__oS3Cs {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
