.root {
  display: inline-flex;
  width: auto;
  height: auto;
  position: relative;
  align-items: stretch;
  border-radius: 6px;
}
.actionButton {
  position: relative;
  display: flex;
  flex-direction: row;
  background: var(--token-O4S7RMTqZ3);
  cursor: pointer;
  border-radius: 6px 0px 0px 6px;
  padding: 0.5rem;
  border-width: 0px;
}
.actionButton > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.actionButton > :global(.__wab_flex-container) > *,
.actionButton > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.actionButton > :global(.__wab_flex-container) > picture > img,
.actionButton
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.actionButtontype_primary {
  background: var(--token-D666zt2IZPL);
}
.actionButtontype_clear {
  background: #ffffff00;
}
.actionButtontype_noDivider {
  background: var(--token-brSQU2ryS);
  padding-right: 2px;
}
.actionButtonsize_small {
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 6px 0px 0px 6px;
}
.actionButtontype_noDivider_type_primary {
  background: var(--token-D666zt2IZPL);
}
.actionButtontype_noDivider_type_secondary {
  background: var(--token-O4S7RMTqZ3);
}
.roottype_noDivider_type_primary_hasIcon:hover
  .actionButtontype_noDivider_type_primary_hasIcon {
  background: var(--token-mu3x63xzJRW);
}
.root .actionButton:hover {
  background: var(--token-Ik3bdE1e1Uy);
}
.root .actionButton___focusVisible {
  box-shadow: 0px 0px 0px 2px #0091ff80;
}
.root .actionButton:active {
  background: var(--token-hoA5qaM-91G);
}
.roottype_primary .actionButtontype_primary:hover {
  background: var(--token-mu3x63xzJRW);
}
.roottype_primary .actionButtontype_primary:active {
  background: var(--token-VUsIDivgUss);
}
.freeBox {
  display: flex;
  position: relative;
  min-height: 1rem;
}
.freeBox > :global(.__wab_flex-container) {
  align-items: center;
  justify-content: flex-start;
}
.freeBoxhasIcon > :global(.__wab_flex-container) {
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBoxhasIcon > :global(.__wab_flex-container) > *,
.freeBoxhasIcon > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBoxhasIcon > :global(.__wab_flex-container) > picture > img,
.freeBoxhasIcon
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
  margin-top: 0px;
}
.slotTargetIcontype_clear {
  color: rgb(150, 153, 158);
}
.slotTargetIconhasIcon {
  color: var(--token-UunsGa2Y3t3);
}
.slotTargetIcontype_primary_hasIcon {
  color: #ffffff;
}
.slotTargetIcontype_noDivider_type_primary_hasIcon {
  color: #ffffff;
}
.roothasIcon:hover .slotTargetIconhasIcon {
  color: var(--token-UunsGa2Y3t3);
}
.roottype_primary_hasIcon:hover .slotTargetIcontype_primary_hasIcon {
  color: #ffffff;
}
.roottype_noDivider_type_primary_hasIcon:hover
  .slotTargetIcontype_noDivider_type_primary_hasIcon {
  color: #ffffff;
}
.svg__bZnf {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.slotTargetChildren {
  font-size: 12px;
  line-height: 1.25;
  white-space: pre;
}
.slotTargetChildren > :global(.__wab_text),
.slotTargetChildren > :global(.__wab_expr_html_text),
.slotTargetChildren > :global(.__wab_slot-string-wrapper),
.slotTargetChildren > :global(.__wab_slot) > :global(.__wab_text),
.slotTargetChildren > :global(.__wab_slot) > :global(.__wab_expr_html_text),
.slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper),
.slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper),
.slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper) {
  text-overflow: ellipsis;
}
.slotTargetChildren > *,
.slotTargetChildren > :global(.__wab_slot) > *,
.slotTargetChildren > :global(.__wab_slot) > :global(.__wab_slot) > *,
.slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.slotTargetChildren > picture > img,
.slotTargetChildren > :global(.__wab_slot) > picture > img,
.slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img,
.slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  overflow: hidden;
}
.slotTargetChildrentype_primary {
  color: var(--token-iR8SeEwQZ);
  font-weight: 500;
}
.slotTargetChildrentype_secondary {
  font-weight: 500;
}
.slotTargetChildrensize_small {
  font-size: 11px;
}
.svg___09Mtk {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: var(--token-fVn5vRhXJxQ);
  flex-shrink: 0;
  display: none;
}
.menuTrigger:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 100%;
  min-height: 0;
}
.menuTriggersize_small:global(.__wab_instance) {
  min-height: 1.75rem;
}
.svg__fvWlj {
  display: flex;
  position: relative;
  object-fit: cover;
  height: 1em;
}
.svgisOpen__fvWlJzsff0 {
  color: var(--token-UunsGa2Y3t3);
}
.svgtype_primary_isOpen__fvWlJdx7IWZsff0 {
  color: var(--token-Hnmc63c6Fir5);
}
.svg__u6RFr {
  display: flex;
  position: relative;
  object-fit: cover;
  color: var(--token-UunsGa2Y3t3);
  height: 1em;
}
