.ariaTooltip:global(.__wab_instance) {
  box-sizing: border-box;
  position: relative;
  color: #ffffff;
}
.slotTargetTrigger {
  color: var(--token-dED0FYPw-qtp);
  font-family: var(--token-NQPeu56hWEVO);
  font-size: var(--token-y-e1zIVKHJyd);
  line-height: var(--token-wCNdq3-87nVE);
}
.text___3QQbq {
  position: relative;
}
.overlayArrow:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox {
  display: flex;
  position: relative;
  background: var(--token-7ojREB1C2lcs);
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: auto;
  row-gap: var(--token-YwPV7bN0RvD8);
  border-radius: var(--token-O2OprmOFWLju);
  padding: 6px 8px;
}
.slotTargetContent {
  color: var(--token-9DPE9saBArps);
  font-family: var(--token-NQPeu56hWEVO);
  font-size: var(--token-y-e1zIVKHJyd);
  line-height: var(--token-wCNdq3-87nVE);
}
