.plasmic-default__all {
  display: block;
  white-space: inherit;
  grid-row: auto auto;
  grid-column: auto auto;
  position: relative;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  box-sizing: border-box;
  text-decoration-line: none;
}
.plasmic-default__img {
  display: inline-block;
}
.plasmic-default__input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  text-transform: inherit;
  background-color: #ffffff;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: lightgray;
  border-right-color: lightgray;
  border-bottom-color: lightgray;
  border-left-color: lightgray;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
}
.plasmic-default__textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  text-transform: inherit;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: lightgray;
  border-right-color: lightgray;
  border-bottom-color: lightgray;
  border-left-color: lightgray;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
}
.plasmic-default__button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  text-transform: inherit;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: lightgray;
  border-right-color: lightgray;
  border-bottom-color: lightgray;
  border-left-color: lightgray;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 6px;
  padding-right: 6px;
}
.plasmic-default__h1 {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
.plasmic-default__h2 {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
.plasmic-default__h3 {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
.plasmic-default__h4 {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
.plasmic-default__h5 {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
.plasmic-default__h6 {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
.plasmic-default__hr {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
.plasmic-default__blockquote {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
.plasmic-default__p {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
.plasmic-default__ol {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}
.plasmic-default__ul {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}
.plasmic-default__select {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 6px;
  padding-right: 6px;
}
.plasmic-default__component_wrapper {
  display: grid;
}
