@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600&family=IBM+Plex+Mono%3Aital%2Cwght%400%2C400%3B0%2C600&display=swap");
.root_reset {
  font-family: "Inter", sans-serif;
  font-size: 11px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
}
